[aut]-[aprovatório]-altera-data-em-página-FRFrTgKhERdWJufF.json
{"updatedAt":"2026-05-13T22:25:30.949Z","createdAt":"2026-05-13T22:24:41.739Z","id":"FRFrTgKhERdWJufF","name":"[AUT] [Aprovatório] Altera Data em Página","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const input = $input.all();\n\nconst dataCompleta = input[0].json[\"DATA DO EVENTO\"]; // ex: \"26/04/2025\"\nconst [dia, mes, ano] = dataCompleta.split(\"/\");\n\nconst dataCurta = `${dia}/${mes}/${ano.slice(-2)}`; // => \"26/04/25\"\n\nreturn [\n  {\n    json: {\n      data_lancamento: dataCurta\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,752],"id":"8c7db5ad-b63f-442f-bf7e-8dbe944632a5","name":"Arruma campo data"},{"parameters":{"jsCode":"const input = $input.all();\n\nconst meses = {\n  \"01\": \"JANEIRO\",\n  \"02\": \"FEVEREIRO\",\n  \"03\": \"MARÇO\",\n  \"04\": \"ABRIL\",\n  \"05\": \"MAIO\",\n  \"06\": \"JUNHO\",\n  \"07\": \"JULHO\",\n  \"08\": \"AGOSTO\",\n  \"09\": \"SETEMBRO\",\n  \"10\": \"OUTUBRO\",\n  \"11\": \"NOVEMBRO\",\n  \"12\": \"DEZEMBRO\"\n};\n\nconst dataEvento = $input.first().json.data_lancamento; // pega a primeira data da lista\nconst [dia, mes, ano] = dataEvento.split(\"/\");\n\nreturn [\n  {\n    json: {\n      data_lancamento: dataEvento,\n      data_lancamento_extenso: `${dia} de ${meses[mes]}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,752],"id":"d0d24437-ef18-434a-9ec2-77ae8d7cd313","name":"Data por extenso"},{"parameters":{"httpMethod":"POST","path":"aprovatorio-residencia-fluxo-paginas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2464,768],"id":"1303a8fe-bd79-423d-a507-f4244b629ebf","name":"Webhook","webhookId":"f4450ea5-78f8-4f3e-bab5-289eac6ad516"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"132a7397-c581-470a-9965-58a494003cea","leftValue":"={{ $json[\"DATA DO EVENTO\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2016,768],"id":"b53e117e-1538-40cc-a981-88dcea9b3bee","name":"If"},{"parameters":{"jsCode":"const input = $input.all();\n\nconst dataCurta = $input.first().json.data_lancamento;\n\nif (!dataCurta) {\n  throw new Error(\"Campo 'data_lancamento' está vazio ou não existe.\");\n}\n\n// Converte \"dd/mm/aa\" para \"dd-mm-aaaa\"\nconst [dia, mes, anoCurto] = dataCurta.split(\"/\");\nconst ano = anoCurto.length === 2 ? `20${anoCurto}` : anoCurto;\n\n// Monta a data no formato \"dd-mm-aaaa 09:00:00\"\nconst dataHora = `${dia}-${mes}-${ano} 09:00:00`;\n\nreturn [\n  {\n    json: {\n      data_lancamento_hora: dataHora\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,752],"id":"4bfbc13e-a839-49ef-8e2e-05bfaa4b4067","name":"Data/Hora","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw","mode":"list","cachedResultName":"PLANILHA - DADOS - LANÇAMENTO PAGO SEMANAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle Geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2224,768],"id":"0dbdeed6-32af-43a7-b853-3a926d72b9f0","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"method":"POST","url":"https://meuconsultoriointeligente.com/wp-json/wp/v2/pages/2475","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"acf\": {\n    \"data_lancamento\": \"{{ $('Data por extenso').item.json.data_lancamento }}\",\n    \"data_lancamento_extenso\": \"{{ $('Data por extenso').item.json.data_lancamento_extenso }}\",\n\t\"data_hora_lancamento\": \"{{ $json.data_lancamento_hora }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,368],"id":"f1fe0dd0-a012-43a6-9246-b5c7dce35087","name":"Página teste","credentials":{"httpBasicAuth":{"id":"AtOQkP1auA6kB2lw","name":"Wordpress - API"}}},{"parameters":{"method":"POST","url":"https://meuconsultoriointeligente.com/wp-json/wp/v2/pages/2604","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"acf\": {\n    \"data_lancamento\": \"{{ $('Data por extenso').item.json.data_lancamento }}\",\n    \"data_lancamento_extenso\": \"{{ $('Data por extenso').item.json.data_lancamento_extenso }}\",\n\t\"data_hora_lancamento\": \"{{ $json.data_lancamento_hora }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,576],"id":"8b346173-25fb-4f66-89aa-6926c1f532a2","name":"Página backup","credentials":{"httpBasicAuth":{"id":"AtOQkP1auA6kB2lw","name":"Wordpress - API"}}},{"parameters":{"method":"POST","url":"https://meuconsultoriointeligente.com/wp-json/wp/v2/pages/2604","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"acf\": {\n    \"data_lancamento\": \"{{ $('Data por extenso').item.json.data_lancamento }}\",\n    \"data_lancamento_extenso\": \"{{ $('Data por extenso').item.json.data_lancamento_extenso }}\",\n\t\"data_hora_lancamento\": \"{{ $json.data_lancamento_hora }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,768],"id":"05ba2bf5-63af-43ee-9b9a-247e1b27b437","name":"Página backup1","credentials":{"httpBasicAuth":{"id":"AtOQkP1auA6kB2lw","name":"Wordpress - API"}}}],"connections":{"Arruma campo data":{"main":[[{"node":"Data por extenso","type":"main","index":0}]]},"Data por extenso":{"main":[[{"node":"Data/Hora","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Arruma campo data","type":"main","index":0}]]},"Data/Hora":{"main":[[{"node":"Página teste","type":"main","index":0},{"node":"Página backup","type":"main","index":0},{"node":"Página backup1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"386ff549-1f66-4301-ada6-6a7cd1e0c9f5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-13T22:24:41.739Z","createdAt":"2026-05-13T22:24:41.739Z","role":"workflow:owner","workflowId":"FRFrTgKhERdWJufF","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":null,"tags":[]}