[aut]-altera-data-em-página-Bn4E3NZTBgLuNA7b.json
{"updatedAt":"2026-04-09T23:32:21.469Z","createdAt":"2026-04-01T14:45:00.583Z","id":"Bn4E3NZTBgLuNA7b","name":"[AUT] Altera Data em Página","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const input = $input.all();\n\nconst dataCompleta = input[0].json[\"DATA DO EVENTO\"]; // ex: \"26/04/2025\"\nconst [dia, mes, ano] = dataCompleta.split(\"/\");\n\nconst dataCurta = `${dia}/${mes}/${ano.slice(-2)}`; // => \"26/04/25\"\n\nreturn [\n  {\n    json: {\n      data_lancamento: dataCurta\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,752],"id":"e947918c-5234-4188-a30a-d95a50198d8f","name":"Arruma campo data"},{"parameters":{"jsCode":"const input = $input.all();\n\nconst meses = {\n  \"01\": \"JANEIRO\",\n  \"02\": \"FEVEREIRO\",\n  \"03\": \"MARÇO\",\n  \"04\": \"ABRIL\",\n  \"05\": \"MAIO\",\n  \"06\": \"JUNHO\",\n  \"07\": \"JULHO\",\n  \"08\": \"AGOSTO\",\n  \"09\": \"SETEMBRO\",\n  \"10\": \"OUTUBRO\",\n  \"11\": \"NOVEMBRO\",\n  \"12\": \"DEZEMBRO\"\n};\n\nconst dataEvento = $input.first().json.data_lancamento; // pega a primeira data da lista\nconst [dia, mes, ano] = dataEvento.split(\"/\");\n\nreturn [\n  {\n    json: {\n      data_lancamento: dataEvento,\n      data_lancamento_extenso: `${dia} de ${meses[mes]}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,752],"id":"018c898e-2315-4d5c-aba9-31f6a45968da","name":"Data por extenso"},{"parameters":{"httpMethod":"POST","path":"ativa-gatilho-paginasPQL","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2464,768],"id":"39adb175-172c-4a40-9eac-ff774274da9e","name":"Webhook","webhookId":"0c935089-9852-4262-942a-45f9a9546c7b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"132a7397-c581-470a-9965-58a494003cea","leftValue":"={{ $json[\"DATA DO EVENTO\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2016,768],"id":"0ace40bd-64d2-421c-ae24-c669c8785634","name":"If"},{"parameters":{"jsCode":"const input = $input.all();\n\nconst dataCurta = $input.first().json.data_lancamento;\n\nif (!dataCurta) {\n  throw new Error(\"Campo 'data_lancamento' está vazio ou não existe.\");\n}\n\n// Converte \"dd/mm/aa\" para \"dd-mm-aaaa\"\nconst [dia, mes, anoCurto] = dataCurta.split(\"/\");\nconst ano = anoCurto.length === 2 ? `20${anoCurto}` : anoCurto;\n\n// Monta a data no formato \"dd-mm-aaaa 09:00:00\"\nconst dataHora = `${dia}-${mes}-${ano} 09:00:00`;\n\nreturn [\n  {\n    json: {\n      data_lancamento_hora: dataHora\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,752],"id":"7034d55b-7f90-458a-a2fa-897edb2e72e9","name":"Data/Hora","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw","mode":"list","cachedResultName":"PLANILHA - DADOS - LANÇAMENTO PAGO SEMANAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle Geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2224,768],"id":"21cebccf-8166-482e-82e2-d267212ce1f1","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"method":"POST","url":"https://meuconsultoriointeligente.com/wp-json/wp/v2/pages/2475","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"acf\": {\n    \"data_lancamento\": \"{{ $('Data por extenso').item.json.data_lancamento }}\",\n    \"data_lancamento_extenso\": \"{{ $('Data por extenso').item.json.data_lancamento_extenso }}\",\n\t\"data_hora_lancamento\": \"{{ $json.data_lancamento_hora }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,368],"id":"62ab9318-f3bd-4d2d-9853-8259ddfe8b90","name":"Página teste","credentials":{"httpBasicAuth":{"id":"AtOQkP1auA6kB2lw","name":"Wordpress - API"}}},{"parameters":{"method":"POST","url":"https://meuconsultoriointeligente.com/wp-json/wp/v2/pages/2604","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"acf\": {\n    \"data_lancamento\": \"{{ $('Data por extenso').item.json.data_lancamento }}\",\n    \"data_lancamento_extenso\": \"{{ $('Data por extenso').item.json.data_lancamento_extenso }}\",\n\t\"data_hora_lancamento\": \"{{ $json.data_lancamento_hora }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,576],"id":"9b44073f-05ae-4526-8876-3d63e503dc11","name":"Página backup","credentials":{"httpBasicAuth":{"id":"AtOQkP1auA6kB2lw","name":"Wordpress - API"}}}],"connections":{"Arruma campo data":{"main":[[{"node":"Data por extenso","type":"main","index":0}]]},"Data por extenso":{"main":[[{"node":"Data/Hora","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Arruma campo data","type":"main","index":0}]]},"Data/Hora":{"main":[[{"node":"Página teste","type":"main","index":0},{"node":"Página backup","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aba72f83-1e8a-47a7-9675-8aef71e0e83a","activeVersionId":"aba72f83-1e8a-47a7-9675-8aef71e0e83a","triggerCount":1,"shared":[{"updatedAt":"2026-04-01T14:45:00.583Z","createdAt":"2026-04-01T14:45:00.583Z","role":"workflow:owner","workflowId":"Bn4E3NZTBgLuNA7b","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-04-09T23:32:25.761Z","createdAt":"2026-04-09T23:32:21.470Z","versionId":"aba72f83-1e8a-47a7-9675-8aef71e0e83a","workflowId":"Bn4E3NZTBgLuNA7b","nodes":[{"parameters":{"jsCode":"const input = $input.all();\n\nconst dataCompleta = input[0].json[\"DATA DO EVENTO\"]; // ex: \"26/04/2025\"\nconst [dia, mes, ano] = dataCompleta.split(\"/\");\n\nconst dataCurta = `${dia}/${mes}/${ano.slice(-2)}`; // => \"26/04/25\"\n\nreturn [\n  {\n    json: {\n      data_lancamento: dataCurta\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,752],"id":"e947918c-5234-4188-a30a-d95a50198d8f","name":"Arruma campo data"},{"parameters":{"jsCode":"const input = $input.all();\n\nconst meses = {\n  \"01\": \"JANEIRO\",\n  \"02\": \"FEVEREIRO\",\n  \"03\": \"MARÇO\",\n  \"04\": \"ABRIL\",\n  \"05\": \"MAIO\",\n  \"06\": \"JUNHO\",\n  \"07\": \"JULHO\",\n  \"08\": \"AGOSTO\",\n  \"09\": \"SETEMBRO\",\n  \"10\": \"OUTUBRO\",\n  \"11\": \"NOVEMBRO\",\n  \"12\": \"DEZEMBRO\"\n};\n\nconst dataEvento = $input.first().json.data_lancamento; // pega a primeira data da lista\nconst [dia, mes, ano] = dataEvento.split(\"/\");\n\nreturn [\n  {\n    json: {\n      data_lancamento: dataEvento,\n      data_lancamento_extenso: `${dia} de ${meses[mes]}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,752],"id":"018c898e-2315-4d5c-aba9-31f6a45968da","name":"Data por extenso"},{"parameters":{"httpMethod":"POST","path":"ativa-gatilho-paginasPQL","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2464,768],"id":"39adb175-172c-4a40-9eac-ff774274da9e","name":"Webhook","webhookId":"0c935089-9852-4262-942a-45f9a9546c7b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"132a7397-c581-470a-9965-58a494003cea","leftValue":"={{ $json[\"DATA DO EVENTO\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2016,768],"id":"0ace40bd-64d2-421c-ae24-c669c8785634","name":"If"},{"parameters":{"jsCode":"const input = $input.all();\n\nconst dataCurta = $input.first().json.data_lancamento;\n\nif (!dataCurta) {\n  throw new Error(\"Campo 'data_lancamento' está vazio ou não existe.\");\n}\n\n// Converte \"dd/mm/aa\" para \"dd-mm-aaaa\"\nconst [dia, mes, anoCurto] = dataCurta.split(\"/\");\nconst ano = anoCurto.length === 2 ? `20${anoCurto}` : anoCurto;\n\n// Monta a data no formato \"dd-mm-aaaa 09:00:00\"\nconst dataHora = `${dia}-${mes}-${ano} 09:00:00`;\n\nreturn [\n  {\n    json: {\n      data_lancamento_hora: dataHora\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,752],"id":"7034d55b-7f90-458a-a2fa-897edb2e72e9","name":"Data/Hora","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw","mode":"list","cachedResultName":"PLANILHA - DADOS - LANÇAMENTO PAGO SEMANAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle Geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2224,768],"id":"21cebccf-8166-482e-82e2-d267212ce1f1","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"method":"POST","url":"https://meuconsultoriointeligente.com/wp-json/wp/v2/pages/2475","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"acf\": {\n    \"data_lancamento\": \"{{ $('Data por extenso').item.json.data_lancamento }}\",\n    \"data_lancamento_extenso\": \"{{ $('Data por extenso').item.json.data_lancamento_extenso }}\",\n\t\"data_hora_lancamento\": \"{{ $json.data_lancamento_hora }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,368],"id":"62ab9318-f3bd-4d2d-9853-8259ddfe8b90","name":"Página teste","credentials":{"httpBasicAuth":{"id":"AtOQkP1auA6kB2lw","name":"Wordpress - API"}}},{"parameters":{"method":"POST","url":"https://meuconsultoriointeligente.com/wp-json/wp/v2/pages/2604","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"acf\": {\n    \"data_lancamento\": \"{{ $('Data por extenso').item.json.data_lancamento }}\",\n    \"data_lancamento_extenso\": \"{{ $('Data por extenso').item.json.data_lancamento_extenso }}\",\n\t\"data_hora_lancamento\": \"{{ $json.data_lancamento_hora }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,576],"id":"9b44073f-05ae-4526-8876-3d63e503dc11","name":"Página backup","credentials":{"httpBasicAuth":{"id":"AtOQkP1auA6kB2lw","name":"Wordpress - API"}}}],"connections":{"Arruma campo data":{"main":[[{"node":"Data por extenso","type":"main","index":0}]]},"Data por extenso":{"main":[[{"node":"Data/Hora","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Arruma campo data","type":"main","index":0}]]},"Data/Hora":{"main":[[{"node":"Página teste","type":"main","index":0},{"node":"Página backup","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]}},"authors":"Time Squad","name":"Version aba72f83","description":"","autosaved":true},"tags":[]}