[aut]-[aprovatório]-fluxo-de-reminder-active-rpQUMq0YMO0O8Kri.json
{"updatedAt":"2026-05-15T00:22:16.165Z","createdAt":"2026-05-13T21:58:03.549Z","id":"rpQUMq0YMO0O8Kri","name":"[AUT] [Aprovatório] Fluxo de Reminder Active","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","limit":1,"additionalFields":{"email":"={{ $json.body['contact[email]'] }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-5840,-336],"id":"3d604452-f8c2-4469-ac08-d2e1192bedbb","name":"Localiza lead no Active4","retryOnFail":false,"notesInFlow":false,"alwaysOutputData":true,"credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb71d8aa-340c-4d4e-b0dc-baeb204c63f0","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5024,-1184],"id":"298d47de-d0eb-49d1-9d98-95c4f6179ef9","name":"Verifica email no Active4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb71d8aa-340c-4d4e-b0dc-baeb204c63f0","leftValue":"={{ $('Localiza lead no Active4').item.json.phone }}\n","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4464,-1776],"id":"b57c0f69-1eb9-4f48-aa06-dc999b173b34","name":"Verifica telefone no Active4"},{"parameters":{"operation":"update","contactId":"={{ $('Localiza lead no Active4').item.json.id }}","updateFields":{"phone":"={{ $('Webhook1').item.json.body.data.buyer.checkout_phone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3920,-1760],"id":"1f150d2b-b9fd-414b-b5e2-787b74707708","name":"Atualiza telefone do lead4","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"email":"={{ $('Webhook1').item.json.body['contact[email]'] }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $('Webhook1').item.json.body['contact[first_name]'] }}","phone":"={{ $('Webhook1').item.json.body['contact[phone]'] }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2400,-2064],"id":"ff39d5ba-496e-40f8-a9c9-25a01a7834f6","name":"Cria contato no Active4","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"63df66a4-bbb0-4277-b61c-7eb0ceb20aaa","name":"contactId","value":"={{ $json.contact }}","type":"string"},{"id":"41d3a79a-06f4-432a-8148-e5c8f67cd499","name":"tagIds","value":"[\"927\", \"915\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3888,-2000],"id":"ba3eb80b-c071-45cb-bb19-94829ad710c4","name":"Tags para remoção"},{"parameters":{"url":"=https://institutodetrafego.api-us1.com/api/3/contacts/{{ $json.contactId }}/contactTags","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3696,-2000],"id":"88cfbe2c-8747-4798-9f8a-f86655f14af4","name":"Obter Associações de Tags","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"jsCode":"// Lista de tag IDs que deseja remover\nconst tagIdsToRemove = $('Tags para remoção').first().json.tagIds;\n\n// Lista de associações de tags obtidas do passo anterior\nconst contactTags = $input.first().json.contactTags;\n\n// Filtra associações correspondentes aos tagIds fornecidos\nconst filteredTags = contactTags\n  .filter(contactTag => tagIdsToRemove.includes(contactTag.tag))\n  .map(contactTag => ({ contactTagId: contactTag.id }));\n\n// Retorna o resultado, incluindo uma flag indicando se encontrou algo\nreturn filteredTags.length > 0\n  ? filteredTags\n  : [{ noTagsFound: true }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,-2000],"id":"eb1e4354-ed0f-4fa1-af68-6d6b648c8151","name":"Filtrar Tags para Remoção","alwaysOutputData":true},{"parameters":{"method":"DELETE","url":"=https://institutodetrafego.api-us1.com/api/3/contactTags/{{ $json.contactTagId }}","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,-2256],"id":"93ded3fa-abda-47d3-affa-f3aa47f104f7","name":"Remover Tags","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3424,-2416],"id":"818b2a8f-3741-40fb-8927-73473653310b","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-3040,-2304],"id":"225da01c-4e81-4157-9b83-c41ac2b58b2a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58bb978f-588e-4845-827d-02ac160a1141","leftValue":"={{ $json.noTagsFound }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3696,-2528],"id":"0564d875-ce6f-4b53-a563-131aa7dae56f","name":"If"},{"parameters":{"method":"POST","url":"=https://aprovatorio.api-us1.com/api/3/contactAutomations","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contactAutomation\": {\n    \"contact\": \"{{ $json.id }}\",\n    \"automation\": \"5\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,-336],"id":"ef753ba7-1e26-47ad-921f-1f6ccd83d442","name":"Adiciona lead a automação do Active","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4176,-336],"id":"7acbf997-a895-4488-83b9-d7e757092dd5","name":"Verifica planilha de controle","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"update","contactId":"={{ $('Localiza lead no Active4').item.json.id }}","updateFields":{"fieldValues":{"property":[{"field":"20","value":"={{ $('Verifica planilha de controle').item.json['DATA DO EVENTO'] }}"},{"field":"28","value":"={{ $json['sábado'] }}"},{"field":"29","value":"={{ $json.domingo }}"},{"field":"30","value":"={{ $json['segunda-feira'] }}"},{"field":"32","value":"={{ $('Verifica planilha de controle').item.json['LINK GOOGLE MEET'] }}"},{"field":"33","value":"={{ $('Verifica planilha de controle').item.json['LINK GRUPO WHATSAPP'] }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3712,-336],"id":"6294b7e8-6224-416b-a0dd-68a8f5ec4b9b","name":"Atualiza campos personalizados","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"06/01/2025\" (segunda-feira)\n\n// Função para converter string \"DD/MM/YYYY\" para um objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day); // JavaScript usa mês indexado em 0\n}\n\n// Função para adicionar dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n    return `${newDate.getDate().toString().padStart(2, '0')}/${(newDate.getMonth() + 1).toString().padStart(2, '0')}/${newDate.getFullYear()}`;\n}\n\n// Converte a data inicial (segunda-feira)\nconst monday = parseDate(inputDate);\n\n// Calcula os dias seguintes\nconst tuesday = addDays(monday, 2);\nconst wednesday = addDays(monday, 3);\nconst thursday = addDays(monday, 4);\nconst friday = addDays(monday, 5);\n\n// Retorna a saída formatada corretamente\nreturn [\n  {\n    \"segunda-feira\": `${inputDate}`,\n    \"terça-feira\": `${tuesday}`,\n    \"quarta-feira\": `${wednesday}`,\n    \"quinta-feira\": `${thursday}`,\n    \"sexta-feira\": `${friday}`\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,-1104],"id":"f31b8e1a-407e-4508-998e-ee7d38f49fc0","name":"Calcula datas de RMD"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5360,-320],"id":"0351d3a1-f049-4b8a-9dc5-08989e7d59b2","name":"Randomiza o tempo de espera2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"},"id":"cf5140a2-4302-409b-bf9f-cc06047486bc"}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a522d375-fac4-4863-954b-6f62f08354fd","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4928,-368],"id":"7f6e5be9-4212-421c-9e7f-42002c906b7e","name":"Switch3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4608,-560],"id":"104735e0-3453-4206-b114-fd3a31dafbb3","name":"Espera 2 minutos ","webhookId":"092c5a5c-1e01-4fc2-bcce-9c63886eda10"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4592,-432],"id":"2d121dd2-9c5c-4a54-98f3-da7368b65b28","name":"Espera 5 minutos ","webhookId":"6c33b8ca-d114-4d49-8ab1-da5d5b735c76"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4592,-320],"id":"dcbb0f95-2cdc-4b76-98d4-d13ee869e652","name":"Espera 7 minutos ","webhookId":"2e42d180-b2d0-48d5-a414-69e4ab4678ae"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4592,-176],"id":"66273774-11ae-43f0-bc06-8db44a7f193e","name":"Espera 10 minutos ","webhookId":"667876a5-47f7-48a9-87ea-5373c05a339e"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1952,-2064],"id":"bd2ca7d4-5099-46a9-bdc1-a3a3d250a71b","name":"Randomiza o tempo de espera3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"},"id":"cf5140a2-4302-409b-bf9f-cc06047486bc"}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a522d375-fac4-4863-954b-6f62f08354fd","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1440,-2080],"id":"503a2447-c130-4fa2-bd55-e0b5615333bf","name":"Switch4"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1216,-2304],"id":"7e5c5e69-3dfd-4f9e-b79c-5ba1ed4f238d","name":"Espera 2 minutos 2","webhookId":"487577d6-3f22-488a-b8e0-be18bb3ec450"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1200,-2144],"id":"2ae43a7e-09e7-449e-b0b1-ccee1e97e898","name":"Espera 5 minutos 2","webhookId":"bdc63acb-7331-48b4-92a9-dcd1f7b82862"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1200,-1968],"id":"e1d75e3c-1a2e-4096-a45e-9f3bef83ef53","name":"Espera 7 minutos 2","webhookId":"d8407396-f5af-44ba-bb91-0f8b35273bf5"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1200,-1776],"id":"2178ca8a-6a1f-4fbe-b8eb-7aab985bcf58","name":"Espera 10 minutos 2","webhookId":"9ce0e483-6686-4082-a203-9c9c6b9d277e"},{"parameters":{"operation":"update","contactId":"={{ $('tag Compra Aprovada').first().json.contact }}","updateFields":{"fieldValues":{"property":[{"field":"1","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.src }}"},{"field":"5","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.sck }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3328,-2640],"id":"a566bb4f-93e2-4120-970b-ad54408d4179","name":"Atualiza campos de utm","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"httpMethod":"POST","path":"aprovatorio-residencia-fluxo-active","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-6192,-336],"id":"9adfba7d-aa7b-4768-ba70-bcd32aaf22eb","name":"Webhook1","webhookId":"01517b9b-b2dc-476f-be45-ca6308b53505"},{"parameters":{"jsCode":"// === CONFIG ===\n// Troque \"Webhook\" pelo nome EXATO do seu nó Webhook, se for diferente.\nconst WEBHOOK_NODE = \"Webhook\";\n\n// === HELPERS ===\nfunction get(obj, path) {\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined ? o[k] : undefined), obj);\n}\nfunction urlDecodeSafe(s){ try { return decodeURIComponent(s); } catch { return s; } }\nfunction tryParseBase64Json(s){\n  try{\n    const b64 = s.replace(/-/g, '+').replace(/_/g, '/');\n    const json = Buffer.from(b64, 'base64').toString('utf8');\n    const obj = JSON.parse(json);\n    return {\n      utm_source: obj.us ?? obj.utm_source ?? '',\n      utm_medium: obj.um ?? obj.utm_medium ?? '',\n      utm_campaign: obj.uc ?? obj.utm_campaign ?? '',\n      utm_content: obj.uct ?? obj.utm_content ?? '',\n      utm_term: obj.ut ?? obj.utm_term ?? '',\n    };\n  } catch { return null; }\n}\nfunction splitPlain(s){\n  const sep = s.includes('|') ? '|' : (s.includes('~') ? '~' : '|');\n  const parts = s.split(sep).map(v => urlDecodeSafe(v.replace(/\\+/g, ' ').trim()));\n  while (parts.length < 5) parts.push('');\n  const [utm_source, utm_medium, utm_campaign, utm_content, utm_term] = parts;\n  return { utm_source, utm_medium, utm_campaign, utm_content, utm_term };\n}\nfunction parseXcod(s){\n  if (!s) return { utm_source:'', utm_medium:'', utm_campaign:'', utm_content:'', utm_term:'' };\n  const asJson = tryParseBase64Json(s);\n  return asJson ?? splitPlain(s);\n}\n\n// === CAPTURA O xcod DIRETO DO NÓ WEBHOOK ===\n// Pega os itens do nó \"Webhook\" (saída 0)\nconst webhookItems = $items(WEBHOOK_NODE, 0) || [];\nconst w = webhookItems[0]?.json || {};\n\n// O payload pode vir \"embrulhado\" em body.data... (URL de teste) ou direto em data...\nconst candidates = [\n  get(w, 'body.data.purchase.origin.xcod'),\n  get(w, 'data.purchase.origin.xcod'),\n  get(w, 'purchase.origin.xcod'),\n  get(w, 'origin.xcod'),\n];\n\nconst xcod = (candidates.find(v => typeof v === 'string' && v.length) || '').toString();\n\n// Faz o parse das UTMs\nconst utm = parseXcod(xcod);\n\n// === OUTPUT APENAS AS MÉTRICAS ===\nreturn [{\n  json: {\n    utm_source: utm.utm_source,\n    utm_medium: utm.utm_medium,\n    utm_campaign: utm.utm_campaign,\n    utm_content: utm.utm_content,\n    utm_term: utm.utm_term,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4816,-1552],"id":"525b57ec-40b6-45f4-8dde-bc9a1005f61f","name":"Filtra as utms"},{"parameters":{"resource":"tag","operation":"getAll","returnAll":true},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-5728,-1024],"id":"358f8821-f438-4edb-92fb-b2d840f586e6","name":"Verifica ID das tags","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"url":"https://meuconsultoriointeligente.api-us1.com/api/3/fields","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Api-Token\": \"7db44c450658560f2893d83ef80959dd87e2baf3513c48c57b828d7d69a3a3d816310f75\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4960,-1808],"id":"0c390e45-877f-4c9e-903b-c0a3105b4fe0","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"49c6e86a-1040-4bc2-8f43-8a6ff3dee067","leftValue":"=","rightValue":"PQL","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4752,-1808],"id":"533f2853-cd97-40b1-8952-63d6dbead697","name":"If1"},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"16/05/2026\"\n\n// Função para converter string \"DD/MM/YYYY\" para objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day);\n}\n\n// Função para adicionar dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n\n    return `${newDate.getDate().toString().padStart(2, '0')}/${\n        (newDate.getMonth() + 1).toString().padStart(2, '0')\n    }/${newDate.getFullYear()}`;\n}\n\n// DATA RMD começa no sábado\nconst saturday = parseDate(inputDate);\n\n// Calcula os próximos dias\nconst sunday = addDays(saturday, 1);\nconst monday = addDays(saturday, 2);\nconst tuesday = addDays(saturday, 3);\nconst wednesday = addDays(saturday, 4);\nconst thursday = addDays(saturday, 5);\nconst friday = addDays(saturday, 6);\n\n// Retorna a saída\nreturn [\n  {\n    json: {\n      \"sábado\": addDays(saturday, 0),\n      \"domingo\": sunday,\n      \"segunda-feira\": monday,\n      \"terça-feira\": tuesday,\n      \"quarta-feira\": wednesday,\n      \"quinta-feira\": thursday,\n      \"sexta-feira\": friday\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3936,-336],"id":"ec38a91b-78e7-464f-b856-b86040a7410a","name":"Calcula datas de RMD2"},{"parameters":{"resource":"contactTag","tagId":"49","contactId":"={{ $('Localiza lead no Active4').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-4224,-1808],"id":"76602b0c-fa24-4b7a-8d64-0313614b8d0a","name":"tag Compra Aprovada","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"content":"## RMD APROVATÓRIO\n\n","height":968,"width":5300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6368,-768],"id":"dda937cc-b374-44e4-b0af-bd12eb980a6b","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"=https://aprovatorio.api-us1.com/api/3/contactAutomations","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contactAutomation\": {\n    \"contact\": \"{{ $json.id }}\",\n    \"automation\": \"5\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-2048],"id":"db9f18cb-4ee2-4e99-8575-6fc705d87a88","name":"Adiciona lead a automação do Active1","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-784,-2048],"id":"ca15ac8c-c288-4cb4-aa4c-39471df3b832","name":"Verifica planilha de controle1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"update","contactId":"={{ $('Localiza lead no Active4').item.json.id }}","updateFields":{"fieldValues":{"property":[{"field":"20","value":"={{ $('Verifica planilha de controle1').item.json['DATA DO EVENTO'] }}"},{"field":"28","value":"={{ $json['sábado'] }}"},{"field":"29","value":"={{ $json.domingo }}"},{"field":"30","value":"={{ $json['segunda-feira'] }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-192,-2048],"id":"08dbecdc-446a-498b-8849-5f44d20b731f","name":"Atualiza campos personalizados1","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"16/05/2026\"\n\n// Função para converter string \"DD/MM/YYYY\" para objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day);\n}\n\n// Função para adicionar dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n\n    return `${newDate.getDate().toString().padStart(2, '0')}/${\n        (newDate.getMonth() + 1).toString().padStart(2, '0')\n    }/${newDate.getFullYear()}`;\n}\n\n// DATA RMD começa no sábado\nconst saturday = parseDate(inputDate);\n\n// Calcula os próximos dias\nconst sunday = addDays(saturday, 1);\nconst monday = addDays(saturday, 2);\nconst tuesday = addDays(saturday, 3);\nconst wednesday = addDays(saturday, 4);\nconst thursday = addDays(saturday, 5);\nconst friday = addDays(saturday, 6);\n\n// Retorna a saída\nreturn [\n  {\n    json: {\n      \"sábado\": addDays(saturday, 0),\n      \"domingo\": sunday,\n      \"segunda-feira\": monday,\n      \"terça-feira\": tuesday,\n      \"quarta-feira\": wednesday,\n      \"quinta-feira\": thursday,\n      \"sexta-feira\": friday\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-2048],"id":"3f06cbbc-07ce-4f2f-8c9d-b00ebc229763","name":"Calcula datas de RMD3"}],"connections":{"Localiza lead no Active4":{"main":[[{"node":"Randomiza o tempo de espera2","type":"main","index":0}]]},"Verifica email no Active4":{"main":[[],[]]},"Verifica telefone no Active4":{"main":[[{"node":"tag Compra Aprovada","type":"main","index":0}],[{"node":"Atualiza telefone do lead4","type":"main","index":0}]]},"Atualiza telefone do lead4":{"main":[[{"node":"tag Compra Aprovada","type":"main","index":0}]]},"Cria contato no Active4":{"main":[[{"node":"Randomiza o tempo de espera3","type":"main","index":0}]]},"Tags para remoção":{"main":[[{"node":"Obter Associações de Tags","type":"main","index":0}]]},"Obter Associações de Tags":{"main":[[{"node":"Filtrar Tags para Remoção","type":"main","index":0}]]},"Filtrar Tags para Remoção":{"main":[[]]},"Remover Tags":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Remover Tags","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Atualiza campos de utm","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Verifica planilha de controle":{"main":[[{"node":"Calcula datas de RMD2","type":"main","index":0}]]},"Atualiza campos personalizados":{"main":[[{"node":"Adiciona lead a automação do Active","type":"main","index":0}]]},"Calcula datas de RMD":{"main":[[]]},"Randomiza o tempo de espera2":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Espera 2 minutos ","type":"main","index":0}],[{"node":"Espera 5 minutos ","type":"main","index":0}],[{"node":"Espera 7 minutos ","type":"main","index":0}],[{"node":"Espera 10 minutos ","type":"main","index":0}]]},"Randomiza o tempo de espera3":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Espera 2 minutos 2","type":"main","index":0}],[{"node":"Espera 5 minutos 2","type":"main","index":0}],[{"node":"Espera 7 minutos 2","type":"main","index":0}],[{"node":"Espera 10 minutos 2","type":"main","index":0}]]},"Espera 2 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 5 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 7 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 10 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 2 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 5 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 7 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 10 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Atualiza campos de utm":{"main":[[]]},"Webhook1":{"main":[[{"node":"Localiza lead no Active4","type":"main","index":0}]]},"Filtra as utms":{"main":[[]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Calcula datas de RMD2":{"main":[[{"node":"Atualiza campos personalizados","type":"main","index":0}]]},"tag Compra Aprovada":{"main":[[]]},"Verifica planilha de controle1":{"main":[[{"node":"Calcula datas de RMD3","type":"main","index":0}]]},"Atualiza campos personalizados1":{"main":[[{"node":"Adiciona lead a automação do Active1","type":"main","index":0}]]},"Calcula datas de RMD3":{"main":[[{"node":"Atualiza campos personalizados1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.squadpro.com.br","user-agent":"GuzzleHttp/7","content-length":"334","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.140.234.100","x-forwarded-host":"n8n.squadpro.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"019bc494e108","x-real-ip":"3.140.234.100","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"268","contact[email]":"joaovictor.s.lara@hotmail.com","contact[first_name]":"joao victor","contact[last_name]":"","contact[phone]":"31989898989","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"","contact[ip4]":"177.127.249.180","contact[fields][o_que_voc_]":"Pai ou responsavel","seriesid":"4"},"webhookUrl":"https://webhook.squadpro.com.br/webhook-test/aprovatorio-residencia-fluxo-active","executionMode":"test"}}]},"versionId":"8100d32d-570b-4792-b565-edb5c6ae1d16","activeVersionId":"8100d32d-570b-4792-b565-edb5c6ae1d16","triggerCount":1,"shared":[{"updatedAt":"2026-05-13T21:58:03.549Z","createdAt":"2026-05-13T21:58:03.549Z","role":"workflow:owner","workflowId":"rpQUMq0YMO0O8Kri","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-05-15T00:22:48.915Z","createdAt":"2026-05-15T00:22:16.167Z","versionId":"8100d32d-570b-4792-b565-edb5c6ae1d16","workflowId":"rpQUMq0YMO0O8Kri","nodes":[{"parameters":{"operation":"getAll","limit":1,"additionalFields":{"email":"={{ $json.body['contact[email]'] }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-5840,-336],"id":"3d604452-f8c2-4469-ac08-d2e1192bedbb","name":"Localiza lead no Active4","retryOnFail":false,"notesInFlow":false,"alwaysOutputData":true,"credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb71d8aa-340c-4d4e-b0dc-baeb204c63f0","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5024,-1184],"id":"298d47de-d0eb-49d1-9d98-95c4f6179ef9","name":"Verifica email no Active4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb71d8aa-340c-4d4e-b0dc-baeb204c63f0","leftValue":"={{ $('Localiza lead no Active4').item.json.phone }}\n","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4464,-1776],"id":"b57c0f69-1eb9-4f48-aa06-dc999b173b34","name":"Verifica telefone no Active4"},{"parameters":{"operation":"update","contactId":"={{ $('Localiza lead no Active4').item.json.id }}","updateFields":{"phone":"={{ $('Webhook1').item.json.body.data.buyer.checkout_phone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3920,-1760],"id":"1f150d2b-b9fd-414b-b5e2-787b74707708","name":"Atualiza telefone do lead4","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"email":"={{ $('Webhook1').item.json.body['contact[email]'] }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $('Webhook1').item.json.body['contact[first_name]'] }}","phone":"={{ $('Webhook1').item.json.body['contact[phone]'] }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2400,-2064],"id":"ff39d5ba-496e-40f8-a9c9-25a01a7834f6","name":"Cria contato no Active4","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"63df66a4-bbb0-4277-b61c-7eb0ceb20aaa","name":"contactId","value":"={{ $json.contact }}","type":"string"},{"id":"41d3a79a-06f4-432a-8148-e5c8f67cd499","name":"tagIds","value":"[\"927\", \"915\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3888,-2000],"id":"ba3eb80b-c071-45cb-bb19-94829ad710c4","name":"Tags para remoção"},{"parameters":{"url":"=https://institutodetrafego.api-us1.com/api/3/contacts/{{ $json.contactId }}/contactTags","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3696,-2000],"id":"88cfbe2c-8747-4798-9f8a-f86655f14af4","name":"Obter Associações de Tags","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"jsCode":"// Lista de tag IDs que deseja remover\nconst tagIdsToRemove = $('Tags para remoção').first().json.tagIds;\n\n// Lista de associações de tags obtidas do passo anterior\nconst contactTags = $input.first().json.contactTags;\n\n// Filtra associações correspondentes aos tagIds fornecidos\nconst filteredTags = contactTags\n  .filter(contactTag => tagIdsToRemove.includes(contactTag.tag))\n  .map(contactTag => ({ contactTagId: contactTag.id }));\n\n// Retorna o resultado, incluindo uma flag indicando se encontrou algo\nreturn filteredTags.length > 0\n  ? filteredTags\n  : [{ noTagsFound: true }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,-2000],"id":"eb1e4354-ed0f-4fa1-af68-6d6b648c8151","name":"Filtrar Tags para Remoção","alwaysOutputData":true},{"parameters":{"method":"DELETE","url":"=https://institutodetrafego.api-us1.com/api/3/contactTags/{{ $json.contactTagId }}","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,-2256],"id":"93ded3fa-abda-47d3-affa-f3aa47f104f7","name":"Remover Tags","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3424,-2416],"id":"818b2a8f-3741-40fb-8927-73473653310b","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-3040,-2304],"id":"225da01c-4e81-4157-9b83-c41ac2b58b2a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58bb978f-588e-4845-827d-02ac160a1141","leftValue":"={{ $json.noTagsFound }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3696,-2528],"id":"0564d875-ce6f-4b53-a563-131aa7dae56f","name":"If"},{"parameters":{"method":"POST","url":"=https://aprovatorio.api-us1.com/api/3/contactAutomations","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contactAutomation\": {\n    \"contact\": \"{{ $json.id }}\",\n    \"automation\": \"5\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,-336],"id":"ef753ba7-1e26-47ad-921f-1f6ccd83d442","name":"Adiciona lead a automação do Active","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4176,-336],"id":"7acbf997-a895-4488-83b9-d7e757092dd5","name":"Verifica planilha de controle","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"update","contactId":"={{ $('Localiza lead no Active4').item.json.id }}","updateFields":{"fieldValues":{"property":[{"field":"20","value":"={{ $('Verifica planilha de controle').item.json['DATA DO EVENTO'] }}"},{"field":"28","value":"={{ $json['sábado'] }}"},{"field":"29","value":"={{ $json.domingo }}"},{"field":"30","value":"={{ $json['segunda-feira'] }}"},{"field":"32","value":"={{ $('Verifica planilha de controle').item.json['LINK GOOGLE MEET'] }}"},{"field":"33","value":"={{ $('Verifica planilha de controle').item.json['LINK GRUPO WHATSAPP'] }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3712,-336],"id":"6294b7e8-6224-416b-a0dd-68a8f5ec4b9b","name":"Atualiza campos personalizados","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"06/01/2025\" (segunda-feira)\n\n// Função para converter string \"DD/MM/YYYY\" para um objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day); // JavaScript usa mês indexado em 0\n}\n\n// Função para adicionar dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n    return `${newDate.getDate().toString().padStart(2, '0')}/${(newDate.getMonth() + 1).toString().padStart(2, '0')}/${newDate.getFullYear()}`;\n}\n\n// Converte a data inicial (segunda-feira)\nconst monday = parseDate(inputDate);\n\n// Calcula os dias seguintes\nconst tuesday = addDays(monday, 2);\nconst wednesday = addDays(monday, 3);\nconst thursday = addDays(monday, 4);\nconst friday = addDays(monday, 5);\n\n// Retorna a saída formatada corretamente\nreturn [\n  {\n    \"segunda-feira\": `${inputDate}`,\n    \"terça-feira\": `${tuesday}`,\n    \"quarta-feira\": `${wednesday}`,\n    \"quinta-feira\": `${thursday}`,\n    \"sexta-feira\": `${friday}`\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,-1104],"id":"f31b8e1a-407e-4508-998e-ee7d38f49fc0","name":"Calcula datas de RMD"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5360,-320],"id":"0351d3a1-f049-4b8a-9dc5-08989e7d59b2","name":"Randomiza o tempo de espera2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"},"id":"cf5140a2-4302-409b-bf9f-cc06047486bc"}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a522d375-fac4-4863-954b-6f62f08354fd","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4928,-368],"id":"7f6e5be9-4212-421c-9e7f-42002c906b7e","name":"Switch3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4608,-560],"id":"104735e0-3453-4206-b114-fd3a31dafbb3","name":"Espera 2 minutos ","webhookId":"092c5a5c-1e01-4fc2-bcce-9c63886eda10"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4592,-432],"id":"2d121dd2-9c5c-4a54-98f3-da7368b65b28","name":"Espera 5 minutos ","webhookId":"6c33b8ca-d114-4d49-8ab1-da5d5b735c76"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4592,-320],"id":"dcbb0f95-2cdc-4b76-98d4-d13ee869e652","name":"Espera 7 minutos ","webhookId":"2e42d180-b2d0-48d5-a414-69e4ab4678ae"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4592,-176],"id":"66273774-11ae-43f0-bc06-8db44a7f193e","name":"Espera 10 minutos ","webhookId":"667876a5-47f7-48a9-87ea-5373c05a339e"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1952,-2064],"id":"bd2ca7d4-5099-46a9-bdc1-a3a3d250a71b","name":"Randomiza o tempo de espera3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"},"id":"cf5140a2-4302-409b-bf9f-cc06047486bc"}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a522d375-fac4-4863-954b-6f62f08354fd","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1440,-2080],"id":"503a2447-c130-4fa2-bd55-e0b5615333bf","name":"Switch4"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1216,-2304],"id":"7e5c5e69-3dfd-4f9e-b79c-5ba1ed4f238d","name":"Espera 2 minutos 2","webhookId":"487577d6-3f22-488a-b8e0-be18bb3ec450"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1200,-2144],"id":"2ae43a7e-09e7-449e-b0b1-ccee1e97e898","name":"Espera 5 minutos 2","webhookId":"bdc63acb-7331-48b4-92a9-dcd1f7b82862"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1200,-1968],"id":"e1d75e3c-1a2e-4096-a45e-9f3bef83ef53","name":"Espera 7 minutos 2","webhookId":"d8407396-f5af-44ba-bb91-0f8b35273bf5"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1200,-1776],"id":"2178ca8a-6a1f-4fbe-b8eb-7aab985bcf58","name":"Espera 10 minutos 2","webhookId":"9ce0e483-6686-4082-a203-9c9c6b9d277e"},{"parameters":{"operation":"update","contactId":"={{ $('tag Compra Aprovada').first().json.contact }}","updateFields":{"fieldValues":{"property":[{"field":"1","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.src }}"},{"field":"5","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.sck }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3328,-2640],"id":"a566bb4f-93e2-4120-970b-ad54408d4179","name":"Atualiza campos de utm","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"httpMethod":"POST","path":"aprovatorio-residencia-fluxo-active","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-6192,-336],"id":"9adfba7d-aa7b-4768-ba70-bcd32aaf22eb","name":"Webhook1","webhookId":"01517b9b-b2dc-476f-be45-ca6308b53505"},{"parameters":{"jsCode":"// === CONFIG ===\n// Troque \"Webhook\" pelo nome EXATO do seu nó Webhook, se for diferente.\nconst WEBHOOK_NODE = \"Webhook\";\n\n// === HELPERS ===\nfunction get(obj, path) {\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined ? o[k] : undefined), obj);\n}\nfunction urlDecodeSafe(s){ try { return decodeURIComponent(s); } catch { return s; } }\nfunction tryParseBase64Json(s){\n  try{\n    const b64 = s.replace(/-/g, '+').replace(/_/g, '/');\n    const json = Buffer.from(b64, 'base64').toString('utf8');\n    const obj = JSON.parse(json);\n    return {\n      utm_source: obj.us ?? obj.utm_source ?? '',\n      utm_medium: obj.um ?? obj.utm_medium ?? '',\n      utm_campaign: obj.uc ?? obj.utm_campaign ?? '',\n      utm_content: obj.uct ?? obj.utm_content ?? '',\n      utm_term: obj.ut ?? obj.utm_term ?? '',\n    };\n  } catch { return null; }\n}\nfunction splitPlain(s){\n  const sep = s.includes('|') ? '|' : (s.includes('~') ? '~' : '|');\n  const parts = s.split(sep).map(v => urlDecodeSafe(v.replace(/\\+/g, ' ').trim()));\n  while (parts.length < 5) parts.push('');\n  const [utm_source, utm_medium, utm_campaign, utm_content, utm_term] = parts;\n  return { utm_source, utm_medium, utm_campaign, utm_content, utm_term };\n}\nfunction parseXcod(s){\n  if (!s) return { utm_source:'', utm_medium:'', utm_campaign:'', utm_content:'', utm_term:'' };\n  const asJson = tryParseBase64Json(s);\n  return asJson ?? splitPlain(s);\n}\n\n// === CAPTURA O xcod DIRETO DO NÓ WEBHOOK ===\n// Pega os itens do nó \"Webhook\" (saída 0)\nconst webhookItems = $items(WEBHOOK_NODE, 0) || [];\nconst w = webhookItems[0]?.json || {};\n\n// O payload pode vir \"embrulhado\" em body.data... (URL de teste) ou direto em data...\nconst candidates = [\n  get(w, 'body.data.purchase.origin.xcod'),\n  get(w, 'data.purchase.origin.xcod'),\n  get(w, 'purchase.origin.xcod'),\n  get(w, 'origin.xcod'),\n];\n\nconst xcod = (candidates.find(v => typeof v === 'string' && v.length) || '').toString();\n\n// Faz o parse das UTMs\nconst utm = parseXcod(xcod);\n\n// === OUTPUT APENAS AS MÉTRICAS ===\nreturn [{\n  json: {\n    utm_source: utm.utm_source,\n    utm_medium: utm.utm_medium,\n    utm_campaign: utm.utm_campaign,\n    utm_content: utm.utm_content,\n    utm_term: utm.utm_term,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4816,-1552],"id":"525b57ec-40b6-45f4-8dde-bc9a1005f61f","name":"Filtra as utms"},{"parameters":{"resource":"tag","operation":"getAll","returnAll":true},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-5728,-1024],"id":"358f8821-f438-4edb-92fb-b2d840f586e6","name":"Verifica ID das tags","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"url":"https://meuconsultoriointeligente.api-us1.com/api/3/fields","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Api-Token\": \"7db44c450658560f2893d83ef80959dd87e2baf3513c48c57b828d7d69a3a3d816310f75\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4960,-1808],"id":"0c390e45-877f-4c9e-903b-c0a3105b4fe0","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"49c6e86a-1040-4bc2-8f43-8a6ff3dee067","leftValue":"=","rightValue":"PQL","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4752,-1808],"id":"533f2853-cd97-40b1-8952-63d6dbead697","name":"If1"},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"16/05/2026\"\n\n// Função para converter string \"DD/MM/YYYY\" para objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day);\n}\n\n// Função para adicionar dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n\n    return `${newDate.getDate().toString().padStart(2, '0')}/${\n        (newDate.getMonth() + 1).toString().padStart(2, '0')\n    }/${newDate.getFullYear()}`;\n}\n\n// DATA RMD começa no sábado\nconst saturday = parseDate(inputDate);\n\n// Calcula os próximos dias\nconst sunday = addDays(saturday, 1);\nconst monday = addDays(saturday, 2);\nconst tuesday = addDays(saturday, 3);\nconst wednesday = addDays(saturday, 4);\nconst thursday = addDays(saturday, 5);\nconst friday = addDays(saturday, 6);\n\n// Retorna a saída\nreturn [\n  {\n    json: {\n      \"sábado\": addDays(saturday, 0),\n      \"domingo\": sunday,\n      \"segunda-feira\": monday,\n      \"terça-feira\": tuesday,\n      \"quarta-feira\": wednesday,\n      \"quinta-feira\": thursday,\n      \"sexta-feira\": friday\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3936,-336],"id":"ec38a91b-78e7-464f-b856-b86040a7410a","name":"Calcula datas de RMD2"},{"parameters":{"resource":"contactTag","tagId":"49","contactId":"={{ $('Localiza lead no Active4').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-4224,-1808],"id":"76602b0c-fa24-4b7a-8d64-0313614b8d0a","name":"tag Compra Aprovada","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"content":"## RMD APROVATÓRIO\n\n","height":968,"width":5300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6368,-768],"id":"dda937cc-b374-44e4-b0af-bd12eb980a6b","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"=https://aprovatorio.api-us1.com/api/3/contactAutomations","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contactAutomation\": {\n    \"contact\": \"{{ $json.id }}\",\n    \"automation\": \"5\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-2048],"id":"db9f18cb-4ee2-4e99-8575-6fc705d87a88","name":"Adiciona lead a automação do Active1","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-784,-2048],"id":"ca15ac8c-c288-4cb4-aa4c-39471df3b832","name":"Verifica planilha de controle1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"update","contactId":"={{ $('Localiza lead no Active4').item.json.id }}","updateFields":{"fieldValues":{"property":[{"field":"20","value":"={{ $('Verifica planilha de controle1').item.json['DATA DO EVENTO'] }}"},{"field":"28","value":"={{ $json['sábado'] }}"},{"field":"29","value":"={{ $json.domingo }}"},{"field":"30","value":"={{ $json['segunda-feira'] }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-192,-2048],"id":"08dbecdc-446a-498b-8849-5f44d20b731f","name":"Atualiza campos personalizados1","credentials":{"activeCampaignApi":{"id":"iVt7qGNwR8KKl0PY","name":"aprovatorio.api-us1.com"}}},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"16/05/2026\"\n\n// Função para converter string \"DD/MM/YYYY\" para objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day);\n}\n\n// Função para adicionar dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n\n    return `${newDate.getDate().toString().padStart(2, '0')}/${\n        (newDate.getMonth() + 1).toString().padStart(2, '0')\n    }/${newDate.getFullYear()}`;\n}\n\n// DATA RMD começa no sábado\nconst saturday = parseDate(inputDate);\n\n// Calcula os próximos dias\nconst sunday = addDays(saturday, 1);\nconst monday = addDays(saturday, 2);\nconst tuesday = addDays(saturday, 3);\nconst wednesday = addDays(saturday, 4);\nconst thursday = addDays(saturday, 5);\nconst friday = addDays(saturday, 6);\n\n// Retorna a saída\nreturn [\n  {\n    json: {\n      \"sábado\": addDays(saturday, 0),\n      \"domingo\": sunday,\n      \"segunda-feira\": monday,\n      \"terça-feira\": tuesday,\n      \"quarta-feira\": wednesday,\n      \"quinta-feira\": thursday,\n      \"sexta-feira\": friday\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-2048],"id":"3f06cbbc-07ce-4f2f-8c9d-b00ebc229763","name":"Calcula datas de RMD3"}],"connections":{"Localiza lead no Active4":{"main":[[{"node":"Randomiza o tempo de espera2","type":"main","index":0}]]},"Verifica email no Active4":{"main":[[],[]]},"Verifica telefone no Active4":{"main":[[{"node":"tag Compra Aprovada","type":"main","index":0}],[{"node":"Atualiza telefone do lead4","type":"main","index":0}]]},"Atualiza telefone do lead4":{"main":[[{"node":"tag Compra Aprovada","type":"main","index":0}]]},"Cria contato no Active4":{"main":[[{"node":"Randomiza o tempo de espera3","type":"main","index":0}]]},"Tags para remoção":{"main":[[{"node":"Obter Associações de Tags","type":"main","index":0}]]},"Obter Associações de Tags":{"main":[[{"node":"Filtrar Tags para Remoção","type":"main","index":0}]]},"Filtrar Tags para Remoção":{"main":[[]]},"Remover Tags":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Remover Tags","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Atualiza campos de utm","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Verifica planilha de controle":{"main":[[{"node":"Calcula datas de RMD2","type":"main","index":0}]]},"Atualiza campos personalizados":{"main":[[{"node":"Adiciona lead a automação do Active","type":"main","index":0}]]},"Calcula datas de RMD":{"main":[[]]},"Randomiza o tempo de espera2":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Espera 2 minutos ","type":"main","index":0}],[{"node":"Espera 5 minutos ","type":"main","index":0}],[{"node":"Espera 7 minutos ","type":"main","index":0}],[{"node":"Espera 10 minutos ","type":"main","index":0}]]},"Randomiza o tempo de espera3":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Espera 2 minutos 2","type":"main","index":0}],[{"node":"Espera 5 minutos 2","type":"main","index":0}],[{"node":"Espera 7 minutos 2","type":"main","index":0}],[{"node":"Espera 10 minutos 2","type":"main","index":0}]]},"Espera 2 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 5 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 7 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 10 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 2 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 5 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 7 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 10 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Atualiza campos de utm":{"main":[[]]},"Webhook1":{"main":[[{"node":"Localiza lead no Active4","type":"main","index":0}]]},"Filtra as utms":{"main":[[]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Calcula datas de RMD2":{"main":[[{"node":"Atualiza campos personalizados","type":"main","index":0}]]},"tag Compra Aprovada":{"main":[[]]},"Verifica planilha de controle1":{"main":[[{"node":"Calcula datas de RMD3","type":"main","index":0}]]},"Atualiza campos personalizados1":{"main":[[{"node":"Adiciona lead a automação do Active1","type":"main","index":0}]]},"Calcula datas de RMD3":{"main":[[{"node":"Atualiza campos personalizados1","type":"main","index":0}]]}},"authors":"Time Squad","name":"V1 - fluxo RMD","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-31T22:04:33.423Z","createdAt":"2026-03-31T22:04:33.423Z","id":"p6Kdw7NUTqwnKl0h","name":"#ActiveCampaign"}]}