[aut]-[provatório]-cadastra-lead-manychat-ENrG7mpR1zXWUD9V.json
{"updatedAt":"2026-05-15T00:52:36.013Z","createdAt":"2026-05-15T00:24:29.050Z","id":"ENrG7mpR1zXWUD9V","name":"[AUT] [Provatório] Cadastra lead manychat","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"LEAD - AULA SEMANAL","height":300,"width":680,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,976],"id":"54411145-6cb6-41ae-90e8-fc29bf815ff2","name":"Sticky Note24"},{"parameters":{"jsCode":"// Obtenha o número de telefone do nó \"If\" anterior\nlet phoneNumber = $('Verifica phone BR6').first().json.formattedPhoneNumber;\n\n// Verifique se o número foi definido e é uma string válida\nif (typeof phoneNumber !== 'string' || phoneNumber.trim() === '') {\n    throw new Error('O número de telefone não foi fornecido ou está inválido.');\n}\n\n// Remova o sinal de \"+\" do número de telefone, caso exista\nphoneNumber = phoneNumber.replace(/^\\+/, '');\n\n// Verifique se o número tem pelo menos 5 dígitos para garantir que a posição 5 existe\nif (phoneNumber.length < 5) {\n    throw new Error('O número de telefone não possui dígitos suficientes para realizar a operação.');\n}\n\n// Extraia os números das posições 1 a 4 e 6 em diante, excluindo o quinto número\nconst firstPart = phoneNumber.substring(0, 4); // Números de 1 a 4\nconst secondPart = phoneNumber.substring(5);  // Números de 6 em diante\nconst formattedPhoneNumber = firstPart + secondPart;\n\n// Retorne o número formatado\nreturn { formattedPhoneNumber: formattedPhoneNumber };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1392],"id":"b4f75e05-d3f2-41b5-ab8a-2394b84695ed","name":"Verifica phone BR sem 5"},{"parameters":{"url":"=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=14591505&field_value={{ $json.formattedPhoneNumber }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,1392],"id":"a4d3d8d8-a337-4ec9-8dee-55eecbeeb457","name":"MANY Get Whatsapp ID18"},{"parameters":{"url":"=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=14591505&field_value={{ $json.phoneNumber }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,1616],"id":"50e71aa3-88ea-4388-beca-e2cbf6ff876e","name":"MANY Get Whatsapp ID19"},{"parameters":{"jsCode":"// Obtenha o número de telefone do nó \"If\" anterior\nlet phoneNumber = $('Lead Aula semanal').first().json.body['contact[phone]'];\n\n// Verifique se o número foi definido e é uma string válida\nif (typeof phoneNumber !== 'string' || phoneNumber.trim() === '') {\n    throw new Error('O número de telefone não foi fornecido ou está inválido.');\n}\n\n// Remova o sinal de \"+\" do número de telefone, caso exista\nphoneNumber = phoneNumber.replace(/^\\+/, '');\n\n// Retorne o número formatado\nreturn { phoneNumber };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1616],"id":"e424f5e4-5806-4520-8796-9f2e7b15fdcd","name":"Verifica phone INT6"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[first_name]'] }}\",\n  \"optin_phone\": true,\n  \"phone\": \"{{ $('Verifica phone BR6').item.json.formattedPhoneNumber }}\",\n  \"whatsapp_phone\": \"{{ $('Verifica phone BR6').item.json.formattedPhoneNumber }}\",\n  \"optin_email\": true,\n  \"email\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[email]'] }}\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"string\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,1184],"id":"e45adc8b-fbab-4aa7-ad7e-d62f7e4b6779","name":"MANY Cria Contato BR6","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[first_name]'] }}\",\n  \"optin_phone\": true,\n  \"phone\": \"{{ $('Verifica phone INT6').item.json.formattedPhoneNumber }}\",\n  \"whatsapp_phone\": \"{{ $('Verifica phone INT6').item.json.formattedPhoneNumber }}\",\n  \"optin_email\": true,\n  \"email\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[email]'] }}\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"string\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,1840],"id":"6cc310ac-ccb8-4e5a-a464-4fa07455e360","name":"MANY Cria contato INT6","onError":"continueErrorOutput"},{"parameters":{"errorMessage":"=Não foi possível encontrar ou cadastrar o contato na base do Manychat.\nPhone BR Tratado: {{ $('Verifica phone BR6').item.json.formattedPhoneNumber }}\nPhone BR Sem 9: {{ $('Verifica phone BR sem 5').item.json.formattedPhoneNumber }}\nPhone INT Tratado: {{ $('Verifica phone INT6').item.json.formattedPhoneNumber }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1024,1840],"id":"60838340-2f5e-4e97-b975-59c47dba7645","name":"Stop and Error6"},{"parameters":{"content":"**TRATATIVA COM DADOS DO ACTIVE:**\n","height":1160,"width":1000,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,976],"id":"a5e095e2-99a8-4fb5-97ac-e6290b805b02","name":"Sticky Note25"},{"parameters":{"url":"=https://api.manychat.com/fb/page/getTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,1232],"id":"83ef80cc-f5c2-4ccc-8112-84e6be4d521f","name":"MANY Get ID das Tags6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2985c277-a534-4f13-9264-ad56c0783ed2","leftValue":"={{ $json.data[0].id }}","rightValue":"sucess","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,1056],"id":"fae553bc-0df0-4356-97af-67034930a2c8","name":"Se é BR (Completo)6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2985c277-a534-4f13-9264-ad56c0783ed2","leftValue":"={{ $json.data[0].id }}","rightValue":"sucess","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,1392],"id":"4fc59380-bbec-4305-8f99-381b8090e2bf","name":"BR (sem o 9)6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2985c277-a534-4f13-9264-ad56c0783ed2","leftValue":"={{ $json.data[0].id }}","rightValue":"sucess","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,1616],"id":"3ddfeb2e-48d8-4968-b1de-70b4157644b5","name":"Novo contato (Internacional)6"},{"parameters":{"url":"=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=14591505&field_value={{ $json.formattedPhoneNumber }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,1056],"id":"d84d866d-db23-489b-836c-874db4d37c01","name":"MANY Get Whatsapp ID20"},{"parameters":{"jsCode":"// Inicialize um array para registrar o processo de depuração\nlet debugLog = [];\n\n// Obtenha o primeiro item do array `body` corretamente\nlet requestBody = $input.first()?.json?.body;\n\n// Se `body` for um array, pegamos o primeiro item dele\nif (Array.isArray(requestBody)) {\n    requestBody = requestBody[0]?.body; // Pega o objeto dentro do array\n}\n\n// Capturar o telefone corretamente\nlet phoneNumber = requestBody?.['contact[phone]'];\n\n// Adicione log para depuração\ndebugLog.push(`Valor extraído: ${JSON.stringify(phoneNumber)}`);\n\n// Verifique se o número foi definido e é uma string válida\nif (!phoneNumber || typeof phoneNumber !== 'string' || phoneNumber.trim() === '') {\n    throw new Error(`O número de telefone não foi fornecido ou está inválido. Valor recebido: ${JSON.stringify(phoneNumber)}`);\n}\n\n// Adicione o número inicial ao log de depuração\ndebugLog.push(`Número inicial: ${phoneNumber}`);\n\n// Remova o sinal de \"+\" do número de telefone, caso exista\nphoneNumber = phoneNumber.replace(/^\\+/, '');\ndebugLog.push(`Número após remover \"+\": ${phoneNumber}`);\n\n// **1. Ajustes para números brasileiros**\nif (phoneNumber.startsWith(\"55\")) {\n    debugLog.push(`Número com prefixo 55 identificado: ${phoneNumber}`);\n\n    let numberWithoutCountryCode = phoneNumber.slice(2);\n    \n    if (numberWithoutCountryCode.length === 11) {\n        debugLog.push(`Número já contém 11 dígitos, mantido: ${phoneNumber}`);\n        return { formattedPhoneNumber: phoneNumber, debugLog };\n    }\n\n    if (numberWithoutCountryCode.length === 10) {\n        const formattedPhoneNumber = \"55\" + numberWithoutCountryCode.substring(0, 2) + \"9\" + numberWithoutCountryCode.substring(2);\n        debugLog.push(`Número com 10 dígitos ajustado para 11: ${formattedPhoneNumber}`);\n        return { formattedPhoneNumber, debugLog };\n    }\n} else {\n    debugLog.push(`Número sem prefixo 55 identificado: ${phoneNumber}`);\n\n    if (phoneNumber.length === 10) {\n        const formattedPhoneNumber = \"55\" + phoneNumber.substring(0, 2) + \"9\" + phoneNumber.substring(2);\n        debugLog.push(`Número com 10 dígitos ajustado para formato brasileiro: ${formattedPhoneNumber}`);\n        return { formattedPhoneNumber, debugLog };\n    }\n    \n    if (phoneNumber.length === 11) {\n        const formattedPhoneNumber = \"55\" + phoneNumber;\n        debugLog.push(`Número com 11 dígitos ajustado para formato brasileiro: ${formattedPhoneNumber}`);\n        return { formattedPhoneNumber, debugLog };\n    }\n}\n\n// Caso o número não se enquadre nas regras, retorne sem alterações\ndebugLog.push(`Número não ajustado, retornado como está: ${phoneNumber}`);\nreturn { formattedPhoneNumber: phoneNumber, debugLog };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,1056],"id":"8b581d92-6351-45bc-8617-4c83b2668c4e","name":"Verifica phone BR6"},{"parameters":{"jsCode":"let items = $input.all(); // Obtenha todos os itens de entrada\nlet results = []; // Armazena os resultados processados\n\n// Itere sobre cada item\nfor (let item of items) {\n    let id_manychat;\n\n    // Verifique se o valor do caminho data[0].id existe\n    if (item.json.data && Array.isArray(item.json.data) && item.json.data[0] && item.json.data[0].id) {\n        id_manychat = item.json.data[0].id; // Use o valor do primeiro caminho\n    } \n    // Se o valor do primeiro caminho não existir, tente o segundo caminho\n    else if (item.json.data && item.json.data.id) {\n        id_manychat = item.json.data.id; // Use o valor do segundo caminho\n    } \n    // Caso nenhum dos dois valores exista, atribua null ou um valor padrão\n    else {\n        id_manychat = null;\n    }\n\n    // Adicione o resultado ao array de resultados\n    results.push({ json: { id_manychat } });\n}\n\n// Retorne todos os resultados\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,1552],"id":"42ff8390-d7e2-4fb5-b4ae-a94527949914","name":"Variavel id_manychat6"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1280],"id":"6e8a9182-1f54-451e-bd31-b59d185f35f8","name":"Espera 2 minutos6","webhookId":"ee222daf-f37f-4b5f-a531-08f51a2fa49c"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1504],"id":"3273b0c5-9b5a-47a6-bdbb-23a67e681960","name":"Espera 5 minutos6","webhookId":"21dadf9a-4cd0-4b48-9f6c-65e4222fdf76"},{"parameters":{"amount":7,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1696],"id":"fb49e4f3-0ad2-4e9d-97c5-9bfb96249827","name":"Espera 7 minutos6","webhookId":"46bd3568-e9ac-4b02-91c8-e77f72c1d354"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1920],"id":"83b8e99c-5561-43c0-8375-77f45f349a57","name":"Espera 10 minutos6","webhookId":"807f957b-b1d5-4d40-9eb1-3f2647ab0c87"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,1552],"id":"17c45b0d-5fb5-4f71-a4d6-dfaa5c3ec278","name":"Randomiza o tempo de espera6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f9c33fd-c7b1-450d-9902-fd25d3c4ff6c","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2288,1536],"id":"0c5a8efb-f649-4246-87ae-332d81eae68b","name":"Switch6"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/addTag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Variavel id_manychat6').item.json.id_manychat }},\n  \"tag_id\": 87608853\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4016,1632],"id":"5b8f6cdb-afc1-49c9-b94b-bc44246769ca","name":"MANY Tag ingresso6"},{"parameters":{"content":"**VERIFICA QUAIS SÃO OS IDS DAS TAGS NO MANYCHAT:**\n","height":320,"width":1216,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,1184],"id":"86c2a272-4b2e-4ab5-bff9-2100c252d1a3","name":"Sticky Note26"},{"parameters":{"content":"**ADICIONA TAGS NO MANYCHAT:**\n","height":380,"width":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,1504],"id":"f4a24796-527b-4e35-ab05-2b25a028b86a","name":"Sticky Note27"},{"parameters":{"httpMethod":"POST","path":"lead-aula-semanal-many","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,1056],"id":"558441f6-e474-4d71-8e9b-3a754845d4f6","name":"Lead Aula semanal","webhookId":"d1f223fb-6767-4d53-96d8-2f0f9e61e89c"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591509\",\n  \"field_value\": \"{{ $json['DATA DO EVENTO'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3264,1632],"id":"27eef841-73c2-47f9-96dc-083576a16a88","name":"MANY Preenche data"},{"parameters":{"documentId":{"__rl":true,"value":"1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3024,1632],"id":"3313407a-ec0a-40fe-9c38-ee9233c7dc61","name":"Verifica planilha de controle","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591512\",\n  \"field_value\": \"{{ $('Verifica planilha de controle').item.json['LINK GOOGLE MEET'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3456,1632],"id":"f56f89b2-c3d0-43f2-9c66-8db1022b069a","name":"MANY Preenche Link meet"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591510\",\n  \"field_value\": \"{{ $('Verifica planilha de controle').item.json['LINK GRUPO WHATSAPP'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3616,1632],"id":"0f441d9b-23d4-4ddf-b114-fc4e5ef38250","name":"MANY Preenche Link Grupo"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591528\",\n  \"field_value\": \"{{ $('Lead Aula semanal').item.json.body['contact[first_name]'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3792,1632],"id":"2eb9afe4-8019-418b-9ec0-5ac793f91f91","name":"MANY Preenche Nome"}],"connections":{"Verifica phone BR sem 5":{"main":[[{"node":"MANY Get Whatsapp ID18","type":"main","index":0}]]},"MANY Get Whatsapp ID18":{"main":[[{"node":"BR (sem o 9)6","type":"main","index":0}]]},"MANY Get Whatsapp ID19":{"main":[[{"node":"Novo contato (Internacional)6","type":"main","index":0}]]},"Verifica phone INT6":{"main":[[{"node":"MANY Get Whatsapp ID19","type":"main","index":0}]]},"MANY Cria Contato BR6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"Verifica phone BR sem 5","type":"main","index":0}]]},"MANY Cria contato INT6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"Stop and Error6","type":"main","index":0}]]},"Se é BR (Completo)6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"MANY Cria Contato BR6","type":"main","index":0}]]},"BR (sem o 9)6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"Verifica phone INT6","type":"main","index":0}]]},"Novo contato (Internacional)6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"MANY Cria contato INT6","type":"main","index":0}]]},"MANY Get Whatsapp ID20":{"main":[[{"node":"Se é BR (Completo)6","type":"main","index":0}]]},"Verifica phone BR6":{"main":[[{"node":"MANY Get Whatsapp ID20","type":"main","index":0}]]},"Variavel id_manychat6":{"main":[[{"node":"Randomiza o tempo de espera6","type":"main","index":0}]]},"Espera 2 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 5 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 7 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 10 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Randomiza o tempo de espera6":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Espera 2 minutos6","type":"main","index":0}],[{"node":"Espera 5 minutos6","type":"main","index":0}],[{"node":"Espera 7 minutos6","type":"main","index":0}],[{"node":"Espera 10 minutos6","type":"main","index":0}]]},"Lead Aula semanal":{"main":[[{"node":"Verifica phone BR6","type":"main","index":0}]]},"Verifica planilha de controle":{"main":[[{"node":"MANY Preenche data","type":"main","index":0}]]},"MANY Preenche data":{"main":[[{"node":"MANY Preenche Link meet","type":"main","index":0}]]},"MANY Preenche Link meet":{"main":[[{"node":"MANY Preenche Link Grupo","type":"main","index":0}]]},"MANY Preenche Link Grupo":{"main":[[{"node":"MANY Preenche Nome","type":"main","index":0}]]},"MANY Preenche Nome":{"main":[[{"node":"MANY Tag ingresso6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Lead Aula semanal":[{"json":{"headers":{"host":"n8n.squadpro.com.br","user-agent":"GuzzleHttp/7","content-length":"334","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.140.234.100","x-forwarded-host":"n8n.squadpro.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"019bc494e108","x-real-ip":"3.140.234.100","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"268","contact[email]":"joaovictor.s.lara@hotmail.com","contact[first_name]":"joao victor","contact[last_name]":"","contact[phone]":"31989792383","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"","contact[ip4]":"177.127.249.180","contact[fields][o_que_voc_]":"Pai ou responsavel","seriesid":"4"},"webhookUrl":"https://webhook.squadpro.com.br/webhook-test/aprovatorio-residencia-fluxo-active","executionMode":"test"}}]},"versionId":"295b7ba9-5e11-427f-81e5-1c90ebf09219","activeVersionId":"295b7ba9-5e11-427f-81e5-1c90ebf09219","triggerCount":1,"shared":[{"updatedAt":"2026-05-15T00:24:29.050Z","createdAt":"2026-05-15T00:24:29.050Z","role":"workflow:owner","workflowId":"ENrG7mpR1zXWUD9V","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-05-15T00:53:43.239Z","createdAt":"2026-05-15T00:52:26.277Z","versionId":"295b7ba9-5e11-427f-81e5-1c90ebf09219","workflowId":"ENrG7mpR1zXWUD9V","nodes":[{"parameters":{"content":"LEAD - AULA SEMANAL","height":300,"width":680,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,976],"id":"54411145-6cb6-41ae-90e8-fc29bf815ff2","name":"Sticky Note24"},{"parameters":{"jsCode":"// Obtenha o número de telefone do nó \"If\" anterior\nlet phoneNumber = $('Verifica phone BR6').first().json.formattedPhoneNumber;\n\n// Verifique se o número foi definido e é uma string válida\nif (typeof phoneNumber !== 'string' || phoneNumber.trim() === '') {\n    throw new Error('O número de telefone não foi fornecido ou está inválido.');\n}\n\n// Remova o sinal de \"+\" do número de telefone, caso exista\nphoneNumber = phoneNumber.replace(/^\\+/, '');\n\n// Verifique se o número tem pelo menos 5 dígitos para garantir que a posição 5 existe\nif (phoneNumber.length < 5) {\n    throw new Error('O número de telefone não possui dígitos suficientes para realizar a operação.');\n}\n\n// Extraia os números das posições 1 a 4 e 6 em diante, excluindo o quinto número\nconst firstPart = phoneNumber.substring(0, 4); // Números de 1 a 4\nconst secondPart = phoneNumber.substring(5);  // Números de 6 em diante\nconst formattedPhoneNumber = firstPart + secondPart;\n\n// Retorne o número formatado\nreturn { formattedPhoneNumber: formattedPhoneNumber };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1392],"id":"b4f75e05-d3f2-41b5-ab8a-2394b84695ed","name":"Verifica phone BR sem 5"},{"parameters":{"url":"=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=14591505&field_value={{ $json.formattedPhoneNumber }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,1392],"id":"a4d3d8d8-a337-4ec9-8dee-55eecbeeb457","name":"MANY Get Whatsapp ID18"},{"parameters":{"url":"=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=14591505&field_value={{ $json.phoneNumber }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,1616],"id":"50e71aa3-88ea-4388-beca-e2cbf6ff876e","name":"MANY Get Whatsapp ID19"},{"parameters":{"jsCode":"// Obtenha o número de telefone do nó \"If\" anterior\nlet phoneNumber = $('Lead Aula semanal').first().json.body['contact[phone]'];\n\n// Verifique se o número foi definido e é uma string válida\nif (typeof phoneNumber !== 'string' || phoneNumber.trim() === '') {\n    throw new Error('O número de telefone não foi fornecido ou está inválido.');\n}\n\n// Remova o sinal de \"+\" do número de telefone, caso exista\nphoneNumber = phoneNumber.replace(/^\\+/, '');\n\n// Retorne o número formatado\nreturn { phoneNumber };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1616],"id":"e424f5e4-5806-4520-8796-9f2e7b15fdcd","name":"Verifica phone INT6"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[first_name]'] }}\",\n  \"optin_phone\": true,\n  \"phone\": \"{{ $('Verifica phone BR6').item.json.formattedPhoneNumber }}\",\n  \"whatsapp_phone\": \"{{ $('Verifica phone BR6').item.json.formattedPhoneNumber }}\",\n  \"optin_email\": true,\n  \"email\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[email]'] }}\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"string\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,1184],"id":"e45adc8b-fbab-4aa7-ad7e-d62f7e4b6779","name":"MANY Cria Contato BR6","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[first_name]'] }}\",\n  \"optin_phone\": true,\n  \"phone\": \"{{ $('Verifica phone INT6').item.json.formattedPhoneNumber }}\",\n  \"whatsapp_phone\": \"{{ $('Verifica phone INT6').item.json.formattedPhoneNumber }}\",\n  \"optin_email\": true,\n  \"email\": \"{{ $('Lead Aula semanal').item.json.body[0].body['contact[email]'] }}\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"string\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,1840],"id":"6cc310ac-ccb8-4e5a-a464-4fa07455e360","name":"MANY Cria contato INT6","onError":"continueErrorOutput"},{"parameters":{"errorMessage":"=Não foi possível encontrar ou cadastrar o contato na base do Manychat.\nPhone BR Tratado: {{ $('Verifica phone BR6').item.json.formattedPhoneNumber }}\nPhone BR Sem 9: {{ $('Verifica phone BR sem 5').item.json.formattedPhoneNumber }}\nPhone INT Tratado: {{ $('Verifica phone INT6').item.json.formattedPhoneNumber }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1024,1840],"id":"60838340-2f5e-4e97-b975-59c47dba7645","name":"Stop and Error6"},{"parameters":{"content":"**TRATATIVA COM DADOS DO ACTIVE:**\n","height":1160,"width":1000,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,976],"id":"a5e095e2-99a8-4fb5-97ac-e6290b805b02","name":"Sticky Note25"},{"parameters":{"url":"=https://api.manychat.com/fb/page/getTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,1232],"id":"83ef80cc-f5c2-4ccc-8112-84e6be4d521f","name":"MANY Get ID das Tags6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2985c277-a534-4f13-9264-ad56c0783ed2","leftValue":"={{ $json.data[0].id }}","rightValue":"sucess","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,1056],"id":"fae553bc-0df0-4356-97af-67034930a2c8","name":"Se é BR (Completo)6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2985c277-a534-4f13-9264-ad56c0783ed2","leftValue":"={{ $json.data[0].id }}","rightValue":"sucess","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,1392],"id":"4fc59380-bbec-4305-8f99-381b8090e2bf","name":"BR (sem o 9)6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2985c277-a534-4f13-9264-ad56c0783ed2","leftValue":"={{ $json.data[0].id }}","rightValue":"sucess","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,1616],"id":"3ddfeb2e-48d8-4968-b1de-70b4157644b5","name":"Novo contato (Internacional)6"},{"parameters":{"url":"=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=14591505&field_value={{ $json.formattedPhoneNumber }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,1056],"id":"d84d866d-db23-489b-836c-874db4d37c01","name":"MANY Get Whatsapp ID20"},{"parameters":{"jsCode":"// Inicialize um array para registrar o processo de depuração\nlet debugLog = [];\n\n// Obtenha o primeiro item do array `body` corretamente\nlet requestBody = $input.first()?.json?.body;\n\n// Se `body` for um array, pegamos o primeiro item dele\nif (Array.isArray(requestBody)) {\n    requestBody = requestBody[0]?.body; // Pega o objeto dentro do array\n}\n\n// Capturar o telefone corretamente\nlet phoneNumber = requestBody?.['contact[phone]'];\n\n// Adicione log para depuração\ndebugLog.push(`Valor extraído: ${JSON.stringify(phoneNumber)}`);\n\n// Verifique se o número foi definido e é uma string válida\nif (!phoneNumber || typeof phoneNumber !== 'string' || phoneNumber.trim() === '') {\n    throw new Error(`O número de telefone não foi fornecido ou está inválido. Valor recebido: ${JSON.stringify(phoneNumber)}`);\n}\n\n// Adicione o número inicial ao log de depuração\ndebugLog.push(`Número inicial: ${phoneNumber}`);\n\n// Remova o sinal de \"+\" do número de telefone, caso exista\nphoneNumber = phoneNumber.replace(/^\\+/, '');\ndebugLog.push(`Número após remover \"+\": ${phoneNumber}`);\n\n// **1. Ajustes para números brasileiros**\nif (phoneNumber.startsWith(\"55\")) {\n    debugLog.push(`Número com prefixo 55 identificado: ${phoneNumber}`);\n\n    let numberWithoutCountryCode = phoneNumber.slice(2);\n    \n    if (numberWithoutCountryCode.length === 11) {\n        debugLog.push(`Número já contém 11 dígitos, mantido: ${phoneNumber}`);\n        return { formattedPhoneNumber: phoneNumber, debugLog };\n    }\n\n    if (numberWithoutCountryCode.length === 10) {\n        const formattedPhoneNumber = \"55\" + numberWithoutCountryCode.substring(0, 2) + \"9\" + numberWithoutCountryCode.substring(2);\n        debugLog.push(`Número com 10 dígitos ajustado para 11: ${formattedPhoneNumber}`);\n        return { formattedPhoneNumber, debugLog };\n    }\n} else {\n    debugLog.push(`Número sem prefixo 55 identificado: ${phoneNumber}`);\n\n    if (phoneNumber.length === 10) {\n        const formattedPhoneNumber = \"55\" + phoneNumber.substring(0, 2) + \"9\" + phoneNumber.substring(2);\n        debugLog.push(`Número com 10 dígitos ajustado para formato brasileiro: ${formattedPhoneNumber}`);\n        return { formattedPhoneNumber, debugLog };\n    }\n    \n    if (phoneNumber.length === 11) {\n        const formattedPhoneNumber = \"55\" + phoneNumber;\n        debugLog.push(`Número com 11 dígitos ajustado para formato brasileiro: ${formattedPhoneNumber}`);\n        return { formattedPhoneNumber, debugLog };\n    }\n}\n\n// Caso o número não se enquadre nas regras, retorne sem alterações\ndebugLog.push(`Número não ajustado, retornado como está: ${phoneNumber}`);\nreturn { formattedPhoneNumber: phoneNumber, debugLog };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,1056],"id":"8b581d92-6351-45bc-8617-4c83b2668c4e","name":"Verifica phone BR6"},{"parameters":{"jsCode":"let items = $input.all(); // Obtenha todos os itens de entrada\nlet results = []; // Armazena os resultados processados\n\n// Itere sobre cada item\nfor (let item of items) {\n    let id_manychat;\n\n    // Verifique se o valor do caminho data[0].id existe\n    if (item.json.data && Array.isArray(item.json.data) && item.json.data[0] && item.json.data[0].id) {\n        id_manychat = item.json.data[0].id; // Use o valor do primeiro caminho\n    } \n    // Se o valor do primeiro caminho não existir, tente o segundo caminho\n    else if (item.json.data && item.json.data.id) {\n        id_manychat = item.json.data.id; // Use o valor do segundo caminho\n    } \n    // Caso nenhum dos dois valores exista, atribua null ou um valor padrão\n    else {\n        id_manychat = null;\n    }\n\n    // Adicione o resultado ao array de resultados\n    results.push({ json: { id_manychat } });\n}\n\n// Retorne todos os resultados\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,1552],"id":"42ff8390-d7e2-4fb5-b4ae-a94527949914","name":"Variavel id_manychat6"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1280],"id":"6e8a9182-1f54-451e-bd31-b59d185f35f8","name":"Espera 2 minutos6","webhookId":"ee222daf-f37f-4b5f-a531-08f51a2fa49c"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1504],"id":"3273b0c5-9b5a-47a6-bdbb-23a67e681960","name":"Espera 5 minutos6","webhookId":"21dadf9a-4cd0-4b48-9f6c-65e4222fdf76"},{"parameters":{"amount":7,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1696],"id":"fb49e4f3-0ad2-4e9d-97c5-9bfb96249827","name":"Espera 7 minutos6","webhookId":"46bd3568-e9ac-4b02-91c8-e77f72c1d354"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,1920],"id":"83b8e99c-5561-43c0-8375-77f45f349a57","name":"Espera 10 minutos6","webhookId":"807f957b-b1d5-4d40-9eb1-3f2647ab0c87"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,1552],"id":"17c45b0d-5fb5-4f71-a4d6-dfaa5c3ec278","name":"Randomiza o tempo de espera6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f9c33fd-c7b1-450d-9902-fd25d3c4ff6c","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2288,1536],"id":"0c5a8efb-f649-4246-87ae-332d81eae68b","name":"Switch6"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/addTag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Variavel id_manychat6').item.json.id_manychat }},\n  \"tag_id\": 87608853\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4016,1632],"id":"5b8f6cdb-afc1-49c9-b94b-bc44246769ca","name":"MANY Tag ingresso6"},{"parameters":{"content":"**VERIFICA QUAIS SÃO OS IDS DAS TAGS NO MANYCHAT:**\n","height":320,"width":1216,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,1184],"id":"86c2a272-4b2e-4ab5-bff9-2100c252d1a3","name":"Sticky Note26"},{"parameters":{"content":"**ADICIONA TAGS NO MANYCHAT:**\n","height":380,"width":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,1504],"id":"f4a24796-527b-4e35-ab05-2b25a028b86a","name":"Sticky Note27"},{"parameters":{"httpMethod":"POST","path":"lead-aula-semanal-many","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,1056],"id":"558441f6-e474-4d71-8e9b-3a754845d4f6","name":"Lead Aula semanal","webhookId":"d1f223fb-6767-4d53-96d8-2f0f9e61e89c"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591509\",\n  \"field_value\": \"{{ $json['DATA DO EVENTO'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3264,1632],"id":"27eef841-73c2-47f9-96dc-083576a16a88","name":"MANY Preenche data"},{"parameters":{"documentId":{"__rl":true,"value":"1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g1mQXsmOo-aFgvKK-H_zXZAuz2yQQSOQ--UIak_JCnA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3024,1632],"id":"3313407a-ec0a-40fe-9c38-ee9233c7dc61","name":"Verifica planilha de controle","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591512\",\n  \"field_value\": \"{{ $('Verifica planilha de controle').item.json['LINK GOOGLE MEET'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3456,1632],"id":"f56f89b2-c3d0-43f2-9c66-8db1022b069a","name":"MANY Preenche Link meet"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591510\",\n  \"field_value\": \"{{ $('Verifica planilha de controle').item.json['LINK GRUPO WHATSAPP'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3616,1632],"id":"0f441d9b-23d4-4ddf-b114-fc4e5ef38250","name":"MANY Preenche Link Grupo"},{"parameters":{"method":"POST","url":"=https://api.manychat.com/fb/subscriber/setCustomField","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1498885:0b8fd90fad58984e7ea4b29dc26c9602"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": \"{{ $('Variavel id_manychat6').item.json.id_manychat }}\",\n  \"field_id\": \"14591528\",\n  \"field_value\": \"{{ $('Lead Aula semanal').item.json.body['contact[first_name]'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3792,1632],"id":"2eb9afe4-8019-418b-9ec0-5ac793f91f91","name":"MANY Preenche Nome"}],"connections":{"Verifica phone BR sem 5":{"main":[[{"node":"MANY Get Whatsapp ID18","type":"main","index":0}]]},"MANY Get Whatsapp ID18":{"main":[[{"node":"BR (sem o 9)6","type":"main","index":0}]]},"MANY Get Whatsapp ID19":{"main":[[{"node":"Novo contato (Internacional)6","type":"main","index":0}]]},"Verifica phone INT6":{"main":[[{"node":"MANY Get Whatsapp ID19","type":"main","index":0}]]},"MANY Cria Contato BR6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"Verifica phone BR sem 5","type":"main","index":0}]]},"MANY Cria contato INT6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"Stop and Error6","type":"main","index":0}]]},"Se é BR (Completo)6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"MANY Cria Contato BR6","type":"main","index":0}]]},"BR (sem o 9)6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"Verifica phone INT6","type":"main","index":0}]]},"Novo contato (Internacional)6":{"main":[[{"node":"Variavel id_manychat6","type":"main","index":0}],[{"node":"MANY Cria contato INT6","type":"main","index":0}]]},"MANY Get Whatsapp ID20":{"main":[[{"node":"Se é BR (Completo)6","type":"main","index":0}]]},"Verifica phone BR6":{"main":[[{"node":"MANY Get Whatsapp ID20","type":"main","index":0}]]},"Variavel id_manychat6":{"main":[[{"node":"Randomiza o tempo de espera6","type":"main","index":0}]]},"Espera 2 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 5 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 7 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 10 minutos6":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Randomiza o tempo de espera6":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Espera 2 minutos6","type":"main","index":0}],[{"node":"Espera 5 minutos6","type":"main","index":0}],[{"node":"Espera 7 minutos6","type":"main","index":0}],[{"node":"Espera 10 minutos6","type":"main","index":0}]]},"Lead Aula semanal":{"main":[[{"node":"Verifica phone BR6","type":"main","index":0}]]},"Verifica planilha de controle":{"main":[[{"node":"MANY Preenche data","type":"main","index":0}]]},"MANY Preenche data":{"main":[[{"node":"MANY Preenche Link meet","type":"main","index":0}]]},"MANY Preenche Link meet":{"main":[[{"node":"MANY Preenche Link Grupo","type":"main","index":0}]]},"MANY Preenche Link Grupo":{"main":[[{"node":"MANY Preenche Nome","type":"main","index":0}]]},"MANY Preenche Nome":{"main":[[{"node":"MANY Tag ingresso6","type":"main","index":0}]]}},"authors":"Time Squad","name":"v3.1","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-31T22:04:33.423Z","createdAt":"2026-03-31T22:04:33.423Z","id":"p6Kdw7NUTqwnKl0h","name":"#ActiveCampaign"},{"updatedAt":"2026-05-15T00:24:26.969Z","createdAt":"2026-05-15T00:24:26.969Z","id":"fInVxLS2P3XtjXOg","name":"#Manychat"}]}