[aut]-fluxo-de-reminder-plano-liberta-iOpcTKTQEIwjeRoZ.json
{"updatedAt":"2026-04-01T14:43:58.632Z","createdAt":"2026-03-31T21:50:01.507Z","id":"iOpcTKTQEIwjeRoZ","name":"[AUT] Fluxo de Reminder Plano Liberta","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## COMPRA APROVADA Plano Liberta\n","height":1800,"width":5300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5680,-1248],"id":"37fc6838-6afd-4e1f-bc7d-b3a2fdef0027","name":"Sticky Note3"},{"parameters":{"operation":"getAll","limit":1,"additionalFields":{"email":"={{ $json.body.email }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-5200,-272],"id":"6396bc0a-0fc6-44e8-bbc0-35577868a03b","name":"Localiza lead no Active4","retryOnFail":false,"notesInFlow":false,"alwaysOutputData":true,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb71d8aa-340c-4d4e-b0dc-baeb204c63f0","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4960,-272],"id":"1c6dc411-bb02-48bc-9df2-f6281b412dc1","name":"Verifica email no Active4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb71d8aa-340c-4d4e-b0dc-baeb204c63f0","leftValue":"={{ $('Localiza lead no Active4').item.json.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"a5bee0ea-6d56-4a14-859c-5cf4bb8e9f84","leftValue":"={{ $('Localiza lead no Active4').item.json.phone }}","rightValue":"=none","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4784,-512],"id":"a899bc38-61e6-4e1d-84ec-6f9bddbc9100","name":"Verifica telefone no Active4"},{"parameters":{"operation":"update","contactId":"={{ $('Localiza lead no Active4').item.json.id }}","updateFields":{"phone":"={{ $('Webhook1').item.json.body.data.buyer.checkout_phone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-4336,-432],"id":"0e105da4-0c31-47d9-a2f4-70dbcd71764c","name":"Atualiza telefone do lead4","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"email":"={{ $('Webhook1').item.json.body.email }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $('Webhook1').item.json.body.name }}","phone":"={{ $('Webhook1').item.json.body.phone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-4656,32],"id":"cb6c883f-eca4-43d9-91a6-b57097ef6807","name":"Cria contato no Active4","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"63df66a4-bbb0-4277-b61c-7eb0ceb20aaa","name":"contactId","value":"={{ $json.contact }}","type":"string"},{"id":"41d3a79a-06f4-432a-8148-e5c8f67cd499","name":"tagIds","value":"[\"927\", \"915\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4064,-1408],"id":"062704f8-4666-485e-a482-b99e870daefb","name":"Tags para remoção"},{"parameters":{"url":"=https://institutodetrafego.api-us1.com/api/3/contacts/{{ $json.contactId }}/contactTags","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3872,-1408],"id":"4494888b-99d0-4547-a6c9-7ee22c4f8942","name":"Obter Associações de Tags","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"jsCode":"// Lista de tag IDs que deseja remover\nconst tagIdsToRemove = $('Tags para remoção').first().json.tagIds;\n\n// Lista de associações de tags obtidas do passo anterior\nconst contactTags = $input.first().json.contactTags;\n\n// Filtra associações correspondentes aos tagIds fornecidos\nconst filteredTags = contactTags\n  .filter(contactTag => tagIdsToRemove.includes(contactTag.tag))\n  .map(contactTag => ({ contactTagId: contactTag.id }));\n\n// Retorna o resultado, incluindo uma flag indicando se encontrou algo\nreturn filteredTags.length > 0\n  ? filteredTags\n  : [{ noTagsFound: true }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3664,-1408],"id":"d764e378-d6cc-4487-b1d7-d1f17ba9a0ee","name":"Filtrar Tags para Remoção","alwaysOutputData":true},{"parameters":{"method":"DELETE","url":"=https://institutodetrafego.api-us1.com/api/3/contactTags/{{ $json.contactTagId }}","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3456,-1664],"id":"1a75b880-952c-4124-8d64-30d16341965a","name":"Remover Tags","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3600,-1824],"id":"1f4d2192-0141-4414-8499-9476bb8ec33e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-3216,-1712],"id":"e392fe64-5ee3-47eb-a75a-2b333c3bd900"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58bb978f-588e-4845-827d-02ac160a1141","leftValue":"={{ $json.noTagsFound }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3872,-1936],"id":"81dbb3a0-7299-41a3-b39b-13947c870088","name":"If"},{"parameters":{"method":"POST","url":"=https://meuconsultoriointeligente.api-us1.com/api/3/contactAutomations","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contactAutomation\": {\n    \"contact\": \"{{ $json.id }}\",\n    \"automation\": \"26\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2064,-736],"id":"55eb5593-46d0-4157-87ed-df0baca87975","name":"Adiciona lead a automação do Active","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"49","contactId":"={{ $('Localiza lead no Active4').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-4512,-640],"id":"af94e15c-9c79-4495-8377-7154c425a497","name":"tag Compra Aprovada Vip","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"49","contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-4432,32],"id":"0ee9544d-85bc-45ac-98d5-ead17e56820f","name":"tag Compra Aprovada Vip1","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle Geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1itUKIqbh9Hf2JigmmqIXlYj_ADI63KORJ1gfSl1EaaA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID DA OFERTA","lookupValue":"=xpto"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2800,-752],"id":"f79070d4-4045-4da7-88af-6ff6c882bd88","name":"Verifica planilha de controle","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"update","contactId":"={{ $('tag Compra Aprovada Vip').first().json.contact }}","updateFields":{"fieldValues":{"property":[{"field":"42","value":"={{ $('Verifica planilha de controle').item.json['DATA DO EVENTO'] }}"},{"field":"45","value":"={{ $json['terça-feira'] }}"},{"field":"46","value":"={{ $json['quarta-feira'] }}"},{"field":"47","value":"={{ $json['quinta-feira'] }}"},{"field":"48","value":"={{ $json['sexta-feira'] }}"},{"field":"50","value":"={{ $json['sábado'] }}"},{"field":"43","value":"={{ $json['segunda-feira'] }}"},{"field":"49","value":"={{ $('Verifica planilha de controle').item.json['LINK GRUPO WHATSAPP'] }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2256,-736],"id":"c7a67f7d-7543-47de-ba72-104c0b2fc53d","name":"Atualiza campos personalizados","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"method":"POST","url":"=https://meuconsultoriointeligente.api-us1.com/api/3/contactAutomations","authentication":"predefinedCredentialType","nodeCredentialType":"activeCampaignApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contactAutomation\": {\n    \"contact\": \"{{ $json.id }}\",\n    \"automation\": \"\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2512,32],"id":"bee4f161-9587-4d40-ae64-725de9094a6e","name":"Adiciona lead a automação do Active1","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-5aoYDsLv7h11tcutuepV6I-l6Kmd2644KTYVW-5nUw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Controle Geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1itUKIqbh9Hf2JigmmqIXlYj_ADI63KORJ1gfSl1EaaA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID DA OFERTA","lookupValue":"={{ $('Webhook1').item.json.body.data.purchase.offer.code }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-3216,32],"id":"01864614-2d4a-4c18-ab1e-72989ea7eaaa","name":"Verifica planilha de controle1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"update","contactId":"={{ $('tag Compra Aprovada Vip1').first().json.contact }}","updateFields":{"fieldValues":{"property":[{"field":"105","value":"={{ $('Verifica planilha de controle1').item.json['DATA DO EVENTO'] }}"},{"field":"129","value":"={{ $('Verifica planilha de controle1').item.json['DATA REPLAY'] }}"},{"field":"131","value":"={{ $json['terça-feira'] }}"},{"field":"132","value":"={{ $json['quarta-feira'] }}"},{"field":"133","value":"={{ $json['quinta-feira'] }}"},{"field":"135","value":"={{ $json['sexta-feira'] }}"},{"field":"142","value":"={{ $('Verifica planilha de controle1').item.json['LINK GRUPO WHATSAPP'] }}"},{"field":"148","value":"={{ $json['segunda-feira'] }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2752,32],"id":"82c9a4bf-403a-4226-930b-73540ff48888","name":"Atualiza campos personalizados1","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"06/01/2025\" (segunda-feira)\n\n// Função para converter string \"DD/MM/YYYY\" para um objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day); // JavaScript usa mês indexado em 0\n}\n\n// Função para adicionar dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n    return `${newDate.getDate().toString().padStart(2, '0')}/${(newDate.getMonth() + 1).toString().padStart(2, '0')}/${newDate.getFullYear()}`;\n}\n\n// Converte a data inicial (segunda-feira)\nconst monday = parseDate(inputDate);\n\n// Calcula os dias seguintes\nconst tuesday = addDays(monday, 2);\nconst wednesday = addDays(monday, 3);\nconst thursday = addDays(monday, 4);\nconst friday = addDays(monday, 5);\n\n// Retorna a saída formatada corretamente\nreturn [\n  {\n    \"segunda-feira\": `${inputDate}`,\n    \"terça-feira\": `${tuesday}`,\n    \"quarta-feira\": `${wednesday}`,\n    \"quinta-feira\": `${thursday}`,\n    \"sexta-feira\": `${friday}`\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,-1104],"id":"88de71c4-9055-4314-9fda-6fa6b59b7754","name":"Calcula datas de RMD"},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Exemplo: \"05/04/2026\" (domingo)\n\n// Função para converter string \"DD/MM/YYYY\" para um objeto Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day); // JavaScript usa mês indexado em 0\n}\n\n// Função para adicionar ou subtrair dias e formatar como \"DD/MM/YYYY\"\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n    return ${newDate.getDate().toString().padStart(2, '0')}/${(newDate.getMonth() + 1).toString().padStart(2, '0')}/${newDate.getFullYear()};\n}\n\n// Converte a data inicial (domingo)\nconst sunday = parseDate(inputDate);\n\n// Calcula os dias anteriores\nconst monday = addDays(sunday, -6);\nconst tuesday = addDays(sunday, -5);\nconst wednesday = addDays(sunday, -4);\nconst thursday = addDays(sunday, -3);\nconst friday = addDays(sunday, -2);\nconst saturday = addDays(sunday, -1);\n\n// Retorna a saída formatada corretamente\nreturn [\n  {\n    json: {\n      \"segunda-feira\": monday,\n      \"terça-feira\": tuesday,\n      \"quarta-feira\": wednesday,\n      \"quinta-feira\": thursday,\n      \"sexta-feira\": friday,\n      \"sábado\": saturday,\n      \"domingo\": inputDate\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2992,32],"id":"933e550c-754b-478c-ab5b-4e3452dabe9c","name":"Calcula datas de RMD1"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4288,-656],"id":"7c6b8b96-8041-418e-9776-b82511337ec7","name":"Randomiza o tempo de espera2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"},"id":"cf5140a2-4302-409b-bf9f-cc06047486bc"}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a522d375-fac4-4863-954b-6f62f08354fd","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4000,-720],"id":"ddce374a-693d-4683-b5cb-e9b59ac03946","name":"Switch3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3472,-960],"id":"0edcc4b4-5cf0-4a73-9202-ff5702d9f9c6","name":"Espera 2 minutos ","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3472,-800],"id":"7d6e35b0-34bf-4b7c-9653-f0895d6f6077","name":"Espera 5 minutos ","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3408,-656],"id":"30863d6f-a260-49fa-864b-b53a219ddb74","name":"Espera 7 minutos ","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3472,-512],"id":"21c5ff48-8a63-4f50-a9e9-2e08dddf5d4e","name":"Espera 10 minutos ","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{"jsCode":"const opcoes = ['2', '5', '7', '10'];\nconst indice = Math.floor(Math.random() * opcoes.length);\nconst opcaoSelecionada = opcoes[indice];\n\nreturn [\n  {\n    json: {\n      opcao: opcaoSelecionada\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3984,32],"id":"f7b69269-51e5-43c6-b372-bed1aaff63d1","name":"Randomiza o tempo de espera3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.opcao }}","rightValue":"2","operator":{"type":"string","operation":"equals"},"id":"cf5140a2-4302-409b-bf9f-cc06047486bc"}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74b977fe-5839-4a62-97ff-a955b9ec2799","leftValue":"={{ $json.opcao }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c56ff9ab-0ce4-4250-9ff5-587adbafe3dd","leftValue":"={{ $json.opcao }}","rightValue":"7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a522d375-fac4-4863-954b-6f62f08354fd","leftValue":"={{ $json.opcao }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3760,16],"id":"6a6f19b2-ee28-4a4b-abae-40f3062abe95","name":"Switch4"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3520,-240],"id":"b29996c9-04da-4fa2-a895-574ba007192a","name":"Espera 2 minutos 2","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3520,-48],"id":"ae999df6-1a43-4045-a593-289f9453cead","name":"Espera 5 minutos 2","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{"amount":7,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3520,128],"id":"97cb3e73-0938-492f-aeed-1bd6326b70de","name":"Espera 7 minutos 2","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3520,320],"id":"117217f1-a66a-41fd-9b4c-788425535dd9","name":"Espera 10 minutos 2","webhookId":"b6f46418-b06d-4bfc-a350-76178984614a"},{"parameters":{"operation":"update","contactId":"={{ $('tag Compra Aprovada Vip1').first().json.contact }}","updateFields":{"fieldValues":{"property":[{"field":"1","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.src }}"},{"field":"5","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.sck }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-4192,32],"id":"01414b5a-171e-451a-af25-0ed8b4b34662","name":"Atualiza campos de utm1","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"operation":"update","contactId":"={{ $('tag Compra Aprovada Vip').first().json.contact }}","updateFields":{"fieldValues":{"property":[{"field":"1","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.src }}"},{"field":"5","value":"={{ $('Webhook1').item.json.body.data.purchase.origin.sck }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3504,-2048],"id":"80d0890d-f6b1-4a82-a833-4e33efef0e9b","name":"Atualiza campos de utm","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"httpMethod":"POST","path":"plano-que-liberta-rmd","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-6592,-400],"id":"5e40749c-7602-4242-afc1-2d269c2dae88","name":"Webhook1","webhookId":"bfd8549a-dd0b-465d-8246-b7d2a4b3b932"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"PURCHASE_OUT_OF_SHOPPING_CART","operator":{"type":"string","operation":"equals"},"id":"db792058-a212-4163-bda0-82a7c92df8b5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e56b846-3336-4cca-8890-bf7f92fe554f","leftValue":"={{ $json.body.event }}","rightValue":"PURCHASE_CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f6655c1-09fb-4ac9-8d49-527e76e839a7","leftValue":"={{ $json.body.event }}","rightValue":"PURCHASE_REFUNDED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75116041-77c0-4a61-83a6-74d3a9802031","leftValue":"={{ $json.body.event }}","rightValue":"PURCHASE_APPROVED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6224,-432],"id":"ed460fe8-8b45-4845-9b5a-951b7fff1fbb","name":"Verifica evento da Kiwify"},{"parameters":{"jsCode":"// === CONFIG ===\n// Troque \"Webhook\" pelo nome EXATO do seu nó Webhook, se for diferente.\nconst WEBHOOK_NODE = \"Webhook\";\n\n// === HELPERS ===\nfunction get(obj, path) {\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined ? o[k] : undefined), obj);\n}\nfunction urlDecodeSafe(s){ try { return decodeURIComponent(s); } catch { return s; } }\nfunction tryParseBase64Json(s){\n  try{\n    const b64 = s.replace(/-/g, '+').replace(/_/g, '/');\n    const json = Buffer.from(b64, 'base64').toString('utf8');\n    const obj = JSON.parse(json);\n    return {\n      utm_source: obj.us ?? obj.utm_source ?? '',\n      utm_medium: obj.um ?? obj.utm_medium ?? '',\n      utm_campaign: obj.uc ?? obj.utm_campaign ?? '',\n      utm_content: obj.uct ?? obj.utm_content ?? '',\n      utm_term: obj.ut ?? obj.utm_term ?? '',\n    };\n  } catch { return null; }\n}\nfunction splitPlain(s){\n  const sep = s.includes('|') ? '|' : (s.includes('~') ? '~' : '|');\n  const parts = s.split(sep).map(v => urlDecodeSafe(v.replace(/\\+/g, ' ').trim()));\n  while (parts.length < 5) parts.push('');\n  const [utm_source, utm_medium, utm_campaign, utm_content, utm_term] = parts;\n  return { utm_source, utm_medium, utm_campaign, utm_content, utm_term };\n}\nfunction parseXcod(s){\n  if (!s) return { utm_source:'', utm_medium:'', utm_campaign:'', utm_content:'', utm_term:'' };\n  const asJson = tryParseBase64Json(s);\n  return asJson ?? splitPlain(s);\n}\n\n// === CAPTURA O xcod DIRETO DO NÓ WEBHOOK ===\n// Pega os itens do nó \"Webhook\" (saída 0)\nconst webhookItems = $items(WEBHOOK_NODE, 0) || [];\nconst w = webhookItems[0]?.json || {};\n\n// O payload pode vir \"embrulhado\" em body.data... (URL de teste) ou direto em data...\nconst candidates = [\n  get(w, 'body.data.purchase.origin.xcod'),\n  get(w, 'data.purchase.origin.xcod'),\n  get(w, 'purchase.origin.xcod'),\n  get(w, 'origin.xcod'),\n];\n\nconst xcod = (candidates.find(v => typeof v === 'string' && v.length) || '').toString();\n\n// Faz o parse das UTMs\nconst utm = parseXcod(xcod);\n\n// === OUTPUT APENAS AS MÉTRICAS ===\nreturn [{\n  json: {\n    utm_source: utm.utm_source,\n    utm_medium: utm.utm_medium,\n    utm_campaign: utm.utm_campaign,\n    utm_content: utm.utm_content,\n    utm_term: utm.utm_term,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5488,-512],"id":"3f067d07-d339-4c4c-90c1-6ab64361ce35","name":"Filtra as utms"},{"parameters":{"resource":"tag","operation":"getAll","returnAll":true},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-5472,-1040],"id":"5c06474a-67a6-474f-9523-bbeeaa16bd6c","name":"Verifica ID das tags","credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"url":"https://meuconsultoriointeligente.api-us1.com/api/3/fields","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Api-Token\": \"7db44c450658560f2893d83ef80959dd87e2baf3513c48c57b828d7d69a3a3d816310f75\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-5152,-1072],"id":"07c938ab-26eb-475e-a914-3b1e42dee90a","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"49c6e86a-1040-4bc2-8f43-8a6ff3dee067","leftValue":"=","rightValue":"PQL","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4944,-1072],"id":"79091700-e348-4f06-8f58-a518f9c03bce","name":"If1"},{"parameters":{"jsCode":"const inputDate = $input.first().json['DATA RMD']; // Ex: \"05/04/2026\"\n\n// Função para converter \"DD/MM/YYYY\" em Date\nfunction parseDate(dateStr) {\n    const [day, month, year] = dateStr.split(\"/\").map(Number);\n    return new Date(year, month - 1, day);\n}\n\n// Função para adicionar/subtrair dias e formatar\nfunction addDays(date, days) {\n    const newDate = new Date(date);\n    newDate.setDate(newDate.getDate() + days);\n\n    return `${newDate.getDate().toString().padStart(2, '0')}/${(newDate.getMonth() + 1).toString().padStart(2, '0')}/${newDate.getFullYear()}`;\n}\n\n// Data base (domingo)\nconst sunday = parseDate(inputDate);\n\n// Dias anteriores\nconst monday = addDays(sunday, 0);\nconst tuesday = addDays(sunday, 1);\nconst wednesday = addDays(sunday, 2);\nconst thursday = addDays(sunday, 3);\nconst friday = addDays(sunday, 4);\nconst saturday = addDays(sunday, 5);\n\n// Retorno\nreturn [\n  {\n    json: {\n      \"segunda-feira\": monday,\n      \"terça-feira\": tuesday,\n      \"quarta-feira\": wednesday,\n      \"quinta-feira\": thursday,\n      \"sexta-feira\": friday,\n      \"sábado\": saturday,\n      \"domingo\": inputDate\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2528,-736],"id":"00605fb4-fe50-41a8-ba03-4aad9e0fdefc","name":"Calcula datas de RMD2"}],"connections":{"Localiza lead no Active4":{"main":[[{"node":"Verifica email no Active4","type":"main","index":0}]]},"Verifica email no Active4":{"main":[[{"node":"Verifica telefone no Active4","type":"main","index":0}],[{"node":"Cria contato no Active4","type":"main","index":0}]]},"Verifica telefone no Active4":{"main":[[{"node":"tag Compra Aprovada Vip","type":"main","index":0}],[{"node":"Atualiza telefone do lead4","type":"main","index":0}]]},"Atualiza telefone do lead4":{"main":[[{"node":"tag Compra Aprovada Vip","type":"main","index":0}]]},"Cria contato no Active4":{"main":[[{"node":"tag Compra Aprovada Vip1","type":"main","index":0}]]},"Tags para remoção":{"main":[[{"node":"Obter Associações de Tags","type":"main","index":0}]]},"Obter Associações de Tags":{"main":[[{"node":"Filtrar Tags para Remoção","type":"main","index":0}]]},"Filtrar Tags para Remoção":{"main":[[]]},"Remover Tags":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Remover Tags","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Atualiza campos de utm","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"tag Compra Aprovada Vip":{"main":[[{"node":"Randomiza o tempo de espera2","type":"main","index":0}]]},"tag Compra Aprovada Vip1":{"main":[[{"node":"Atualiza campos de utm1","type":"main","index":0}]]},"Verifica planilha de controle":{"main":[[{"node":"Calcula datas de RMD2","type":"main","index":0}]]},"Atualiza campos personalizados":{"main":[[{"node":"Adiciona lead a automação do Active","type":"main","index":0}]]},"Verifica planilha de controle1":{"main":[[{"node":"Calcula datas de RMD1","type":"main","index":0}]]},"Atualiza campos personalizados1":{"main":[[{"node":"Adiciona lead a automação do Active1","type":"main","index":0}]]},"Calcula datas de RMD":{"main":[[]]},"Calcula datas de RMD1":{"main":[[{"node":"Atualiza campos personalizados1","type":"main","index":0}]]},"Randomiza o tempo de espera2":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Espera 2 minutos ","type":"main","index":0}],[{"node":"Espera 5 minutos ","type":"main","index":0}],[{"node":"Espera 7 minutos ","type":"main","index":0}],[{"node":"Espera 10 minutos ","type":"main","index":0}]]},"Randomiza o tempo de espera3":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Espera 2 minutos 2","type":"main","index":0}],[{"node":"Espera 5 minutos 2","type":"main","index":0}],[{"node":"Espera 7 minutos 2","type":"main","index":0}],[{"node":"Espera 10 minutos 2","type":"main","index":0}]]},"Espera 2 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 5 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 7 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 10 minutos ":{"main":[[{"node":"Verifica planilha de controle","type":"main","index":0}]]},"Espera 2 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 5 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 7 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Espera 10 minutos 2":{"main":[[{"node":"Verifica planilha de controle1","type":"main","index":0}]]},"Atualiza campos de utm1":{"main":[[{"node":"Randomiza o tempo de espera3","type":"main","index":0}]]},"Atualiza campos de utm":{"main":[[]]},"Webhook1":{"main":[[{"node":"Verifica evento da Kiwify","type":"main","index":0}]]},"Verifica evento da Kiwify":{"main":[[],[],[],[{"node":"Localiza lead no Active4","type":"main","index":0}]]},"Filtra as utms":{"main":[[]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Calcula datas de RMD2":{"main":[[{"node":"Atualiza campos personalizados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a671fd0-7883-432d-85ba-9bf8205a1bd3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-31T21:50:01.507Z","createdAt":"2026-03-31T21:50:01.507Z","role":"workflow:owner","workflowId":"iOpcTKTQEIwjeRoZ","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-31T22:04:59.068Z","createdAt":"2026-03-31T22:04:33.417Z","id":"5rmWxvwbk4w1gIeP","name":"#Kiwify"},{"updatedAt":"2026-03-31T22:04:33.423Z","createdAt":"2026-03-31T22:04:33.423Z","id":"p6Kdw7NUTqwnKl0h","name":"#ActiveCampaign"}]}