[daniella-cavenague]-funil-de-agendamento-vuHcupIw5QLsvpy4.json
{"updatedAt":"2026-03-06T20:06:15.558Z","createdAt":"2026-03-06T19:45:13.339Z","id":"vuHcupIw5QLsvpy4","name":"[DANIELLA CAVENAGUE] Funil de Agendamento","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# CADASTRO ISCAS","height":1008,"width":3156,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"3eacaab0-6d30-4e2f-87a0-e4b500593b54","name":"Sticky Note4"},{"parameters":{"content":"# AGENDOU - ISCA","height":1100,"width":2880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3424,1232],"typeVersion":1,"id":"f0573e20-bcd0-4dda-a815-ec01d6194168","name":"Sticky Note5"},{"parameters":{"httpMethod":"POST","path":"b4ed6aa3-7ec3-49ef-886a-97454bae1c7b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3536,496],"id":"cabebc8a-a123-43c0-8f0e-a43701eafd97","name":"[Cal.com] Reunião criada2","webhookId":"b4ed6aa3-7ec3-49ef-886a-97454bae1c7b"},{"parameters":{"content":"# AGENDOU - SOCIAL SELLING EDITARAAAA","height":1100,"width":2880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3424,0],"typeVersion":1,"id":"18580fed-4052-46ab-9e78-b0ca2370a15b","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4416,496],"id":"5e2f1d81-a5bf-4ab5-ae56-51ea6c061aa7","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"f5d742d1-fb52-4407-9e33-16de58c4c9eb","name":"id_sheet","value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","type":"string"},{"id":"989f1c6c-08c1-47ce-b8ce-2c33ad8c9737","name":"nome","value":"={{ $json.body.payload.responses.name.value }}","type":"string"},{"id":"4aed2e37-b204-4818-bafe-059f0d05ba7e","name":"email","value":"={{ $json.body.payload.responses.email.value }}","type":"string"},{"id":"fd1b94ef-273c-446e-aa19-0159f3e13081","name":"telefone","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.payload.responses.attendeePhoneNumber.value.replaceAll(/\\D/g, '') }}","type":"string"},{"id":"a29665d0-5f02-483a-81b9-066f55224eba","name":"perfil_instagram","value":"={{ $json.body.payload.userFieldsResponses['perfil-instagram'].value }}","type":"string"},{"id":"e283e551-15c8-4cc0-b894-93e912bf86e2","name":"especialidade","value":"={{ $json.body.payload.userFieldsResponses.especialidade.value }}","type":"string"},{"id":"40867a9e-0e8b-45c1-867b-0778f242ec49","name":"incomodo_principal","value":"={{ $json.body.payload.userFieldsResponses['maior-incomodo'].value }}","type":"string"},{"id":"1497d7e4-f525-4695-893b-7010a9db44cf","name":"objetivo","value":"={{ $json.body.payload.userFieldsResponses['objetivo-curto-prazo'].value }}","type":"string"},{"id":"45414bda-55ef-4c97-ad88-2565a265f31d","name":"prazo","value":"={{ $json.body.payload.userFieldsResponses['prazo-solucao'].value }}","type":"string"},{"id":"071b012e-81dc-4a42-b55a-538aa94d32cf","name":"capacidade_investimento","value":"={{ $json.body.payload.userFieldsResponses['capacidade-investimento'].value }}","type":"string"},{"id":"2fcbda8e-57cd-4d71-b0f0-9c007037aefa","name":"data_evento","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.createdAt.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"781114a0-9d96-46ff-ad35-62d5bf0a4772","name":"data_reuniao","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.payload.startTime.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"49f1505b-d759-48ab-b8e7-f64de1b5a026","name":"nome_consultor","value":"={{ $json.body.payload.organizer.name }}","type":"string"},{"id":"f7c7caf4-0469-4f05-8405-285d9190d92d","name":"email_consultor","value":"={{ $json.body.payload.organizer.email }}","type":"string"},{"id":"de4945a3-4de6-4a5e-bcc8-8f64ba999193","name":"tempo_atuacao","value":"={{ $json.body.payload.responses[\"tempo-atuacao\"].value }}","type":"string"},{"id":"6f8494d7-7c75-45a8-8985-0a65b3410212","name":"informacoes_adicionais","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.payload.responses.notes.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3984,496],"id":"8cc9aac6-0091-41bc-a7ad-4bd4412d91c0","name":"Edit Fields2"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4208,496],"id":"0d36db3f-d31f-45b9-bad2-abe181b2ee98","name":"Busca cadastro2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields2').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $('Edit Fields2').item.json.data_evento }}","Nome":"={{ $('Edit Fields2').item.json.nome }}","Email":"={{ $('Edit Fields2').item.json.email }}","Telefone":"={{ $('Edit Fields2').item.json.telefone }}","utm_source":"Cal.com"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4704,656],"id":"2af0a182-511d-407b-87b4-0c7805cfa3ed","name":"Adiciona cadastro lead6","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields2').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $('Edit Fields2').item.json.data_evento }}","Nome":"={{ $('Edit Fields2').item.json.nome }}","Email":"={{ $('Edit Fields2').item.json.email }}","Telefone":"={{ $('Edit Fields2').item.json.telefone }}","Pré-qualificação":"=","Seu @ do instagram":"={{ $('Edit Fields2').item.json.perfil_instagram }}","Qual sua especialidade/área de atuação?":"={{ $('Edit Fields2').item.json.especialidade }}","O que mais te incomoda na sua situação profissional atual?":"={{ $('Edit Fields2').item.json.incomodo_principal }}","Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?":"={{ $('Edit Fields2').item.json.objetivo }}","Qual é o prazo limite que você se deu para resolver essa situação?":"={{ $('Edit Fields2').item.json.prazo }}","Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?":"={{ $('Edit Fields2').item.json.capacidade_investimento }}","Há quanto tempo atua como profissional de saúde?":"={{ $('Edit Fields2').item.json.tempo_atuacao }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pré-qualificação","displayName":"Pré-qualificação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seu @ do instagram","displayName":"Seu @ do instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual sua especialidade/área de atuação?","displayName":"Qual sua especialidade/área de atuação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sua situação atual de atendimento:","displayName":"Sua situação atual de atendimento:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quantas horas por semana você dedica a plantões?","displayName":"Quantas horas por semana você dedica a plantões?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quantas horas por semana você dedica ao consultório?","displayName":"Quantas horas por semana você dedica ao consultório?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"O que mais te incomoda na sua situação profissional atual?","displayName":"O que mais te incomoda na sua situação profissional atual?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","displayName":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o prazo limite que você se deu para resolver essa situação?","displayName":"Qual é o prazo limite que você se deu para resolver essa situação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","displayName":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo atua como profissional de saúde?","displayName":"Há quanto tempo atua como profissional de saúde?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas consultas faz por mês?","displayName":"Quantas consultas faz por mês?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o valor da sua consulta?","displayName":"Qual o valor da sua consulta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faixa de faturamento","displayName":"Faixa de faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","displayName":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas você dedica a plantões/regime de horas por semana?","displayName":"Quantas horas você dedica a plantões/regime de horas por semana?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesse na mentoria","displayName":"Interesse na mentoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo você acompanha a Dra. Natália Daniela?","displayName":"Há quanto tempo você acompanha a Dra. Natália Daniela?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4944,480],"id":"f2404fca-6c4c-4a34-b665-974b6307c18d","name":"Adiciona qualificação2","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('Edit Fields2').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":783694583,"mode":"list","cachedResultName":"Agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=783694583"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Edit Fields2').item.json.email }}","Data Evento":"={{ $('Edit Fields2').item.json.data_evento }}","Data Reunião":"={{ $('Edit Fields2').item.json.data_reuniao }}","Nome":"={{ $('Edit Fields2').item.json.nome }}","Telefone":"={{ $('Edit Fields2').item.json.telefone }}","Consultor":"={{ $('Edit Fields2').item.json.nome_consultor }}","Email consultor":"={{ $('Edit Fields2').item.json.email_consultor }}"},"matchingColumns":["Email"],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Reunião","displayName":"Data Reunião","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Consultor","displayName":"Consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email consultor","displayName":"Email consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5280,480],"id":"0720e3d9-c122-4a18-9c68-2c0303822abf","name":"Adiciona agendamento5","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f8f6814-673a-4ef5-86f7-54c0a122cc33","name":"=Data Evento","value":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"5f6274ea-a25b-44b9-880c-fee35b9286b2","name":"=Nome","value":"={{ $json.body['fields[nome][value]'].split(\" \")[0] }}","type":"string"},{"id":"b899acf4-b802-426e-846b-713786dc81cd","name":"=Sobrenome","value":"={{ $json.body['fields[nome][value]'].split(\" \").slice(1).join(\" \") }}","type":"string"},{"id":"23c2a4ff-d9a2-4ba7-b6f7-c0f4ec78f76c","name":"=Email","value":"={{ $json.body['fields[email][value]'] }}","type":"string"},{"id":"db6d97ce-1055-44f9-9bbb-c23451a1a811","name":"=Telefone","value":"={{ $json.body['fields[telefone][value]'] }}","type":"string"},{"id":"427351f9-92b2-4325-8a4a-e198fcedf24b","name":"=URL","value":"={{ $json.body['fields[url_dominio][value]'] }}","type":"string"},{"id":"fdaa9348-e103-4679-9bbb-13c99f3b0e25","name":"=Path","value":"={{ $json.body['fields[url_path][value]'] }}","type":"string"},{"id":"2fa7c379-3fd6-477d-b33d-22f738e996ca","name":"=utm_source","value":"={{ $json.body['fields[utm_source][value]'] }}","type":"string"},{"id":"1efa36c0-d367-4938-aa98-9abafccf0bae","name":"utm_medium","value":"={{ $json.body['fields[utm_medium][value]'] }}","type":"string"},{"id":"b66d88ec-1b79-4abd-bdb5-8bdc0bacba8a","name":"=utm_campaign","value":"={{ $json.body['fields[utm_campaign][value]'] }}","type":"string"},{"id":"57335ead-b452-4d57-b665-074956b8c6c0","name":"=utm_content","value":"={{ $json.body['fields[utm_content][value]'] }}","type":"string"},{"id":"833992f2-40be-4070-a4d4-29dc45f9c28e","name":"=utm_term","value":"={{ $json.body['fields[utm_term][value]'] }}","type":"string"},{"id":"c98aa28b-69ed-4642-aab4-5b882914d809","name":"Nome da Isca","value":"={{ $json.body['form[name]'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,384],"id":"a654ed29-fe6c-4699-ab36-a4b7b5eeedf3","name":"Campos webhook"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1203026194,"mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1203026194"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $json['Data Evento'] }}","Nome":"={{ $json.Nome }}","Email":"={{ $json.Email }}","Telefone":"={{ $json.Telefone }}","URL domínio":"={{ $json.URL }}","URL path":"={{ $json.Path }}","utm_source":"={{ $json.utm_source }}","utm_medium":"={{ $json.utm_medium }}","utm_campaign":"={{ $json.utm_campaign }}","utm_content":"={{ $json.utm_content }}","utm_term":"={{ $json.utm_term }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,384],"id":"ca7cf41f-e5bd-4dbc-b2f4-2334e803a035","name":"Cadastro Lead Sheets","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"email":"={{ $('Campos webhook').item.json.Email }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $('Campos webhook').item.json.Nome }}","lastName":"={{ $('Campos webhook').item.json.Sobrenome }}","phone":"={{ $('Campos webhook').item.json.Telefone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[1968,384],"id":"9320159f-bea9-4373-8f69-050481d819cd","name":"Create a contact","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":"={{ $json.Lista }}","contactId":"={{ $json.Contato }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[2880,480],"id":"5f4908d8-c1d5-4bf4-a300-19ec966e64fe","name":"Add a contact to a list","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"={{ $json.Tag }}","contactId":"={{ $json.Contato }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[2880,288],"id":"0b609db1-7d15-4aab-93d7-5a8307cfeb30","name":"Add a contact tag","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Campos webhook').item.json['Nome da Isca'] }}","rightValue":"isca 1","operator":{"type":"string","operation":"contains"},"id":"a77a5816-b0b2-46b2-bbc8-b8a6b5238cf9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Isca 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e355e4b-1650-47e0-ab3d-256819f3d2bb","leftValue":"={{ $('Campos webhook').item.json['Nome da Isca'] }}","rightValue":"isca 2","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Isca 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"890cfb7d-260f-4bbd-a987-839ee5205559","leftValue":"={{ $('Campos webhook').item.json['Nome da Isca'] }}","rightValue":"isca 3","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Isca 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2208,368],"id":"49259330-f743-4ded-ab2b-c3c231fa4b65","name":"Switch"},{"parameters":{"resource":"contactList","listId":5,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5792,480],"id":"88aea8b6-ba25-4195-8655-fff5783863f6","name":"Add a contact to a list1","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"6","contactId":"={{ $('Create a contact1').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5984,480],"id":"3cdfa5ba-3f77-4da3-923c-28e2eecbdf84","name":"Add a contact tag1","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"email":"={{ $('Edit Fields2').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"5","value":"={{ $('Edit Fields2').item.json.perfil_instagram }}"},{"field":"6","value":"={{ $('Edit Fields2').item.json.especialidade }}"},{"field":"32","value":"={{ $('Edit Fields2').item.json.informacoes_adicionais }}"},{"field":"33","value":"={{ $('Edit Fields2').item.json.nome_consultor }}"},{"field":"34","value":"={{ $('Edit Fields2').item.json.email_consultor }}"},{"field":"35","value":"={{ $('Edit Fields2').item.json.data_reuniao }}"}]},"firstName":"={{ $('Edit Fields2').item.json.nome.split(\" \").first() }}","lastName":"={{ $('Edit Fields2').item.json.nome.split(\" \").slice(1).join(\" \") }}","phone":"=+{{ $('Edit Fields2').item.json.telefone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5616,480],"id":"2ec57f58-e8f9-4e56-9b6d-f8afbd615ddd","name":"Create a contact1","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4384,1760],"id":"8aba5d58-ceb1-4f00-bd48-480ba34cf8a9","name":"If5"},{"parameters":{"assignments":{"assignments":[{"id":"f5d742d1-fb52-4407-9e33-16de58c4c9eb","name":"id_sheet","value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","type":"string"},{"id":"989f1c6c-08c1-47ce-b8ce-2c33ad8c9737","name":"nome","value":"={{ $json.body.payload.responses.name.value }}","type":"string"},{"id":"4aed2e37-b204-4818-bafe-059f0d05ba7e","name":"email","value":"={{ $json.body.payload.responses.email.value }}","type":"string"},{"id":"fd1b94ef-273c-446e-aa19-0159f3e13081","name":"telefone","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.responses.attendeePhoneNumber.value.replaceAll(/\\D/g, '') }}","type":"string"},{"id":"a29665d0-5f02-483a-81b9-066f55224eba","name":"perfil_instagram","value":"={{ $json.body.payload.userFieldsResponses['perfil-instagram'].value }}","type":"string"},{"id":"e283e551-15c8-4cc0-b894-93e912bf86e2","name":"especialidade","value":"={{ $json.body.payload.userFieldsResponses.especialidade.value }}","type":"string"},{"id":"40867a9e-0e8b-45c1-867b-0778f242ec49","name":"incomodo_principal","value":"={{ $json.body.payload.userFieldsResponses['maior-incomodo'].value }}","type":"string"},{"id":"1497d7e4-f525-4695-893b-7010a9db44cf","name":"objetivo","value":"={{ $json.body.payload.userFieldsResponses['objetivo-curto-prazo'].value }}","type":"string"},{"id":"45414bda-55ef-4c97-ad88-2565a265f31d","name":"prazo","value":"={{ $json.body.payload.userFieldsResponses['prazo-solucao'].value }}","type":"string"},{"id":"071b012e-81dc-4a42-b55a-538aa94d32cf","name":"capacidade_investimento","value":"={{ $json.body.payload.userFieldsResponses['capacidade-investimento'].value }}","type":"string"},{"id":"2fcbda8e-57cd-4d71-b0f0-9c007037aefa","name":"data_evento","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.createdAt.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"781114a0-9d96-46ff-ad35-62d5bf0a4772","name":"data_reuniao","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.startTime.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"49f1505b-d759-48ab-b8e7-f64de1b5a026","name":"nome_consultor","value":"={{ $json.body.payload.organizer.name }}","type":"string"},{"id":"f7c7caf4-0469-4f05-8405-285d9190d92d","name":"email_consultor","value":"={{ $json.body.payload.organizer.email }}","type":"string"},{"id":"de4945a3-4de6-4a5e-bcc8-8f64ba999193","name":"tempo_atuacao","value":"={{ $json.body.payload.responses[\"tempo-atuacao\"].value }}","type":"string"},{"id":"6f8494d7-7c75-45a8-8985-0a65b3410212","name":"informacoes_adicionais","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.responses.notes.value }}","type":"string"},{"id":"ac0eb85c-2dd8-435f-8827-962490a4d219","name":"titulo_agendamento","value":"={{ $json.body.payload.eventTitle }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,1760],"id":"0e6bcaac-9cce-462a-84fc-b8fc4e34f5fa","name":"Edit Fields5"},{"parameters":{"documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1240086666,"mode":"list","cachedResultName":"Agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1240086666"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4176,1760],"id":"f307b8dd-8e5b-46f9-8a86-79fb8e22e688","name":"Busca cadastro5","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1203026194,"mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1203026194"},"columns":{"mappingMode":"defineBelow","value":{"utm_source":"Cal.com","URL domínio":"Cal.com","URL path":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.type }}","Data Evento":"={{ $('Edit Fields5').item.json.data_evento }}","Nome":"={{ $('Edit Fields5').item.json.nome }}","Email":"={{ $('Edit Fields5').item.json.email }}","Telefone":"={{ $('Edit Fields5').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4704,1984],"id":"fbda36df-ab76-49b2-b700-b37528e7f394","name":"Adiciona cadastro lead9","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1240086666,"mode":"list","cachedResultName":"Agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1240086666"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $('Edit Fields5').item.json.data_evento }}","Data Reunião":"={{ $('Edit Fields5').item.json.data_reuniao }}","Nome":"={{ $('Edit Fields5').item.json.nome }}","Email":"={{ $('Edit Fields5').item.json.email }}","Telefone":"={{ $('Edit Fields5').item.json.telefone }}","Consultor":"={{ $('Edit Fields5').item.json.nome_consultor }}","Email consultor":"={{ $('Edit Fields5').item.json.email_consultor }}","Nome do Agendamento":"={{ $('Edit Fields5').item.json.titulo_agendamento }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Reunião","displayName":"Data Reunião","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Consultor","displayName":"Consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email consultor","displayName":"Email consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Agendamento","displayName":"Nome do Agendamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5248,1744],"id":"bf80ec24-b3b0-4bd6-9984-2f98d4df02b6","name":"Adiciona agendamento9","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"resource":"contactTag","tagId":"4","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[6000,1648],"id":"69d4d3e9-ff76-419f-92d9-d965d09e2988","name":"Add a contact tag2","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"email":"={{ $('Edit Fields5').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"5","value":"={{ $('Edit Fields5').item.json.nome_consultor }}"},{"field":"6","value":"={{ $('Edit Fields5').item.json.email_consultor }}"},{"field":"7","value":"={{ $('Edit Fields5').item.json.data_reuniao }}"}]},"firstName":"={{ $('Edit Fields5').item.json.nome.split(\" \").first() }}","lastName":"={{ $('Edit Fields5').item.json.nome.split(\" \").slice(1).join(\" \") }}","phone":"=+{{ $('Edit Fields5').item.json.telefone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5632,1648],"id":"0b7873e0-f875-4aa9-ad83-78675ab19aa6","name":"Create a contact2","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"httpMethod":"POST","path":"optin-iscas-daniella-cavenague","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[96,384],"id":"20ea3d4f-0af9-46df-b142-99a2a958fa3e","name":"Cadastro Iscas","webhookId":"286b8885-4ab9-4c2e-a51b-c7d2752bc49f"},{"parameters":{"assignments":{"assignments":[{"id":"712ff3b2-21e4-4164-affd-c117a42ac87b","name":"Lista","value":"3","type":"string"},{"id":"ba0df41d-39dd-4080-af89-c7c4b80240aa","name":"Tag","value":"1","type":"string"},{"id":"a8025a5f-c83f-4599-8c9d-baa6bae99a13","name":"Contato","value":"={{ $('Create a contact').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,192],"id":"c3d6165e-30f3-489d-b476-25355ddf22bc","name":"Isca 1"},{"parameters":{"assignments":{"assignments":[{"id":"712ff3b2-21e4-4164-affd-c117a42ac87b","name":"Lista","value":"4","type":"string"},{"id":"ba0df41d-39dd-4080-af89-c7c4b80240aa","name":"Tag","value":"2","type":"string"},{"id":"1893936a-0ad1-4b7a-b4f8-4f69d2847eee","name":"Contato","value":"={{ $('Create a contact').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,384],"id":"3c1fea85-febb-463e-bfcb-9e8466f06044","name":"Isca 2"},{"parameters":{"assignments":{"assignments":[{"id":"712ff3b2-21e4-4164-affd-c117a42ac87b","name":"Lista","value":"5","type":"string"},{"id":"ba0df41d-39dd-4080-af89-c7c4b80240aa","name":"Tag","value":"3","type":"string"},{"id":"64bcf301-2f40-42a3-8f78-dd36c3794582","name":"Contato","value":"={{ $('Create a contact').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,592],"id":"88f13187-d018-464a-9660-6f4702324ba7","name":"Isca 3"},{"parameters":{"resource":"tag","operation":"getAll","returnAll":true},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[2896,800],"id":"4b34c047-da22-4a12-9548-6bddec527fbc","name":"Get many tags","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2688,800],"id":"d9c3ccc7-b28e-4d92-acb7-e527a891a6ab","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"daniella-cavenague-isca-agendou","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3536,1744],"id":"f3c8347f-f0af-46d8-831a-7b29038f8875","name":"[Cal.com] Agendamento Isca","webhookId":"469e2eb7-3f70-4d20-a821-67d63a8527d7"}],"connections":{"[Cal.com] Reunião criada2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Adiciona qualificação2","type":"main","index":0}],[{"node":"Adiciona cadastro lead6","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Busca cadastro2","type":"main","index":0}]]},"Busca cadastro2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Adiciona cadastro lead6":{"main":[[{"node":"Adiciona qualificação2","type":"main","index":0}]]},"Adiciona qualificação2":{"main":[[{"node":"Adiciona agendamento5","type":"main","index":0}]]},"Adiciona agendamento5":{"main":[[{"node":"Create a contact1","type":"main","index":0}]]},"Campos webhook":{"main":[[{"node":"Cadastro Lead Sheets","type":"main","index":0}]]},"Cadastro Lead Sheets":{"main":[[{"node":"Create a contact","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Isca 1","type":"main","index":0}],[{"node":"Isca 2","type":"main","index":0}],[{"node":"Isca 3","type":"main","index":0}]]},"Add a contact to a list1":{"main":[[{"node":"Add a contact tag1","type":"main","index":0}]]},"Create a contact1":{"main":[[{"node":"Add a contact to a list1","type":"main","index":0}]]},"If5":{"main":[[{"node":"Adiciona agendamento9","type":"main","index":0}],[{"node":"Adiciona cadastro lead9","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Busca cadastro5","type":"main","index":0}]]},"Busca cadastro5":{"main":[[{"node":"If5","type":"main","index":0}]]},"Adiciona cadastro lead9":{"main":[[{"node":"Adiciona agendamento9","type":"main","index":0}]]},"Adiciona agendamento9":{"main":[[{"node":"Create a contact2","type":"main","index":0}]]},"Create a contact2":{"main":[[{"node":"Add a contact tag2","type":"main","index":0}]]},"Cadastro Iscas":{"main":[[{"node":"Campos webhook","type":"main","index":0}]]},"Isca 1":{"main":[[{"node":"Add a contact tag","type":"main","index":0},{"node":"Add a contact to a list","type":"main","index":0}]]},"Isca 2":{"main":[[{"node":"Add a contact to a list","type":"main","index":0},{"node":"Add a contact tag","type":"main","index":0}]]},"Isca 3":{"main":[[{"node":"Add a contact tag","type":"main","index":0},{"node":"Add a contact to a list","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many tags","type":"main","index":0}]]},"[Cal.com] Agendamento Isca":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"ryeRyazw0zDtoUQA","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"[Cal.com] Reunião criada2":[{"json":{"headers":{"host":"webhook.digitalfocus.click","user-agent":"node","content-length":"3578","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","baggage":"sentry-environment=vercel-production,sentry-public_key=7fa2ea46dede9404597bde582525baca,sentry-trace_id=c0ff595504ad4ff5b52394cf1021d68f,sentry-org_id=574544,sentry-sampled=false,sentry-sample_rand=0.809369810013381,sentry-sample_rate=0","content-type":"application/json","sec-fetch-mode":"cors","sentry-trace":"c0ff595504ad4ff5b52394cf1021d68f-e65811ff2110f73a-0","x-cal-signature-256":"no-secret-provided","x-cal-webhook-version":"2021-10-20","x-forwarded-for":"3.16.68.27","x-forwarded-host":"webhook.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31fc8bc5fa6e","x-invocation-id":"gru1:gru1::8mkfd-1770063537659-5b96edcce4b5","x-real-ip":"3.16.68.27","x-vercel-id":"gru1:gru1::8mkfd-1770063537659-5b96edcce4b5"},"params":{},"query":{},"body":{"triggerEvent":"BOOKING_CREATED","createdAt":"2026-02-02T20:19:00.047Z","payload":{"bookerUrl":"https://cal.com","title":"[SS] Dra. Natália Daniela e teste matheus","startTime":"2026-02-04T18:00:00Z","endTime":"2026-02-04T19:00:00Z","additionalNotes":"cccc","type":"ss-natalia-daniela","description":"cccc","eventTypeId":3227830,"hideCalendarNotes":false,"hideCalendarEventDetails":false,"hideOrganizerEmail":false,"schedulingType":null,"seatsPerTimeSlot":null,"seatsShowAttendees":true,"seatsShowAvailabilityCount":true,"customReplyToEmail":null,"disableRescheduling":false,"disableCancelling":false,"organizer":{"id":1542041,"name":"Natália Daniela","email":"nataliadanielasl@gmail.com","username":"natalia-daniela-ykpv6w","timeZone":"America/Sao_Paulo","language":{"locale":"pt-BR"},"timeFormat":"HH:mm","utcOffset":-180},"attendees":[{"email":"matheus.ocs@gmail.com","name":"teste matheus","phoneNumber":"+5522998969095","firstName":"","lastName":"","timeZone":"America/Sao_Paulo","language":{"locale":"pt-BR"},"utcOffset":-180}],"customInputs":{},"responses":{"name":{"label":"your_name","value":"teste matheus","isHidden":false},"email":{"label":"email_address","value":"matheus.ocs@gmail.com","isHidden":false},"attendeePhoneNumber":{"label":"phone_number","value":"+5522998969095","isHidden":false},"location":{"label":"location","value":{"optionValue":"","value":"integrations:daily"},"isHidden":false},"title":{"label":"what_is_this_meeting_about","isHidden":true},"guests":{"label":"additional_guests","value":[],"isHidden":true},"rescheduleReason":{"label":"reason_for_reschedule","isHidden":true},"perfil-instagram":{"label":"@ do instagram","value":"aaaa","isHidden":false},"especialidade":{"label":"Especialidade/área de atuação?","value":"bbb","isHidden":false},"notes":{"label":"additional_notes","value":"cccc","isHidden":false}},"userFieldsResponses":{"perfil-instagram":{"label":"@ do instagram","value":"aaaa","isHidden":false},"especialidade":{"label":"Especialidade/área de atuação?","value":"bbb","isHidden":false}},"location":"https://app.cal.com/video/ufd6pz9dfh3Fq3i2EyGeth","destinationCalendar":[{"id":611946,"integration":"google_calendar","externalId":"nataliadanielasl@gmail.com","primaryEmail":"nataliadanielasl@gmail.com","userId":1542041,"eventTypeId":null,"credentialId":1010223,"createdAt":"2025-07-07T10:50:48.811Z","updatedAt":"2025-10-07T13:41:49.606Z","delegationCredentialId":null,"domainWideDelegationCredentialId":null,"customCalendarReminder":null}],"iCalUID":"ufd6pz9dfh3Fq3i2EyGeth@Cal.com","iCalSequence":0,"requiresConfirmation":false,"oneTimePassword":null,"hashedLink":null,"uid":"ufd6pz9dfh3Fq3i2EyGeth","conferenceData":{"createRequest":{"requestId":"2db644eb-37a5-581a-99fa-ebe6ce513834"}},"videoCallData":{"type":"daily_video","id":"DWa34WJ8tC8GzPkn2cmO","password":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyIjoiRFdhMzRXSjh0QzhHelBrbjJjbU8iLCJleHAiOjE3NzE0NDEyMDAsIm8iOnRydWUsImVydWkiOmZhbHNlLCJkIjoiYmJkOThhNzEtMTljOS00YmIxLWE1YzUtY2FmMWVjNWJkMTA1IiwiaWF0IjoxNzcwMDYzNTM5fQ.GNMeeR_RBdcPzeIvQ77tyDhaqjE7HyHm_HYDE3TUeyo","url":"https://meetco.daily.co/DWa34WJ8tC8GzPkn2cmO"},"appsStatus":[{"appName":"Cal Video","type":"daily_video","success":1,"failures":0,"errors":[]},{"appName":"Google Calendar","type":"google_calendar","success":1,"failures":0,"errors":[],"warnings":[]}],"eventTitle":"[SS] Reunião com Dra. Natália Daniela","eventDescription":"","price":0,"currency":"usd","length":60,"bookingId":15385788,"metadata":{"videoCallUrl":"https://app.cal.com/video/ufd6pz9dfh3Fq3i2EyGeth"},"status":"ACCEPTED"}},"webhookUrl":"https://webhook.digitalfocus.click/webhook/social-selling-agendou","executionMode":"production"}}],"Edit Fields2":[{"json":{"id_sheet":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","nome":"Teste Matheus Santos","email":"matheus.ocs@gmail.com","telefone":"5511999990000","perfil_instagram":"teste","especialidade":"teste","incomodo_principal":"Depender de clínicas/consultórios terceiros ou plantões","objetivo":"Independência financeira (viver só do consultório)","prazo":"Já deveria ter resolvido (Imediatamente)","capacidade_investimento":"Até R$ 5.000","data_evento":"2025-09-03 17:29","data_reuniao":"2025-09-05 15:15","nome_consultor":"Natália Daniela","email_consultor":"nataliadanielasl@gmail.com","tempo_atuacao":"Menos de 2 anos (recém-formado/a)"}}],"Edit Fields5":[{"json":{"id_sheet":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","nome":"Teste Matheus","email":"matheus.ocs@gmail.com","telefone":"5511999990000","perfil_instagram":"teste","especialidade":"teste","incomodo_principal":"Depender de clínicas/consultórios terceiros ou plantões","objetivo":"Independência financeira (viver só do consultório)","prazo":"Já deveria ter resolvido (Imediatamente)","capacidade_investimento":"Até R$ 5.000","data_evento":"2025-09-03 17:29","data_reuniao":"2025-09-05 15:15","nome_consultor":"Natália Daniela","email_consultor":"nataliadanielasl@gmail.com","tempo_atuacao":"Menos de 2 anos (recém-formado/a)"}}],"Cadastro Iscas":[{"json":{"headers":{"host":"webhook.digitalfocus.click","user-agent":"WordPress/6.9.1; https://viverdaestetica.com.br","content-length":"4034","accept":"*/*","accept-encoding":"deflate, gzip, br","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"82.112.247.20","x-forwarded-host":"webhook.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6e4ca999bfe8","x-real-ip":"82.112.247.20"},"params":{},"query":{},"body":{"form[id]":"0910ae2","form[name]":"isca 1 checklist high ticket","fields[nome][id]":"nome","fields[nome][type]":"text","fields[nome][title]":"Nome","fields[nome][value]":"teste","fields[nome][raw_value]":"teste","fields[nome][required]":"1","fields[email][id]":"email","fields[email][type]":"email","fields[email][title]":"Email","fields[email][value]":"teste@teste.com","fields[email][raw_value]":"teste@teste.com","fields[email][required]":"1","fields[telefone][id]":"telefone","fields[telefone][type]":"tel","fields[telefone][title]":"Telefone","fields[telefone][value]":"+5511999999999","fields[telefone][raw_value]":"+5511999999999","fields[telefone][required]":"1","fields[url][id]":"url","fields[url][type]":"hidden","fields[url][title]":"url","fields[url][value]":"https://viverdaestetica.com.br/is1-checklist-high-ticket?gtm_debug=1772150441199","fields[url][raw_value]":"https://viverdaestetica.com.br/is1-checklist-high-ticket?gtm_debug=1772150441199","fields[url][required]":"0","fields[url_dominio][id]":"url_dominio","fields[url_dominio][type]":"hidden","fields[url_dominio][title]":"url_dominio","fields[url_dominio][value]":"https://viverdaestetica.com.br","fields[url_dominio][raw_value]":"https://viverdaestetica.com.br","fields[url_dominio][required]":"0","fields[url_path][id]":"url_path","fields[url_path][type]":"hidden","fields[url_path][title]":"url_path","fields[url_path][value]":"/is1-checklist-high-ticket","fields[url_path][raw_value]":"/is1-checklist-high-ticket","fields[url_path][required]":"0","fields[url_parametros][id]":"url_parametros","fields[url_parametros][type]":"hidden","fields[url_parametros][title]":"url_parametros","fields[url_parametros][value]":"?gtm_debug=1772150441199","fields[url_parametros][raw_value]":"?gtm_debug=1772150441199","fields[url_parametros][required]":"0","fields[utm_source][id]":"utm_source","fields[utm_source][type]":"hidden","fields[utm_source][title]":"utm_source","fields[utm_source][value]":"","fields[utm_source][raw_value]":"","fields[utm_source][required]":"0","fields[utm_medium][id]":"utm_medium","fields[utm_medium][type]":"hidden","fields[utm_medium][title]":"utm_medium","fields[utm_medium][value]":"","fields[utm_medium][raw_value]":"","fields[utm_medium][required]":"0","fields[field_1e5eadf][id]":"field_1e5eadf","fields[field_1e5eadf][type]":"hidden","fields[field_1e5eadf][title]":"url_parametros","fields[field_1e5eadf][value]":"","fields[field_1e5eadf][raw_value]":"","fields[field_1e5eadf][required]":"0","fields[utm_campaign][id]":"utm_campaign","fields[utm_campaign][type]":"hidden","fields[utm_campaign][title]":"utm_campaign","fields[utm_campaign][value]":"","fields[utm_campaign][raw_value]":"","fields[utm_campaign][required]":"0","fields[utm_content][id]":"utm_content","fields[utm_content][type]":"hidden","fields[utm_content][title]":"utm_content","fields[utm_content][value]":"","fields[utm_content][raw_value]":"","fields[utm_content][required]":"0","fields[utm_term][id]":"utm_term","fields[utm_term][type]":"hidden","fields[utm_term][title]":"utm_term","fields[utm_term][value]":"","fields[utm_term][raw_value]":"","fields[utm_term][required]":"0","fields[sck][id]":"sck","fields[sck][type]":"hidden","fields[sck][title]":"sck","fields[sck][value]":"af0126031637b68c3d75a74576e79896","fields[sck][raw_value]":"af0126031637b68c3d75a74576e79896","fields[sck][required]":"0","fields[field_f7ecfc6][id]":"field_f7ecfc6","fields[field_f7ecfc6][type]":"html","fields[field_f7ecfc6][title]":"validacao_telefone","fields[field_f7ecfc6][value]":"","fields[field_f7ecfc6][raw_value]":"","fields[field_f7ecfc6][required]":"0"},"webhookUrl":"https://webhook.digitalfocus.click/webhook/optin-iscas-daniella-cavenague","executionMode":"production"}}],"Cadastro Lead Sheets":[{"json":{"Data Evento":"2026-02-26 21:05","Nome":"teste","Email":"teste@teste.com","Telefone":"+5511999999999","URL domínio":"https://viverdaestetica.com.br","URL path":"/is1-checklist-high-ticket","utm_source":"","utm_medium":"","utm_campaign":"","utm_content":"","utm_term":""},"pairedItem":{"item":0}}],"[Cal.com] Agendamento Isca":[{"json":{"headers":{"host":"webhook.digitalfocus.click","user-agent":"node","content-length":"5203","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","baggage":"sentry-environment=vercel-production,sentry-public_key=7fa2ea46dede9404597bde582525baca,sentry-trace_id=45c4e8f2ee3346c28c2a258b803d5141,sentry-sampled=false,sentry-sample_rand=0.1563479488501479,sentry-sample_rate=0","content-type":"application/json","sec-fetch-mode":"cors","sentry-trace":"45c4e8f2ee3346c28c2a258b803d5141-bf83f1096a8e4299-0","x-cal-signature-256":"no-secret-provided","x-forwarded-for":"3.21.162.0","x-forwarded-host":"webhook.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9055d69db126","x-real-ip":"3.21.162.0","x-vercel-id":"iad1:iad1::d9cv6-1756920592527-2a3386fd5a73"},"params":{},"query":{},"body":{"triggerEvent":"BOOKING_CREATED","createdAt":"2025-09-03T17:29:55.626Z","payload":{"bookerUrl":"https://cal.com","title":"[PS] Dra. Natália Daniela e Teste Matheus","startTime":"2025-09-05T15:15:00Z","endTime":"2025-09-05T16:00:00Z","additionalNotes":"","type":"ps-reuniao-com-dra-natalia-daniela","description":"","eventTypeId":3234821,"hideCalendarNotes":false,"hideCalendarEventDetails":false,"hideOrganizerEmail":false,"schedulingType":null,"seatsPerTimeSlot":null,"seatsShowAttendees":true,"seatsShowAvailabilityCount":true,"customReplyToEmail":null,"disableRescheduling":false,"disableCancelling":false,"organizer":{"id":1542041,"name":"Natália Daniela","email":"nataliadanielasl@gmail.com","username":"natalia-daniela-ykpv6w","timeZone":"America/Sao_Paulo","language":{"locale":"pt-BR"},"timeFormat":"HH:mm","utcOffset":-180},"attendees":[{"email":"matheus.ocs@gmail.com","name":"Teste Matheus","phoneNumber":"+5511999990000","firstName":"","lastName":"","timeZone":"America/Sao_Paulo","language":{"locale":"pt-BR"},"utcOffset":-180}],"customInputs":{},"responses":{"name":{"label":"your_name","value":"Teste Matheus","isHidden":false},"email":{"label":"email_address","value":"matheus.ocs@gmail.com","isHidden":false},"attendeePhoneNumber":{"label":"phone_number","value":"+5511999990000","isHidden":false},"location":{"label":"location","value":{"optionValue":"","value":"integrations:daily"},"isHidden":false},"title":{"label":"what_is_this_meeting_about","isHidden":true},"notes":{"label":"additional_notes","isHidden":true},"guests":{"label":"additional_guests","value":[],"isHidden":true},"rescheduleReason":{"label":"reason_for_reschedule","isHidden":true},"perfil-instagram":{"label":"Seu @ do instagram","value":"teste","isHidden":false},"especialidade":{"label":"Qual sua especialidade/área de atuação?","value":"teste","isHidden":false},"tempo-atuacao":{"label":"Há quanto tempo atua como profissional de saúde?","value":"Menos de 2 anos (recém-formado/a)","isHidden":false},"maior-incomodo":{"label":"O que mais te incomoda na sua situação profissional atual?","value":"Depender de clínicas/consultórios terceiros ou plantões","isHidden":false},"objetivo-curto-prazo":{"label":"Qual seu principal objetivo nos próximos 6 meses?","value":"Independência financeira (viver só do consultório)","isHidden":false},"prazo-solucao":{"label":"Até quando você PRECISA resolver sua situação atual?","value":"Já deveria ter resolvido (Imediatamente)","isHidden":false},"capacidade-investimento":{"label":"Se você tivesse CERTEZA de que triplicaria sua renda profissional em até 6 meses, quanto investiria hoje para isso acontecer?","value":"Até R$ 5.000","isHidden":false}},"userFieldsResponses":{"perfil-instagram":{"label":"Seu @ do instagram","value":"teste","isHidden":false},"especialidade":{"label":"Qual sua especialidade/área de atuação?","value":"teste","isHidden":false},"tempo-atuacao":{"label":"Há quanto tempo atua como profissional de saúde?","value":"Menos de 2 anos (recém-formado/a)","isHidden":false},"maior-incomodo":{"label":"O que mais te incomoda na sua situação profissional atual?","value":"Depender de clínicas/consultórios terceiros ou plantões","isHidden":false},"objetivo-curto-prazo":{"label":"Qual seu principal objetivo nos próximos 6 meses?","value":"Independência financeira (viver só do consultório)","isHidden":false},"prazo-solucao":{"label":"Até quando você PRECISA resolver sua situação atual?","value":"Já deveria ter resolvido (Imediatamente)","isHidden":false},"capacidade-investimento":{"label":"Se você tivesse CERTEZA de que triplicaria sua renda profissional em até 6 meses, quanto investiria hoje para isso acontecer?","value":"Até R$ 5.000","isHidden":false}},"location":"integrations:daily","destinationCalendar":[{"id":611946,"integration":"google_calendar","externalId":"nataliadanielasl@gmail.com","primaryEmail":"nataliadanielasl@gmail.com","userId":1542041,"eventTypeId":null,"credentialId":1010223,"createdAt":"2025-07-07T10:50:48.811Z","updatedAt":null,"delegationCredentialId":null,"domainWideDelegationCredentialId":null}],"iCalUID":"fR8pbn1A1j4cX569QAKecb@Cal.com","iCalSequence":0,"requiresConfirmation":false,"oneTimePassword":null,"uid":"fR8pbn1A1j4cX569QAKecb","conferenceData":{"createRequest":{"requestId":"2db644eb-37a5-581a-99fa-ebe6ce513834"}},"videoCallData":{"type":"daily_video","id":"ZvBbICUAni8T4hyoiYfT","password":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyIjoiWnZCYklDVUFuaThUNGh5b2lZZlQiLCJleHAiOjE3NTgyOTc2MDAsIm8iOnRydWUsImVydWkiOmZhbHNlLCJkIjoiYmJkOThhNzEtMTljOS00YmIxLWE1YzUtY2FmMWVjNWJkMTA1IiwiaWF0IjoxNzU2OTIwNTk0fQ.LZdKMXUWF6kwXWZcNwSLW18DFxUEHG8LpFIncAURV6w","url":"https://meetco.daily.co/ZvBbICUAni8T4hyoiYfT"},"appsStatus":[{"appName":"daily-video","type":"daily_video","success":1,"failures":0,"errors":[]},{"appName":"google-calendar","type":"google_calendar","success":1,"failures":0,"errors":[],"warnings":[]}],"eventTitle":"[PS] Reunião com Dra Natália Daniela","eventDescription":"","price":0,"currency":"usd","length":45,"bookingId":10577645,"metadata":{"videoCallUrl":"https://app.cal.com/video/fR8pbn1A1j4cX569QAKecb"},"status":"ACCEPTED"}},"webhookUrl":"https://webhook.digitalfocus.click/webhook/isca-ps-agendou","executionMode":"production"}}]},"versionId":"1a93bf7f-550d-44eb-afe5-79c46891c0e0","activeVersionId":"1a93bf7f-550d-44eb-afe5-79c46891c0e0","triggerCount":3,"shared":[{"updatedAt":"2026-03-06T19:45:13.339Z","createdAt":"2026-03-06T19:45:13.339Z","role":"workflow:owner","workflowId":"vuHcupIw5QLsvpy4","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-03-06T19:46:16.885Z","createdAt":"2026-03-06T19:46:13.926Z","versionId":"1a93bf7f-550d-44eb-afe5-79c46891c0e0","workflowId":"vuHcupIw5QLsvpy4","nodes":[{"parameters":{"content":"# CADASTRO ISCAS","height":1008,"width":3156,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"3eacaab0-6d30-4e2f-87a0-e4b500593b54","name":"Sticky Note4"},{"parameters":{"content":"# AGENDOU - ISCA","height":1100,"width":2880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3424,1232],"typeVersion":1,"id":"f0573e20-bcd0-4dda-a815-ec01d6194168","name":"Sticky Note5"},{"parameters":{"httpMethod":"POST","path":"b4ed6aa3-7ec3-49ef-886a-97454bae1c7b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3536,496],"id":"cabebc8a-a123-43c0-8f0e-a43701eafd97","name":"[Cal.com] Reunião criada2","webhookId":"b4ed6aa3-7ec3-49ef-886a-97454bae1c7b"},{"parameters":{"content":"# AGENDOU - SOCIAL SELLING EDITARAAAA","height":1100,"width":2880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3424,0],"typeVersion":1,"id":"18580fed-4052-46ab-9e78-b0ca2370a15b","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4416,496],"id":"5e2f1d81-a5bf-4ab5-ae56-51ea6c061aa7","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"f5d742d1-fb52-4407-9e33-16de58c4c9eb","name":"id_sheet","value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","type":"string"},{"id":"989f1c6c-08c1-47ce-b8ce-2c33ad8c9737","name":"nome","value":"={{ $json.body.payload.responses.name.value }}","type":"string"},{"id":"4aed2e37-b204-4818-bafe-059f0d05ba7e","name":"email","value":"={{ $json.body.payload.responses.email.value }}","type":"string"},{"id":"fd1b94ef-273c-446e-aa19-0159f3e13081","name":"telefone","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.payload.responses.attendeePhoneNumber.value.replaceAll(/\\D/g, '') }}","type":"string"},{"id":"a29665d0-5f02-483a-81b9-066f55224eba","name":"perfil_instagram","value":"={{ $json.body.payload.userFieldsResponses['perfil-instagram'].value }}","type":"string"},{"id":"e283e551-15c8-4cc0-b894-93e912bf86e2","name":"especialidade","value":"={{ $json.body.payload.userFieldsResponses.especialidade.value }}","type":"string"},{"id":"40867a9e-0e8b-45c1-867b-0778f242ec49","name":"incomodo_principal","value":"={{ $json.body.payload.userFieldsResponses['maior-incomodo'].value }}","type":"string"},{"id":"1497d7e4-f525-4695-893b-7010a9db44cf","name":"objetivo","value":"={{ $json.body.payload.userFieldsResponses['objetivo-curto-prazo'].value }}","type":"string"},{"id":"45414bda-55ef-4c97-ad88-2565a265f31d","name":"prazo","value":"={{ $json.body.payload.userFieldsResponses['prazo-solucao'].value }}","type":"string"},{"id":"071b012e-81dc-4a42-b55a-538aa94d32cf","name":"capacidade_investimento","value":"={{ $json.body.payload.userFieldsResponses['capacidade-investimento'].value }}","type":"string"},{"id":"2fcbda8e-57cd-4d71-b0f0-9c007037aefa","name":"data_evento","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.createdAt.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"781114a0-9d96-46ff-ad35-62d5bf0a4772","name":"data_reuniao","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.payload.startTime.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"49f1505b-d759-48ab-b8e7-f64de1b5a026","name":"nome_consultor","value":"={{ $json.body.payload.organizer.name }}","type":"string"},{"id":"f7c7caf4-0469-4f05-8405-285d9190d92d","name":"email_consultor","value":"={{ $json.body.payload.organizer.email }}","type":"string"},{"id":"de4945a3-4de6-4a5e-bcc8-8f64ba999193","name":"tempo_atuacao","value":"={{ $json.body.payload.responses[\"tempo-atuacao\"].value }}","type":"string"},{"id":"6f8494d7-7c75-45a8-8985-0a65b3410212","name":"informacoes_adicionais","value":"={{ $('[Cal.com] Reunião criada2').item.json.body.payload.responses.notes.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3984,496],"id":"8cc9aac6-0091-41bc-a7ad-4bd4412d91c0","name":"Edit Fields2"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4208,496],"id":"0d36db3f-d31f-45b9-bad2-abe181b2ee98","name":"Busca cadastro2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields2').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $('Edit Fields2').item.json.data_evento }}","Nome":"={{ $('Edit Fields2').item.json.nome }}","Email":"={{ $('Edit Fields2').item.json.email }}","Telefone":"={{ $('Edit Fields2').item.json.telefone }}","utm_source":"Cal.com"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4704,656],"id":"2af0a182-511d-407b-87b4-0c7805cfa3ed","name":"Adiciona cadastro lead6","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields2').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $('Edit Fields2').item.json.data_evento }}","Nome":"={{ $('Edit Fields2').item.json.nome }}","Email":"={{ $('Edit Fields2').item.json.email }}","Telefone":"={{ $('Edit Fields2').item.json.telefone }}","Pré-qualificação":"=","Seu @ do instagram":"={{ $('Edit Fields2').item.json.perfil_instagram }}","Qual sua especialidade/área de atuação?":"={{ $('Edit Fields2').item.json.especialidade }}","O que mais te incomoda na sua situação profissional atual?":"={{ $('Edit Fields2').item.json.incomodo_principal }}","Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?":"={{ $('Edit Fields2').item.json.objetivo }}","Qual é o prazo limite que você se deu para resolver essa situação?":"={{ $('Edit Fields2').item.json.prazo }}","Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?":"={{ $('Edit Fields2').item.json.capacidade_investimento }}","Há quanto tempo atua como profissional de saúde?":"={{ $('Edit Fields2').item.json.tempo_atuacao }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pré-qualificação","displayName":"Pré-qualificação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seu @ do instagram","displayName":"Seu @ do instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual sua especialidade/área de atuação?","displayName":"Qual sua especialidade/área de atuação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sua situação atual de atendimento:","displayName":"Sua situação atual de atendimento:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quantas horas por semana você dedica a plantões?","displayName":"Quantas horas por semana você dedica a plantões?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quantas horas por semana você dedica ao consultório?","displayName":"Quantas horas por semana você dedica ao consultório?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"O que mais te incomoda na sua situação profissional atual?","displayName":"O que mais te incomoda na sua situação profissional atual?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","displayName":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o prazo limite que você se deu para resolver essa situação?","displayName":"Qual é o prazo limite que você se deu para resolver essa situação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","displayName":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo atua como profissional de saúde?","displayName":"Há quanto tempo atua como profissional de saúde?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas consultas faz por mês?","displayName":"Quantas consultas faz por mês?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o valor da sua consulta?","displayName":"Qual o valor da sua consulta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faixa de faturamento","displayName":"Faixa de faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","displayName":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas você dedica a plantões/regime de horas por semana?","displayName":"Quantas horas você dedica a plantões/regime de horas por semana?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesse na mentoria","displayName":"Interesse na mentoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo você acompanha a Dra. Natália Daniela?","displayName":"Há quanto tempo você acompanha a Dra. Natália Daniela?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4944,480],"id":"f2404fca-6c4c-4a34-b665-974b6307c18d","name":"Adiciona qualificação2","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('Edit Fields2').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":783694583,"mode":"list","cachedResultName":"Agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=783694583"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Edit Fields2').item.json.email }}","Data Evento":"={{ $('Edit Fields2').item.json.data_evento }}","Data Reunião":"={{ $('Edit Fields2').item.json.data_reuniao }}","Nome":"={{ $('Edit Fields2').item.json.nome }}","Telefone":"={{ $('Edit Fields2').item.json.telefone }}","Consultor":"={{ $('Edit Fields2').item.json.nome_consultor }}","Email consultor":"={{ $('Edit Fields2').item.json.email_consultor }}"},"matchingColumns":["Email"],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Reunião","displayName":"Data Reunião","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Consultor","displayName":"Consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email consultor","displayName":"Email consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5280,480],"id":"0720e3d9-c122-4a18-9c68-2c0303822abf","name":"Adiciona agendamento5","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f8f6814-673a-4ef5-86f7-54c0a122cc33","name":"=Data Evento","value":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"5f6274ea-a25b-44b9-880c-fee35b9286b2","name":"=Nome","value":"={{ $json.body['fields[nome][value]'].split(\" \")[0] }}","type":"string"},{"id":"b899acf4-b802-426e-846b-713786dc81cd","name":"=Sobrenome","value":"={{ $json.body['fields[nome][value]'].split(\" \").slice(1).join(\" \") }}","type":"string"},{"id":"23c2a4ff-d9a2-4ba7-b6f7-c0f4ec78f76c","name":"=Email","value":"={{ $json.body['fields[email][value]'] }}","type":"string"},{"id":"db6d97ce-1055-44f9-9bbb-c23451a1a811","name":"=Telefone","value":"={{ $json.body['fields[telefone][value]'] }}","type":"string"},{"id":"427351f9-92b2-4325-8a4a-e198fcedf24b","name":"=URL","value":"={{ $json.body['fields[url_dominio][value]'] }}","type":"string"},{"id":"fdaa9348-e103-4679-9bbb-13c99f3b0e25","name":"=Path","value":"={{ $json.body['fields[url_path][value]'] }}","type":"string"},{"id":"2fa7c379-3fd6-477d-b33d-22f738e996ca","name":"=utm_source","value":"={{ $json.body['fields[utm_source][value]'] }}","type":"string"},{"id":"1efa36c0-d367-4938-aa98-9abafccf0bae","name":"utm_medium","value":"={{ $json.body['fields[utm_medium][value]'] }}","type":"string"},{"id":"b66d88ec-1b79-4abd-bdb5-8bdc0bacba8a","name":"=utm_campaign","value":"={{ $json.body['fields[utm_campaign][value]'] }}","type":"string"},{"id":"57335ead-b452-4d57-b665-074956b8c6c0","name":"=utm_content","value":"={{ $json.body['fields[utm_content][value]'] }}","type":"string"},{"id":"833992f2-40be-4070-a4d4-29dc45f9c28e","name":"=utm_term","value":"={{ $json.body['fields[utm_term][value]'] }}","type":"string"},{"id":"c98aa28b-69ed-4642-aab4-5b882914d809","name":"Nome da Isca","value":"={{ $json.body['form[name]'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,384],"id":"a654ed29-fe6c-4699-ab36-a4b7b5eeedf3","name":"Campos webhook"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1203026194,"mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1203026194"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $json['Data Evento'] }}","Nome":"={{ $json.Nome }}","Email":"={{ $json.Email }}","Telefone":"={{ $json.Telefone }}","URL domínio":"={{ $json.URL }}","URL path":"={{ $json.Path }}","utm_source":"={{ $json.utm_source }}","utm_medium":"={{ $json.utm_medium }}","utm_campaign":"={{ $json.utm_campaign }}","utm_content":"={{ $json.utm_content }}","utm_term":"={{ $json.utm_term }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,384],"id":"ca7cf41f-e5bd-4dbc-b2f4-2334e803a035","name":"Cadastro Lead Sheets","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"email":"={{ $('Campos webhook').item.json.Email }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $('Campos webhook').item.json.Nome }}","lastName":"={{ $('Campos webhook').item.json.Sobrenome }}","phone":"={{ $('Campos webhook').item.json.Telefone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[1968,384],"id":"9320159f-bea9-4373-8f69-050481d819cd","name":"Create a contact","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":"={{ $json.Lista }}","contactId":"={{ $json.Contato }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[2880,480],"id":"5f4908d8-c1d5-4bf4-a300-19ec966e64fe","name":"Add a contact to a list","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"={{ $json.Tag }}","contactId":"={{ $json.Contato }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[2880,288],"id":"0b609db1-7d15-4aab-93d7-5a8307cfeb30","name":"Add a contact tag","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Campos webhook').item.json['Nome da Isca'] }}","rightValue":"isca 1","operator":{"type":"string","operation":"contains"},"id":"a77a5816-b0b2-46b2-bbc8-b8a6b5238cf9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Isca 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e355e4b-1650-47e0-ab3d-256819f3d2bb","leftValue":"={{ $('Campos webhook').item.json['Nome da Isca'] }}","rightValue":"isca 2","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Isca 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"890cfb7d-260f-4bbd-a987-839ee5205559","leftValue":"={{ $('Campos webhook').item.json['Nome da Isca'] }}","rightValue":"isca 3","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Isca 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2208,368],"id":"49259330-f743-4ded-ab2b-c3c231fa4b65","name":"Switch"},{"parameters":{"resource":"contactList","listId":5,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5792,480],"id":"88aea8b6-ba25-4195-8655-fff5783863f6","name":"Add a contact to a list1","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"6","contactId":"={{ $('Create a contact1').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5984,480],"id":"3cdfa5ba-3f77-4da3-923c-28e2eecbdf84","name":"Add a contact tag1","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"email":"={{ $('Edit Fields2').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"5","value":"={{ $('Edit Fields2').item.json.perfil_instagram }}"},{"field":"6","value":"={{ $('Edit Fields2').item.json.especialidade }}"},{"field":"32","value":"={{ $('Edit Fields2').item.json.informacoes_adicionais }}"},{"field":"33","value":"={{ $('Edit Fields2').item.json.nome_consultor }}"},{"field":"34","value":"={{ $('Edit Fields2').item.json.email_consultor }}"},{"field":"35","value":"={{ $('Edit Fields2').item.json.data_reuniao }}"}]},"firstName":"={{ $('Edit Fields2').item.json.nome.split(\" \").first() }}","lastName":"={{ $('Edit Fields2').item.json.nome.split(\" \").slice(1).join(\" \") }}","phone":"=+{{ $('Edit Fields2').item.json.telefone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5616,480],"id":"2ec57f58-e8f9-4e56-9b6d-f8afbd615ddd","name":"Create a contact1","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4384,1760],"id":"8aba5d58-ceb1-4f00-bd48-480ba34cf8a9","name":"If5"},{"parameters":{"assignments":{"assignments":[{"id":"f5d742d1-fb52-4407-9e33-16de58c4c9eb","name":"id_sheet","value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","type":"string"},{"id":"989f1c6c-08c1-47ce-b8ce-2c33ad8c9737","name":"nome","value":"={{ $json.body.payload.responses.name.value }}","type":"string"},{"id":"4aed2e37-b204-4818-bafe-059f0d05ba7e","name":"email","value":"={{ $json.body.payload.responses.email.value }}","type":"string"},{"id":"fd1b94ef-273c-446e-aa19-0159f3e13081","name":"telefone","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.responses.attendeePhoneNumber.value.replaceAll(/\\D/g, '') }}","type":"string"},{"id":"a29665d0-5f02-483a-81b9-066f55224eba","name":"perfil_instagram","value":"={{ $json.body.payload.userFieldsResponses['perfil-instagram'].value }}","type":"string"},{"id":"e283e551-15c8-4cc0-b894-93e912bf86e2","name":"especialidade","value":"={{ $json.body.payload.userFieldsResponses.especialidade.value }}","type":"string"},{"id":"40867a9e-0e8b-45c1-867b-0778f242ec49","name":"incomodo_principal","value":"={{ $json.body.payload.userFieldsResponses['maior-incomodo'].value }}","type":"string"},{"id":"1497d7e4-f525-4695-893b-7010a9db44cf","name":"objetivo","value":"={{ $json.body.payload.userFieldsResponses['objetivo-curto-prazo'].value }}","type":"string"},{"id":"45414bda-55ef-4c97-ad88-2565a265f31d","name":"prazo","value":"={{ $json.body.payload.userFieldsResponses['prazo-solucao'].value }}","type":"string"},{"id":"071b012e-81dc-4a42-b55a-538aa94d32cf","name":"capacidade_investimento","value":"={{ $json.body.payload.userFieldsResponses['capacidade-investimento'].value }}","type":"string"},{"id":"2fcbda8e-57cd-4d71-b0f0-9c007037aefa","name":"data_evento","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.createdAt.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"781114a0-9d96-46ff-ad35-62d5bf0a4772","name":"data_reuniao","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.startTime.toDateTime().minus({hours: 3}).format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"49f1505b-d759-48ab-b8e7-f64de1b5a026","name":"nome_consultor","value":"={{ $json.body.payload.organizer.name }}","type":"string"},{"id":"f7c7caf4-0469-4f05-8405-285d9190d92d","name":"email_consultor","value":"={{ $json.body.payload.organizer.email }}","type":"string"},{"id":"de4945a3-4de6-4a5e-bcc8-8f64ba999193","name":"tempo_atuacao","value":"={{ $json.body.payload.responses[\"tempo-atuacao\"].value }}","type":"string"},{"id":"6f8494d7-7c75-45a8-8985-0a65b3410212","name":"informacoes_adicionais","value":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.responses.notes.value }}","type":"string"},{"id":"ac0eb85c-2dd8-435f-8827-962490a4d219","name":"titulo_agendamento","value":"={{ $json.body.payload.eventTitle }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,1760],"id":"0e6bcaac-9cce-462a-84fc-b8fc4e34f5fa","name":"Edit Fields5"},{"parameters":{"documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1240086666,"mode":"list","cachedResultName":"Agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1240086666"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4176,1760],"id":"f307b8dd-8e5b-46f9-8a86-79fb8e22e688","name":"Busca cadastro5","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1203026194,"mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1203026194"},"columns":{"mappingMode":"defineBelow","value":{"utm_source":"Cal.com","URL domínio":"Cal.com","URL path":"={{ $('[Cal.com] Agendamento Isca').item.json.body.payload.type }}","Data Evento":"={{ $('Edit Fields5').item.json.data_evento }}","Nome":"={{ $('Edit Fields5').item.json.nome }}","Email":"={{ $('Edit Fields5').item.json.email }}","Telefone":"={{ $('Edit Fields5').item.json.telefone }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4704,1984],"id":"fbda36df-ab76-49b2-b700-b37528e7f394","name":"Adiciona cadastro lead9","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1240086666,"mode":"list","cachedResultName":"Agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=1240086666"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ $('Edit Fields5').item.json.data_evento }}","Data Reunião":"={{ $('Edit Fields5').item.json.data_reuniao }}","Nome":"={{ $('Edit Fields5').item.json.nome }}","Email":"={{ $('Edit Fields5').item.json.email }}","Telefone":"={{ $('Edit Fields5').item.json.telefone }}","Consultor":"={{ $('Edit Fields5').item.json.nome_consultor }}","Email consultor":"={{ $('Edit Fields5').item.json.email_consultor }}","Nome do Agendamento":"={{ $('Edit Fields5').item.json.titulo_agendamento }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Reunião","displayName":"Data Reunião","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Consultor","displayName":"Consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email consultor","displayName":"Email consultor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Agendamento","displayName":"Nome do Agendamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5248,1744],"id":"bf80ec24-b3b0-4bd6-9984-2f98d4df02b6","name":"Adiciona agendamento9","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"resource":"contactTag","tagId":"4","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[6000,1648],"id":"69d4d3e9-ff76-419f-92d9-d965d09e2988","name":"Add a contact tag2","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"email":"={{ $('Edit Fields5').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"5","value":"={{ $('Edit Fields5').item.json.nome_consultor }}"},{"field":"6","value":"={{ $('Edit Fields5').item.json.email_consultor }}"},{"field":"7","value":"={{ $('Edit Fields5').item.json.data_reuniao }}"}]},"firstName":"={{ $('Edit Fields5').item.json.nome.split(\" \").first() }}","lastName":"={{ $('Edit Fields5').item.json.nome.split(\" \").slice(1).join(\" \") }}","phone":"=+{{ $('Edit Fields5').item.json.telefone }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[5632,1648],"id":"0b7873e0-f875-4aa9-ad83-78675ab19aa6","name":"Create a contact2","executeOnce":true,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"httpMethod":"POST","path":"optin-iscas-daniella-cavenague","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[96,384],"id":"20ea3d4f-0af9-46df-b142-99a2a958fa3e","name":"Cadastro Iscas","webhookId":"286b8885-4ab9-4c2e-a51b-c7d2752bc49f"},{"parameters":{"assignments":{"assignments":[{"id":"712ff3b2-21e4-4164-affd-c117a42ac87b","name":"Lista","value":"3","type":"string"},{"id":"ba0df41d-39dd-4080-af89-c7c4b80240aa","name":"Tag","value":"1","type":"string"},{"id":"a8025a5f-c83f-4599-8c9d-baa6bae99a13","name":"Contato","value":"={{ $('Create a contact').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,192],"id":"c3d6165e-30f3-489d-b476-25355ddf22bc","name":"Isca 1"},{"parameters":{"assignments":{"assignments":[{"id":"712ff3b2-21e4-4164-affd-c117a42ac87b","name":"Lista","value":"4","type":"string"},{"id":"ba0df41d-39dd-4080-af89-c7c4b80240aa","name":"Tag","value":"2","type":"string"},{"id":"1893936a-0ad1-4b7a-b4f8-4f69d2847eee","name":"Contato","value":"={{ $('Create a contact').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,384],"id":"3c1fea85-febb-463e-bfcb-9e8466f06044","name":"Isca 2"},{"parameters":{"assignments":{"assignments":[{"id":"712ff3b2-21e4-4164-affd-c117a42ac87b","name":"Lista","value":"5","type":"string"},{"id":"ba0df41d-39dd-4080-af89-c7c4b80240aa","name":"Tag","value":"3","type":"string"},{"id":"64bcf301-2f40-42a3-8f78-dd36c3794582","name":"Contato","value":"={{ $('Create a contact').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,592],"id":"88f13187-d018-464a-9660-6f4702324ba7","name":"Isca 3"},{"parameters":{"resource":"tag","operation":"getAll","returnAll":true},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[2896,800],"id":"4b34c047-da22-4a12-9548-6bddec527fbc","name":"Get many tags","credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2688,800],"id":"d9c3ccc7-b28e-4d92-acb7-e527a891a6ab","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"daniella-cavenague-isca-agendou","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3536,1744],"id":"f3c8347f-f0af-46d8-831a-7b29038f8875","name":"[Cal.com] Agendamento Isca","webhookId":"469e2eb7-3f70-4d20-a821-67d63a8527d7"}],"connections":{"[Cal.com] Reunião criada2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Adiciona qualificação2","type":"main","index":0}],[{"node":"Adiciona cadastro lead6","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Busca cadastro2","type":"main","index":0}]]},"Busca cadastro2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Adiciona cadastro lead6":{"main":[[{"node":"Adiciona qualificação2","type":"main","index":0}]]},"Adiciona qualificação2":{"main":[[{"node":"Adiciona agendamento5","type":"main","index":0}]]},"Adiciona agendamento5":{"main":[[{"node":"Create a contact1","type":"main","index":0}]]},"Campos webhook":{"main":[[{"node":"Cadastro Lead Sheets","type":"main","index":0}]]},"Cadastro Lead Sheets":{"main":[[{"node":"Create a contact","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Isca 1","type":"main","index":0}],[{"node":"Isca 2","type":"main","index":0}],[{"node":"Isca 3","type":"main","index":0}]]},"Add a contact to a list1":{"main":[[{"node":"Add a contact tag1","type":"main","index":0}]]},"Create a contact1":{"main":[[{"node":"Add a contact to a list1","type":"main","index":0}]]},"If5":{"main":[[{"node":"Adiciona agendamento9","type":"main","index":0}],[{"node":"Adiciona cadastro lead9","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Busca cadastro5","type":"main","index":0}]]},"Busca cadastro5":{"main":[[{"node":"If5","type":"main","index":0}]]},"Adiciona cadastro lead9":{"main":[[{"node":"Adiciona agendamento9","type":"main","index":0}]]},"Adiciona agendamento9":{"main":[[{"node":"Create a contact2","type":"main","index":0}]]},"Create a contact2":{"main":[[{"node":"Add a contact tag2","type":"main","index":0}]]},"Cadastro Iscas":{"main":[[{"node":"Campos webhook","type":"main","index":0}]]},"Isca 1":{"main":[[{"node":"Add a contact tag","type":"main","index":0},{"node":"Add a contact to a list","type":"main","index":0}]]},"Isca 2":{"main":[[{"node":"Add a contact to a list","type":"main","index":0},{"node":"Add a contact tag","type":"main","index":0}]]},"Isca 3":{"main":[[{"node":"Add a contact tag","type":"main","index":0},{"node":"Add a contact to a list","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many tags","type":"main","index":0}]]},"[Cal.com] Agendamento Isca":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]}},"authors":"Time Squad","name":"Version 1a93bf7f","description":"","autosaved":true},"tags":[]}