[daniella-cavenague]-social-selling-+-manychat-uaskp7AJPYV0noYG.json
{"updatedAt":"2026-03-06T19:43:26.862Z","createdAt":"2026-03-06T19:43:12.947Z","id":"uaskp7AJPYV0noYG","name":"[DANIELLA CAVENAGUE] Social Selling + Manychat","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f8a939a0-ccd7-4371-bdc9-80bc200c1602","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,176],"id":"57e7c2d8-e911-4f20-997f-f51c2e435f1c","name":"[Manychat] Novo seguidor","webhookId":"f8a939a0-ccd7-4371-bdc9-80bc200c1602"},{"parameters":{"resource":"deal","title":"=[Social Selling] {{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","contact":1,"currency":"brl","group":"1","stage":"1","owner":"1","additionalFields":{}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[256,288],"id":"a82fd6f3-dd25-4d04-982e-e2f59450cdbb","name":"Create a deal","executeOnce":false,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id contato","lookupValue":"={{ $json.body.id_contato }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,176],"id":"38f96839-07c4-45f7-9cf8-c551c8424ceb","name":"Get row(s) in sheet","executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"3fbd492c-8c2f-4cc0-bc12-2d4a9f58877a","leftValue":"={{ $json['id contato'] }}","rightValue":0,"operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,176],"id":"4d6969dd-349b-4791-9cc3-e4b8320eb35d","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"ca8453b5-7e67-4e19-a26a-9530a3e142be","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $('[Manychat] Novo seguidor').item.json.body.nome }}","usuario instagram":"={{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","id contato":"={{ $('[Manychat] Novo seguidor').item.json.body.id_contato }}","data novo seguidor":"={{ $('[Manychat] Novo seguidor').item.json.body.dt_novo_seguidor.toDateTime().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id contato","displayName":"id contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usuario instagram","displayName":"usuario instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data novo seguidor","displayName":"data novo seguidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,288],"id":"6a959b95-4547-4b28-8cb9-31198076bb3a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}}],"connections":{"[Manychat] Novo seguidor":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create a deal","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"[Manychat] Novo seguidor":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"ManyChat","content-length":"57","content-type":"application/json","x-forwarded-for":"18.194.82.34","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31fc8bc5fa6e","x-real-ip":"18.194.82.34","accept-encoding":"gzip"},"params":{},"query":{},"body":{"nome":"Matheus Santos","nome_usuario":"matheusocs","id_contato":"123","dt_novo_seguidor":"2026-02-18 21:13:31"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/d43e6ae3-fceb-4c21-84db-009c401b838a","executionMode":"test"}}]},"versionId":"e738268d-888b-4415-9f67-653160f68b01","activeVersionId":"e738268d-888b-4415-9f67-653160f68b01","triggerCount":1,"shared":[{"updatedAt":"2026-03-06T19:43:12.947Z","createdAt":"2026-03-06T19:43:12.947Z","role":"workflow:owner","workflowId":"uaskp7AJPYV0noYG","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-03-06T19:43:35.820Z","createdAt":"2026-03-06T19:43:26.863Z","versionId":"e738268d-888b-4415-9f67-653160f68b01","workflowId":"uaskp7AJPYV0noYG","nodes":[{"parameters":{"httpMethod":"POST","path":"f8a939a0-ccd7-4371-bdc9-80bc200c1602","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,176],"id":"57e7c2d8-e911-4f20-997f-f51c2e435f1c","name":"[Manychat] Novo seguidor","webhookId":"f8a939a0-ccd7-4371-bdc9-80bc200c1602"},{"parameters":{"resource":"deal","title":"=[Social Selling] {{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","contact":1,"currency":"brl","group":"1","stage":"1","owner":"1","additionalFields":{}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[256,288],"id":"a82fd6f3-dd25-4d04-982e-e2f59450cdbb","name":"Create a deal","executeOnce":false,"credentials":{"activeCampaignApi":{"id":"SBRCYJHXBL7PmvEZ","name":"https://daniellacavenague.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id contato","lookupValue":"={{ $json.body.id_contato }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,176],"id":"38f96839-07c4-45f7-9cf8-c551c8424ceb","name":"Get row(s) in sheet","executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"3fbd492c-8c2f-4cc0-bc12-2d4a9f58877a","leftValue":"={{ $json['id contato'] }}","rightValue":0,"operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,176],"id":"4d6969dd-349b-4791-9cc3-e4b8320eb35d","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"ca8453b5-7e67-4e19-a26a-9530a3e142be","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg","mode":"list","cachedResultName":"Dados Funis - Daniella Cavenague","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Of5ExGnTdU1FAdDE1zB4HerOfD7G0Qs-Cx6ZdCdE0eg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $('[Manychat] Novo seguidor').item.json.body.nome }}","usuario instagram":"={{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","id contato":"={{ $('[Manychat] Novo seguidor').item.json.body.id_contato }}","data novo seguidor":"={{ $('[Manychat] Novo seguidor').item.json.body.dt_novo_seguidor.toDateTime().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id contato","displayName":"id contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usuario instagram","displayName":"usuario instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data novo seguidor","displayName":"data novo seguidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,288],"id":"6a959b95-4547-4b28-8cb9-31198076bb3a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}}],"connections":{"[Manychat] Novo seguidor":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create a deal","type":"main","index":0}]]}},"authors":"Time Squad","name":"Version e738268d","description":"","autosaved":true},"tags":[]}