[natália-daniela]-social-selling-+-manychat-HVLvXil7e2KkGkcN.json
{"updatedAt":"2026-03-06T20:06:43.952Z","createdAt":"2026-03-06T19:14:00.290Z","id":"HVLvXil7e2KkGkcN","name":"[NATÁLIA DANIELA] Social Selling + Manychat","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"d43e6ae3-fceb-4c21-84db-009c401b838a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,176],"id":"ae7c5301-b167-4792-9aed-c8e0c4f050f5","name":"[Manychat] Novo seguidor","webhookId":"d43e6ae3-fceb-4c21-84db-009c401b838a"},{"parameters":{"resource":"deal","title":"=[Social Selling] {{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","contact":1,"currency":"brl","group":"1","stage":"1","owner":"2","additionalFields":{}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[256,288],"id":"60af7bf1-8747-4018-8ea3-94c0f9d32038","name":"Create a deal","executeOnce":false,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"list","cachedResultName":"Dados Funis - Natália Daniela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":523235417,"mode":"list","cachedResultName":"manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=523235417"},"filtersUI":{"values":[{"lookupColumn":"id contato","lookupValue":"={{ $json.body.id_contato }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,176],"id":"3e6525be-5b65-48b2-b006-256a4306a18e","name":"Get row(s) in sheet","executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"3fbd492c-8c2f-4cc0-bc12-2d4a9f58877a","leftValue":"={{ $json['id contato'] }}","rightValue":0,"operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,176],"id":"21087b80-bd9c-4221-81bc-b4f427e2d859","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"e13cce04-7bea-4278-b475-f2ea65bc0849","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"list","cachedResultName":"Dados Funis - Natália Daniela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":523235417,"mode":"list","cachedResultName":"manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=523235417"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $('[Manychat] Novo seguidor').item.json.body.nome }}","usuario instagram":"={{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","id contato":"={{ $('[Manychat] Novo seguidor').item.json.body.id_contato }}","data novo seguidor":"={{ $('[Manychat] Novo seguidor').item.json.body.dt_novo_seguidor.toDateTime().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data inscricao","displayName":"data inscricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id contato","displayName":"id contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usuario instagram","displayName":"usuario instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data novo seguidor","displayName":"data novo seguidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,288],"id":"9c54f4e3-fefa-46b1-8adb-aab855d58c65","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}}],"connections":{"[Manychat] Novo seguidor":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create a deal","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"ryeRyazw0zDtoUQA","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79b64910-5e16-452c-ac2f-634336ec066a","activeVersionId":"79b64910-5e16-452c-ac2f-634336ec066a","triggerCount":1,"shared":[{"updatedAt":"2026-03-06T19:14:00.290Z","createdAt":"2026-03-06T19:14:00.290Z","role":"workflow:owner","workflowId":"HVLvXil7e2KkGkcN","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-03-06T19:14:38.855Z","createdAt":"2026-03-06T19:14:08.312Z","versionId":"79b64910-5e16-452c-ac2f-634336ec066a","workflowId":"HVLvXil7e2KkGkcN","nodes":[{"parameters":{"httpMethod":"POST","path":"d43e6ae3-fceb-4c21-84db-009c401b838a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,176],"id":"ae7c5301-b167-4792-9aed-c8e0c4f050f5","name":"[Manychat] Novo seguidor","webhookId":"d43e6ae3-fceb-4c21-84db-009c401b838a"},{"parameters":{"resource":"deal","title":"=[Social Selling] {{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","contact":1,"currency":"brl","group":"1","stage":"1","owner":"2","additionalFields":{}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[256,288],"id":"60af7bf1-8747-4018-8ea3-94c0f9d32038","name":"Create a deal","executeOnce":false,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"list","cachedResultName":"Dados Funis - Natália Daniela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":523235417,"mode":"list","cachedResultName":"manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=523235417"},"filtersUI":{"values":[{"lookupColumn":"id contato","lookupValue":"={{ $json.body.id_contato }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,176],"id":"3e6525be-5b65-48b2-b006-256a4306a18e","name":"Get row(s) in sheet","executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"3fbd492c-8c2f-4cc0-bc12-2d4a9f58877a","leftValue":"={{ $json['id contato'] }}","rightValue":0,"operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,176],"id":"21087b80-bd9c-4221-81bc-b4f427e2d859","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"e13cce04-7bea-4278-b475-f2ea65bc0849","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"list","cachedResultName":"Dados Funis - Natália Daniela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":523235417,"mode":"list","cachedResultName":"manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=523235417"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $('[Manychat] Novo seguidor').item.json.body.nome }}","usuario instagram":"={{ $('[Manychat] Novo seguidor').item.json.body.nome_usuario }}","id contato":"={{ $('[Manychat] Novo seguidor').item.json.body.id_contato }}","data novo seguidor":"={{ $('[Manychat] Novo seguidor').item.json.body.dt_novo_seguidor.toDateTime().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data inscricao","displayName":"data inscricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id contato","displayName":"id contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usuario instagram","displayName":"usuario instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data novo seguidor","displayName":"data novo seguidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,288],"id":"9c54f4e3-fefa-46b1-8adb-aab855d58c65","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}}],"connections":{"[Manychat] Novo seguidor":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create a deal","type":"main","index":0}]]}},"authors":"Time Squad","name":"Version 79b64910","description":"","autosaved":true},"tags":[]}