[natália-daniela]-o-plano-que-liberta-jMdR9KKoQD46poI8.json
{"updatedAt":"2026-03-06T20:06:52.876Z","createdAt":"2026-03-06T18:53:45.883Z","id":"jMdR9KKoQD46poI8","name":"[NATÁLIA DANIELA] O plano que liberta","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# CHECKOUT","height":672,"width":1156},"type":"n8n-nodes-base.stickyNote","position":[-2480,32],"typeVersion":1,"id":"69e03c17-6dfe-420f-9663-e2c26e9fe4cf","name":"Sticky Note12"},{"parameters":{"httpMethod":"POST","path":"bc2509f0-9e83-4906-bc09-3c694fd9905c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2384,160],"id":"231f1eaa-015a-49da-a27a-af48fe7b763e","name":"Checkout - Plano que liberta","webhookId":"bc2509f0-9e83-4906-bc09-3c694fd9905c"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Nome":"={{ $json.body['fields[nome][value]'] }}","Email":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","URL domínio":"={{ $json.body['fields[url_dominio][value]'] }}","URL path":"={{ $json.body['fields[url_path][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2144,160],"id":"b7bca8d9-6051-4f9f-ac69-30aa95e9fa51","name":"Adiciona cadastro lead","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields5').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Edit Fields5').item.json.email }}","URL domínio":"https://meuconsultoriointeligente.com","URL path":"/plano-liberta-entrevista"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1728,2128],"id":"5a57e442-9704-4a5d-9a98-ea2cffd6d553","name":"Adiciona cadastro lead11","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2288,1968],"id":"557c7752-52aa-4c11-ae72-8ad6fc4060df","name":"Busca cadastro5","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"f5d742d1-fb52-4407-9e33-16de58c4c9eb","name":"id_sheet","value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","type":"string"},{"id":"4aed2e37-b204-4818-bafe-059f0d05ba7e","name":"email","value":"={{ $json.body['fields[email][value]'] }}","type":"string"},{"id":"e283e551-15c8-4cc0-b894-93e912bf86e2","name":"tempo_acompanha","value":"={{ $json.body['fields[tempo_acompanha][value]'] }}","type":"string"},{"id":"40867a9e-0e8b-45c1-867b-0778f242ec49","name":"profissao","value":"={{ $json.body['fields[profissao][value]'] }}","type":"string"},{"id":"1497d7e4-f525-4695-893b-7010a9db44cf","name":"tempo_formado","value":"={{ $json.body['fields[tempo_formado][value]'] }}","type":"string"},{"id":"45414bda-55ef-4c97-ad88-2565a265f31d","name":"situacao","value":"={{ $json.body['fields[situacao][value]'] }}","type":"string"},{"id":"071b012e-81dc-4a42-b55a-538aa94d32cf","name":"incomodo","value":"={{ $json.body['fields[incomodo][value]'] }}","type":"string"},{"id":"2fcbda8e-57cd-4d71-b0f0-9c007037aefa","name":"consultas_mes","value":"={{ $json.body['fields[consultas][value]'] }}","type":"string"},{"id":"781114a0-9d96-46ff-ad35-62d5bf0a4772","name":"horas_plantoes","value":"={{ $json.body['fields[plantoes][value]'] }}","type":"string"},{"id":"49f1505b-d759-48ab-b8e7-f64de1b5a026","name":"renda","value":"={{ $json.body['fields[renda][value]'] }}","type":"string"},{"id":"f7c7caf4-0469-4f05-8405-285d9190d92d","name":"interesse_mentoria","value":"={{ $json.body['fields[interesse][value]'] }}","type":"string"},{"id":"b552917f-8f0c-44da-80ae-a3e6709a827b","name":"preco_consulta","value":"={{ $json.body['fields[preco_consulta][value]'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2544,1968],"id":"4daa769e-1042-4e8c-9de5-c4fe14219ee9","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2032,1968],"id":"0c79f12c-50b8-4a5b-810c-8980803bad61","name":"If5"},{"parameters":{"content":"# ENTREVISTA","height":1196,"width":2528},"type":"n8n-nodes-base.stickyNote","position":[-2960,1616],"typeVersion":1,"id":"39071260-9a77-4a9f-9170-a31cf6873900","name":"Sticky Note14"},{"parameters":{"httpMethod":"POST","path":"6402483d-524e-4ad5-a9c2-d4607a88e88e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2848,1968],"id":"c40c661e-92b2-4d54-a90c-c7fe9b4c154a","name":"Cadastro Wordpress5","webhookId":"6402483d-524e-4ad5-a9c2-d4607a88e88e"},{"parameters":{"content":"# COMPRA APROVADA\n","height":672,"width":1460},"type":"n8n-nodes-base.stickyNote","position":[-2480,800],"typeVersion":1,"id":"f5451192-cf8b-413e-b263-9aa5fba5e896","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"3a1f401a-6479-4d2a-9a09-0e2cfbd4235b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2384,928],"id":"cb905146-5cec-4c9f-8dfd-e6f33c7e707d","name":"Aprovada - Plano que liberta","webhookId":"3a1f401a-6479-4d2a-9a09-0e2cfbd4235b"},{"parameters":{"email":"={{ $json.body['fields[email][value]'] }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"6","value":"={{ $if($('Checkout - Plano que liberta').item.json.body['fields[medico][value]'] = 'y','Médico(a)','') }}"}]},"firstName":"={{ $json.body['fields[nome][value]'].split(\" \").first() }}","lastName":"={{ $json.body['fields[nome][value]'].split(\" \").slice(1).join(\" \") }}","phone":"={{ $json.body['fields[telefone][value]'] }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2128,448],"id":"e8147679-b8d9-4e0b-8c05-6a03f9121cd2","name":"Create a contact","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":14,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1840,448],"id":"5f8a46a5-fd35-4f44-8026-8c5451f0c154","name":"Add a contact to a list","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"38","contactId":"={{ $('Create a contact').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1552,448],"id":"b07ec603-bff6-49e1-bc49-153803ac6d87","name":"Add a contact tag","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"email":"={{ $json.body.Customer.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"30","value":"={{ $json.body.Commissions.product_base_price / 100}}"}]},"firstName":"={{ $json.body.Customer.first_name }}","lastName":"={{ $json.body.Customer.full_name.split(\" \").slice(1).join(\" \") }}","phone":"={{ $json.body.Customer.mobile }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2096,928],"id":"14317cc2-b6a2-48ce-bea8-fd2212b61251","name":"Create a contact1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":14,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1856,928],"id":"a7be52d6-8dc3-48e5-9d9a-9e1674aa1d53","name":"Add a contact to a list1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"39","contactId":"={{ $('Create a contact1').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1616,928],"id":"43954528-2d28-4694-9455-c8b378b7c3af","name":"Add a contact tag1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b943973b-7e93-4c90-80e3-fa7294407f3a","leftValue":"={{ $('Aprovada - Plano que liberta').item.json.body.Product.product_offer_name }}","rightValue":"Order bump VIP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1408,928],"id":"35e2ffe0-b7db-4aae-aef6-32602d139de9","name":"Filter"},{"parameters":{"resource":"contactTag","tagId":"41","contactId":"={{ $('Create a contact1').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1216,928],"id":"92231d06-39fa-4fa9-a873-11a1372ac928","name":"Add a contact tag2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body.Customer.mobile }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"boas_vindas_plano_liberta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,1184],"id":"faa73129-f6f4-4b2d-b1ec-7714a11acbd0","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b943973b-7e93-4c90-80e3-fa7294407f3a","leftValue":"={{ $('Aprovada - Plano que liberta').item.json.body.Product.product_offer_name }}","rightValue":"Order bump VIP","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2096,1184],"id":"28f6183b-fdaa-431a-a865-32c62af5d2f5","name":"Filter1"},{"parameters":{"content":"# ABANDONO","height":368,"width":644},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"18ce6db2-3218-47c6-9263-88ec57fb5e49","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"1098a420-4c33-4f8c-a351-56f9655f0307","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,128],"id":"1512ee27-6a59-4817-8608-3f19f0608dfd","name":"Webhook","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"abandono_plano_liberta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,128],"id":"bb80d3d4-0942-45bc-8703-92df223d34ff","name":"HTTP Request2"},{"parameters":{"email":"={{ $('Edit Fields5').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"6","value":"={{ $('Edit Fields5').item.json.profissao }}"},{"field":"19","value":"={{ $('Edit Fields5').item.json.situacao }}"},{"field":"13","value":"={{ $('Edit Fields5').item.json.tempo_formado }}"},{"field":"22","value":"={{ $('Edit Fields5').item.json.consultas_mes }}"},{"field":"23","value":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}"},{"field":"20","value":"={{ $('Edit Fields5').item.json.horas_plantoes }}"},{"field":"9","value":"={{ $('Edit Fields5').item.json.renda }}"},{"field":"11","value":"={{ $('Edit Fields5').item.json.incomodo }}"},{"field":"10","value":"={{ $('Edit Fields5').item.json.preco_consulta }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1728,2352],"id":"e1c7aeee-7dd9-4ce6-95fb-636f62162b62","name":"Create a contact2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":14,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1456,2352],"id":"8a2e1e82-e7bd-447a-9769-d0fd8e72e954","name":"Add a contact to a list2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"38","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1728,2592],"id":"aaaa7257-6c70-40ed-a2f4-2beab17f3b32","name":"Add a contact tag3","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"42","contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-672,1712],"id":"d2d22bcd-65fa-4864-87ce-0787d417354f","name":"Add a contact tag4","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"42","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1456,2592],"id":"408c041f-5ee0-496f-bc8a-19860094d772","name":"Add a contact tag5","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"39","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1152,2592],"id":"a61ccb38-d6aa-4893-9931-c3560621c55e","name":"Add a contact tag6","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"email":"={{ $('Edit Fields5').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"6","value":"={{ $('Edit Fields5').item.json.profissao }}"},{"field":"19","value":"={{ $('Edit Fields5').item.json.situacao }}"},{"field":"13","value":"={{ $('Edit Fields5').item.json.tempo_formado }}"},{"field":"22","value":"={{ $('Edit Fields5').item.json.consultas_mes }}"},{"field":"23","value":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}"},{"field":"20","value":"={{ $('Edit Fields5').item.json.horas_plantoes }}"},{"field":"9","value":"={{ $('Edit Fields5').item.json.renda }}"},{"field":"11","value":"={{ $('Edit Fields5').item.json.incomodo }}"},{"field":"10","value":"={{ $('Edit Fields5').item.json.preco_consulta }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-976,1712],"id":"e612198b-c45d-4227-9fe4-b8bfe856555f","name":"Create a contact4","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"content":"# É AMANHÃ","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,448],"typeVersion":1,"id":"5957c248-83ce-43b1-93e5-fcc9355b7314","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-amanha","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[880,576],"id":"6e544d78-83ec-4610-a620-8858a1b33fd3","name":"Webhook1","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.body['contact[phone]'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"lembrete_amanha\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\", \n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": {\n              \"link\": \"https://meuconsultoriointeligente.com/wp-content/uploads/2026/01/E-AMANHA-SEM-DATA.png\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,576],"id":"11519dd7-b179-43ae-8816-602b050478e8","name":"HTTP Request3"},{"parameters":{"content":"# É HOJE","height":368,"width":660},"type":"n8n-nodes-base.stickyNote","position":[784,0],"typeVersion":1,"id":"5be103ca-ff1f-4a71-a24e-a86bc97aa946","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-hoje","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[864,128],"id":"f123b5cd-2876-400f-abe3-208e60a0d178","name":"Webhook2","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.body['contact[phone]'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"lembrete_hoje\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\", \n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": {\n              \"link\": \"https://meuconsultoriointeligente.com/wp-content/uploads/2026/01/E-HOJE-SEM-DATA.png\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,128],"id":"7ecefec2-d576-4a14-84c7-a03adcb30f07","name":"HTTP Request4"},{"parameters":{"content":"# AO VIVO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,944],"typeVersion":1,"id":"124917c0-8fec-4b09-b51c-29f9799dc87b","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-ao-vivo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[96,1072],"id":"86546646-4d91-4f6b-b7e3-914594e81d0b","name":"Webhook3","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.body['contact[phone]'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"reuniao_vivo\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\", \n        \"parameters\": [\n          {\n            \"type\": \"video\",\n            \"video\": {\n              \"link\": \"https://meuconsultoriointeligente.com/video-ao-vivo-natalia\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,1072],"id":"870947cf-329d-43b0-8ade-61fe7ddb1c35","name":"HTTP Request6"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"plano_vivo_2\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,1536],"id":"52038dd0-2353-4250-bb6b-37234c03457a","name":"HTTP Request7"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-atrasado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,1536],"id":"6fac74c6-c4d4-46f9-847b-7bf11089bc75","name":"Webhook4","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# ATRASADO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,1392],"typeVersion":1,"id":"c0fa0968-f7b2-465b-8b6b-b4d9d8065e1e","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"pre_pitch\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,2000],"id":"d54bc390-63e5-43c4-82d6-533fd2a176ff","name":"HTTP Request8"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-pre-pitch","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,2000],"id":"52eb8b25-29e5-49c1-936d-ae09ecbbaa5e","name":"Webhook5","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# PRE-PITCH ","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,1856],"typeVersion":1,"id":"d14c54ab-0cc6-433c-8146-3059bf2e06fa","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"oferta_curta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,2480],"id":"c4305e64-d687-4e10-a264-723769e075bb","name":"HTTP Request9"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-oferta-curta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,2480],"id":"951c690d-65c7-4536-a0bd-00d167df3568","name":"Webhook6","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# OFERTA CURTA","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,2336],"typeVersion":1,"id":"432efe01-86b1-4b44-8882-5897b7779d25","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"zoom_qa\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1056],"id":"c42d6c4b-7485-4fe6-a185-d9369338927d","name":"HTTP Request10"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-sessao-black","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,1056],"id":"42580640-fb86-4e1d-bd0e-0b066e3e1b5e","name":"Webhook7","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# SESSÃO BLACK","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,912],"typeVersion":1,"id":"bd5c4835-9151-4755-9ba1-c3ace7a94f45","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"oferta_completa\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,2448],"id":"cc1a2675-fe7e-4788-8030-4d720ee7b43b","name":"HTTP Request11"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-oferta-completa","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,2448],"id":"bca17f17-f1a4-493a-a48f-1c2fd4fba881","name":"Webhook8","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# OFERTA COMPLETA","height":368,"width":644},"type":"n8n-nodes-base.stickyNote","position":[800,2304],"typeVersion":1,"id":"a6f98cc1-f00a-456d-b0e0-40f925214326","name":"Sticky Note9"},{"parameters":{"content":"# CONVITE INDIVIDUAL","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,480],"typeVersion":1,"id":"4449f71b-8f65-4c1e-8afe-4c3fca6d1b75","name":"Sticky Note10"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-convite-individual","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[96,608],"id":"8db92a08-f594-44c4-80ef-f27ebc85c934","name":"Webhook9","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"convite_plano_liberta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,608],"id":"521f3dc1-0e1b-412c-95ba-fb6698ca32f8","name":"HTTP Request14"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"retorno_intervalo\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1968],"id":"f907c12b-3cac-4f73-a936-b56d574f31a3","name":"HTTP Request15"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-retorno-intervalo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,1968],"id":"62a05a3b-0f85-4e37-85aa-2800e4e45b8c","name":"Webhook10","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# RETORNO INTERVALO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,1824],"typeVersion":1,"id":"df3e4f53-561a-4d8c-9847-84fcd17de887","name":"Sticky Note11"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"rp2\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1504],"id":"d666d447-863e-44bb-a582-11ad50d7c04d","name":"HTTP Request16"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-replay-liberado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,1504],"id":"6595e755-b5d3-498d-9640-8af8afdc561f","name":"Webhook11","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# REPLAY LIBERADO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,1360],"typeVersion":1,"id":"581a0f44-db8b-415f-80d1-2524477c46be","name":"Sticky Note13"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields5').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Edit Fields5').item.json.email }}","Qual sua especialidade/área de atuação?":"={{ $('Edit Fields5').item.json.profissao }}","Pré-qualificação":"={{ $('Edit Fields5').item.json.situacao }}","O que mais te incomoda na sua situação profissional atual?":"={{ $('Edit Fields5').item.json.incomodo }}","Há quanto tempo atua como profissional de saúde?":"={{ $('Edit Fields5').item.json.tempo_formado }}","Quantas consultas faz por mês?":"={{ $('Edit Fields5').item.json.consultas_mes }}","Faixa de faturamento":"={{ $('Edit Fields5').item.json.renda }}","Há quanto tempo você acompanha a Dra. Natália Daniela?":"={{ $('Edit Fields5').item.json.tempo_acompanha }}","Quantas horas você dedica a plantões/regime de horas por semana?":"={{ $('Edit Fields5').item.json.horas_plantoes }}","Interesse na mentoria":"={{ $('Edit Fields5').item.json.interesse_mentoria }}","Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}","Qual o valor da sua consulta?":"={{ $('Edit Fields5').item.json.preco_consulta }}"},"matchingColumns":["Email"],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pré-qualificação","displayName":"Pré-qualificação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seu @ do instagram","displayName":"Seu @ do instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual sua especialidade/área de atuação?","displayName":"Qual sua especialidade/área de atuação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sua situação atual de atendimento:","displayName":"Sua situação atual de atendimento:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica a plantões?","displayName":"Quantas horas por semana você dedica a plantões?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica ao consultório?","displayName":"Quantas horas por semana você dedica ao consultório?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que mais te incomoda na sua situação profissional atual?","displayName":"O que mais te incomoda na sua situação profissional atual?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","displayName":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o prazo limite que você se deu para resolver essa situação?","displayName":"Qual é o prazo limite que você se deu para resolver essa situação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","displayName":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo atua como profissional de saúde?","displayName":"Há quanto tempo atua como profissional de saúde?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas consultas faz por mês?","displayName":"Quantas consultas faz por mês?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o valor da sua consulta?","displayName":"Qual o valor da sua consulta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faixa de faturamento","displayName":"Faixa de faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","displayName":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas você dedica a plantões/regime de horas por semana?","displayName":"Quantas horas você dedica a plantões/regime de horas por semana?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesse na mentoria","displayName":"Interesse na mentoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo você acompanha a Dra. Natália Daniela?","displayName":"Há quanto tempo você acompanha a Dra. Natália Daniela?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1456,2128],"id":"5f2f7e59-dcca-40cd-a8b8-d3007bb1e03c","name":"Adiciona qualificação1","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"list","cachedResultName":"Dados Funis - Natália Daniela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $('Edit Fields5').item.json.email }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1728,1728],"id":"40b33fe8-7db2-4754-a1ee-ebf82e14e2f1","name":"Busca qualificação","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1472,1728],"id":"e5445ccd-274b-4932-835f-165b099051fd","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields5').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Edit Fields5').item.json.email }}","Qual sua especialidade/área de atuação?":"={{ $('Edit Fields5').item.json.profissao }}","Pré-qualificação":"={{ $('Edit Fields5').item.json.situacao }}","O que mais te incomoda na sua situação profissional atual?":"={{ $('Edit Fields5').item.json.incomodo }}","Há quanto tempo atua como profissional de saúde?":"={{ $('Edit Fields5').item.json.tempo_formado }}","Quantas consultas faz por mês?":"={{ $('Edit Fields5').item.json.consultas_mes }}","Faixa de faturamento":"={{ $('Edit Fields5').item.json.renda }}","Há quanto tempo você acompanha a Dra. Natália Daniela?":"={{ $('Edit Fields5').item.json.tempo_acompanha }}","Quantas horas você dedica a plantões/regime de horas por semana?":"={{ $('Edit Fields5').item.json.horas_plantoes }}","Interesse na mentoria":"={{ $('Edit Fields5').item.json.interesse_mentoria }}","Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}","Qual o valor da sua consulta?":"={{ $('Edit Fields5').item.json.preco_consulta }}"},"matchingColumns":["Email"],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pré-qualificação","displayName":"Pré-qualificação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seu @ do instagram","displayName":"Seu @ do instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual sua especialidade/área de atuação?","displayName":"Qual sua especialidade/área de atuação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sua situação atual de atendimento:","displayName":"Sua situação atual de atendimento:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica a plantões?","displayName":"Quantas horas por semana você dedica a plantões?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica ao consultório?","displayName":"Quantas horas por semana você dedica ao consultório?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que mais te incomoda na sua situação profissional atual?","displayName":"O que mais te incomoda na sua situação profissional atual?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","displayName":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o prazo limite que você se deu para resolver essa situação?","displayName":"Qual é o prazo limite que você se deu para resolver essa situação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","displayName":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo atua como profissional de saúde?","displayName":"Há quanto tempo atua como profissional de saúde?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas consultas faz por mês?","displayName":"Quantas consultas faz por mês?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o valor da sua consulta?","displayName":"Qual o valor da sua consulta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faixa de faturamento","displayName":"Faixa de faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","displayName":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas você dedica a plantões/regime de horas por semana?","displayName":"Quantas horas você dedica a plantões/regime de horas por semana?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesse na mentoria","displayName":"Interesse na mentoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo você acompanha a Dra. Natália Daniela?","displayName":"Há quanto tempo você acompanha a Dra. Natália Daniela?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1232,1952],"id":"7fe1a57d-d964-437e-8c28-cd222254e688","name":"Adiciona qualificação","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}}],"connections":{"Checkout - Plano que liberta":{"main":[[{"node":"Adiciona cadastro lead","type":"main","index":0},{"node":"Create a contact","type":"main","index":0}]]},"Adiciona cadastro lead11":{"main":[[{"node":"Adiciona qualificação1","type":"main","index":0}]]},"Busca cadastro5":{"main":[[{"node":"If5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Busca cadastro5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Busca qualificação","type":"main","index":0}],[{"node":"Adiciona cadastro lead11","type":"main","index":0}]]},"Cadastro Wordpress5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Aprovada - Plano que liberta":{"main":[[{"node":"Create a contact1","type":"main","index":0},{"node":"Filter1","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Add a contact to a list","type":"main","index":0}]]},"Add a contact to a list":{"main":[[{"node":"Add a contact tag","type":"main","index":0}]]},"Create a contact1":{"main":[[{"node":"Add a contact to a list1","type":"main","index":0}]]},"Add a contact to a list1":{"main":[[{"node":"Add a contact tag1","type":"main","index":0}]]},"Add a contact tag1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Add a contact tag2","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Create a contact2":{"main":[[{"node":"Add a contact to a list2","type":"main","index":0}]]},"Add a contact to a list2":{"main":[[{"node":"Add a contact tag3","type":"main","index":0}]]},"Add a contact tag3":{"main":[[{"node":"Add a contact tag5","type":"main","index":0}]]},"Add a contact tag5":{"main":[[{"node":"Add a contact tag6","type":"main","index":0}]]},"Create a contact4":{"main":[[{"node":"Add a contact tag4","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Webhook4":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Webhook5":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Webhook6":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Webhook7":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"Webhook8":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"Webhook9":{"main":[[{"node":"HTTP Request14","type":"main","index":0}]]},"Webhook10":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"Webhook11":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"Adiciona qualificação1":{"main":[[{"node":"Create a contact2","type":"main","index":0}]]},"Busca qualificação":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a contact4","type":"main","index":0}],[{"node":"Adiciona qualificação","type":"main","index":0}]]},"Adiciona qualificação":{"main":[[{"node":"Create a contact4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"ryeRyazw0zDtoUQA","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Aprovada - Plano que liberta":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"axios/0.23.0","content-length":"2692","accept":"application/json, text/plain, */*","content-type":"application/json","traceparent":"00-9213462354797880c47637ac6df57ba8-0688b3fe90283763-01","x-forwarded-for":"34.95.238.190","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"34.95.238.190","accept-encoding":"gzip"},"params":{},"query":{"signature":"6edde1938526dc597f698cd89129a6773598709d"},"body":{"order_id":"b250e5df-717c-41f3-8a50-b0bbad72a217","order_ref":"WAcPoNE","order_status":"paid","product_type":"membership","payment_method":"credit_card","store_id":"TVOM46yfmcFraro","payment_merchant_id":96064457,"installments":1,"card_type":"mastercard","card_last4digits":"5482","card_rejection_reason":null,"boleto_URL":null,"boleto_barcode":null,"boleto_expiry_date":null,"pix_code":null,"pix_expiration":null,"sale_type":"producer","created_at":"2025-11-25 19:34","updated_at":"2025-11-25 19:34","approved_date":"2025-11-26 19:34","refunded_at":null,"webhook_event_type":"order_approved","Product":{"product_id":"3516fe38-6d2d-4156-a393-0c6cd3ead3eb","product_name":"Example product"},"Customer":{"full_name":"John Doe","first_name":"John","email":"johndoe@example.com","mobile":"+33412372781","cnpj":"15725086011420","ip":"4ecf:c335:b6a4:2dcc:fded:7303:4668:f005","instagram":"@kiwify","street":"Rua 1001","number":"315","complement":"SL 05","neighborhood":"Centro","city":"Balneário Camboriú","state":"SC","zipcode":"88330-756"},"Commissions":{"charge_amount":8487,"product_base_price":8487,"product_base_price_currency":"BRL","kiwify_fee":934,"kiwify_fee_currency":"BRL","settlement_amount":8487,"settlement_amount_currency":"BRL","sale_tax_rate":0,"sale_tax_amount":0,"commissioned_stores":[{"id":"9459ac57-0861-40dc-b472-657b2a98eff2","type":"producer","custom_name":"Example store","email":"example@store.domain","value":"7553"},{"id":"fb7342a1-67ac-4c0e-a4d3-c6d1b13467a5","type":"coproducer","custom_name":"Example coproducer","email":"example@coproducer.domain","value":"7553"},{"id":"b1dd9b83-6c70-4dce-ab3f-401e14c86672","type":"affiliate","affiliate_id":"iWwThCf","custom_name":"Example affiliate","email":"example@affiliate.domain","value":"7553"}],"currency":"BRL","my_commission":7553,"funds_status":null,"estimated_deposit_date":null,"deposit_date":null},"TrackingParameters":{"src":null,"sck":null,"utm_source":null,"utm_medium":null,"utm_campaign":null,"utm_content":null,"utm_term":null,"s1":null,"s2":null,"s3":null},"Subscription":{"id":"d4f63c5b-3d7d-4b7e-851b-c5268eb6bef4","start_date":"2025-11-22T19:34:36.912Z","next_payment":"2025-11-29T19:34:36.912Z","status":"active","plan":{"id":"eeb10590-8026-4e91-9714-4753ce82643e","name":"Example plan","frequency":"weekly","qty_charges":0},"charges":{"completed":[{"order_id":"b250e5df-717c-41f3-8a50-b0bbad72a217","amount":7553,"status":"paid","installments":1,"card_type":"mastercard","card_last_digits":"9597","card_first_digits":"799505","created_at":"2025-11-22T19:34:36.912Z"}],"future":[{"charge_date":"2025-11-29T19:34:36.912Z"}]}},"subscription_id":"d4f63c5b-3d7d-4b7e-851b-c5268eb6bef4","access_url":null},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/aprovada-plano-liberta","executionMode":"test"}}],"Webhook":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Cadastro Wordpress5":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"WordPress/6.9; https://meuconsultoriointeligente.com","content-length":"6806","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"45.148.96.61","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"45.148.96.61"},"params":{},"query":{},"body":{"form[id]":"747bdb2","form[name]":"plano_liberta_entrevista","fields[field_41e3f96][id]":"field_41e3f96","fields[field_41e3f96][type]":"step","fields[field_41e3f96][title]":"","fields[field_41e3f96][value]":"","fields[field_41e3f96][raw_value]":"","fields[field_41e3f96][required]":"0","fields[email][id]":"email","fields[email][type]":"email","fields[email][title]":"Email cadastrado","fields[email][value]":"matheus.ocs@gmail.com","fields[email][raw_value]":"matheus.ocs@gmail.com","fields[email][required]":"1","fields[field_1856d5a][id]":"field_1856d5a","fields[field_1856d5a][type]":"step","fields[field_1856d5a][title]":"step","fields[field_1856d5a][value]":"","fields[field_1856d5a][raw_value]":"","fields[field_1856d5a][required]":"0","fields[tempo_acompanha][id]":"tempo_acompanha","fields[tempo_acompanha][type]":"radio","fields[tempo_acompanha][title]":"Há quanto tempo você acompanha a Dra. Natália Daniela?","fields[tempo_acompanha][value]":"Entre 6 meses e 1 ano","fields[tempo_acompanha][raw_value]":"Entre 6 meses e 1 ano","fields[tempo_acompanha][required]":"1","fields[field_0fda78a][id]":"field_0fda78a","fields[field_0fda78a][type]":"step","fields[field_0fda78a][title]":"step","fields[field_0fda78a][value]":"","fields[field_0fda78a][raw_value]":"","fields[field_0fda78a][required]":"0","fields[profissao][id]":"profissao","fields[profissao][type]":"radio","fields[profissao][title]":"Qual a sua profissão?","fields[profissao][value]":"Dentista","fields[profissao][raw_value]":"Dentista","fields[profissao][required]":"1","fields[field_5db76e3][id]":"field_5db76e3","fields[field_5db76e3][type]":"step","fields[field_5db76e3][title]":"step","fields[field_5db76e3][value]":"","fields[field_5db76e3][raw_value]":"","fields[field_5db76e3][required]":"0","fields[tempo_formado][id]":"tempo_formado","fields[tempo_formado][type]":"radio","fields[tempo_formado][title]":"Há quanto tempo você está formada?","fields[tempo_formado][value]":"De 2 a 5 anos","fields[tempo_formado][raw_value]":"De 2 a 5 anos","fields[tempo_formado][required]":"1","fields[field_f45d657][id]":"field_f45d657","fields[field_f45d657][type]":"step","fields[field_f45d657][title]":"step","fields[field_f45d657][value]":"","fields[field_f45d657][raw_value]":"","fields[field_f45d657][required]":"0","fields[situacao][id]":"situacao","fields[situacao][type]":"radio","fields[situacao][title]":"Como é sua situação profissional hoje?","fields[situacao][value]":"Tenho consultório próprio, mas ainda não consigo viver 100% dele","fields[situacao][raw_value]":"Tenho consultório próprio, mas ainda não consigo viver 100% dele","fields[situacao][required]":"1","fields[field_b2802ed][id]":"field_b2802ed","fields[field_b2802ed][type]":"step","fields[field_b2802ed][title]":"step","fields[field_b2802ed][value]":"","fields[field_b2802ed][raw_value]":"","fields[field_b2802ed][required]":"0","fields[incomodo][id]":"incomodo","fields[incomodo][type]":"radio","fields[incomodo][title]":"O que mais te incomoda hoje na sua situação profissional?","fields[incomodo][value]":"Dependência de plantões que me esgotam","fields[incomodo][raw_value]":"Dependência de plantões que me esgotam","fields[incomodo][required]":"1","fields[field_1c0c814][id]":"field_1c0c814","fields[field_1c0c814][type]":"step","fields[field_1c0c814][title]":"step","fields[field_1c0c814][value]":"","fields[field_1c0c814][raw_value]":"","fields[field_1c0c814][required]":"0","fields[consultas][id]":"consultas","fields[consultas][type]":"radio","fields[consultas][title]":"Quantas consultas particulares você faz por mês?","fields[consultas][value]":"1 a 20 consultas","fields[consultas][raw_value]":"1 a 20 consultas","fields[consultas][required]":"1","fields[field_f0e7889][id]":"field_f0e7889","fields[field_f0e7889][type]":"step","fields[field_f0e7889][title]":"step","fields[field_f0e7889][value]":"","fields[field_f0e7889][raw_value]":"","fields[field_f0e7889][required]":"0","fields[preco_consulta][id]":"preco_consulta","fields[preco_consulta][type]":"radio","fields[preco_consulta][title]":"Qual o valor médio da sua consulta em consultório particular?","fields[preco_consulta][value]":"100a300","fields[preco_consulta][raw_value]":"100a300","fields[preco_consulta][required]":"1","fields[field_0f3878f][id]":"field_0f3878f","fields[field_0f3878f][type]":"step","fields[field_0f3878f][title]":"step","fields[field_0f3878f][value]":"","fields[field_0f3878f][raw_value]":"","fields[field_0f3878f][required]":"0","fields[plantoes][id]":"plantoes","fields[plantoes][type]":"radio","fields[plantoes][title]":"Quantas horas por semana você dedica a plantões?","fields[plantoes][value]":"13 a 24 horas","fields[plantoes][raw_value]":"13 a 24 horas","fields[plantoes][required]":"1","fields[field_f65511f][id]":"field_f65511f","fields[field_f65511f][type]":"step","fields[field_f65511f][title]":"step","fields[field_f65511f][value]":"","fields[field_f65511f][raw_value]":"","fields[field_f65511f][required]":"0","fields[renda][id]":"renda","fields[renda][type]":"radio","fields[renda][title]":"Qual sua renda mensal bruta atual?","fields[renda][value]":"R$ 5.001 a R$ 10.000","fields[renda][raw_value]":"R$ 5.001 a R$ 10.000","fields[renda][required]":"1","fields[field_f18e172][id]":"field_f18e172","fields[field_f18e172][type]":"step","fields[field_f18e172][title]":"step","fields[field_f18e172][value]":"","fields[field_f18e172][raw_value]":"","fields[field_f18e172][required]":"0","fields[interesse][id]":"interesse","fields[interesse][type]":"radio","fields[interesse][title]":"Durante o evento, vou abrir uma oportunidade exclusiva que eu nunca fiz antes na história do meu programa de mentoria. Você tem interesse?","fields[interesse][value]":"Sim, tenho muito interesse","fields[interesse][raw_value]":"Sim, tenho muito interesse","fields[interesse][required]":"1","fields[field_aa94c8e][id]":"field_aa94c8e","fields[field_aa94c8e][type]":"html","fields[field_aa94c8e][title]":"get_email","fields[field_aa94c8e][value]":"","fields[field_aa94c8e][raw_value]":"","fields[field_aa94c8e][required]":"0"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/6402483d-524e-4ad5-a9c2-d4607a88e88e","executionMode":"test"}}],"Webhook1":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook2":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook3":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook4":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook5":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook6":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook7":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook8":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook9":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook10":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Webhook11":[{"json":{"headers":{"host":"n8n.digitalfocus.click","user-agent":"GuzzleHttp/7","content-length":"1004","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"3.17.211.191","x-forwarded-host":"n8n.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eeea2503768c","x-real-ip":"3.17.211.191","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3","contact[email]":"matheus.ocs@gmail.com","contact[first_name]":"matheus","contact[last_name]":"santos","contact[phone]":"+5522998969095","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"cadastro plano que liberta 10-2025, cadastro typeform, checkout plano que liberta 12-2025, engajado","contact[ip4]":"0.0.0.0","contact[fields][instagram]":"@instagram","contact[fields][especialidade]":"Médico(a)","contact[fields][atende_pacientes]":"Sim","contact[fields][faturamento_mensal_informado]":"Entre 2k-5k","contact[fields][valor_consulta]":"100","contact[fields][entende_que_mentoria_e_premium_e_individual]":"Sim","contact[fields][maior_incomodo]":"captacao","contact[fields][como_a_mentoria_ajuda]":"captar paciente","contact[fields][gostaria_agendar_reuniao]":"TRUE","contact[fields][data_hora_atual]":"2025-12-06T18:20:51-03:00","contact[fields][dataultimaabertura]":"2025-12-08","seriesid":"13"},"webhookUrl":"https://webhook.digitalfocus.click/webhook-test/1098a420-4c33-4f8c-a351-56f9655f0307","executionMode":"test"}}],"Checkout - Plano que liberta":[{"json":{"headers":{"host":"webhook.digitalfocus.click","user-agent":"WordPress/6.9.1; https://meuconsultoriointeligente.com","content-length":"6459","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"45.148.96.61","x-forwarded-host":"webhook.digitalfocus.click","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6e4ca999bfe8","x-real-ip":"45.148.96.61"},"params":{},"query":{},"body":{"form[id]":"5dab824","form[name]":"popup_plano_liberta_vip25","fields[nome][id]":"nome","fields[nome][type]":"text","fields[nome][title]":"Nome","fields[nome][value]":"Jaqueline","fields[nome][raw_value]":"Jaqueline ","fields[nome][required]":"1","fields[email][id]":"email","fields[email][type]":"email","fields[email][title]":"Email","fields[email][value]":"jaquelineolemos@gmail.com","fields[email][raw_value]":"jaquelineolemos@gmail.com","fields[email][required]":"1","fields[telefone][id]":"telefone","fields[telefone][type]":"tel","fields[telefone][title]":"Telefone","fields[telefone][value]":"+5561982625488","fields[telefone][raw_value]":"+5561982625488","fields[telefone][required]":"1","fields[field_9641d49][id]":"field_9641d49","fields[field_9641d49][type]":"html","fields[field_9641d49][title]":"Título profissão","fields[field_9641d49][value]":"","fields[field_9641d49][raw_value]":"","fields[field_9641d49][required]":"0","fields[medico][id]":"medico","fields[medico][type]":"radio","fields[medico][title]":"Você é médico(a)?","fields[medico][value]":"y","fields[medico][raw_value]":"y","fields[medico][required]":"1","fields[url][id]":"url","fields[url][type]":"hidden","fields[url][title]":"url","fields[url][value]":"https://meuconsultoriointeligente.com/plano-liberta?utm_source=ig&utm_medium=Instagram_Feed&utm_campaign=VENDAS+PLANO+QUE+LIBERTA120235089656490014&utm_content=CONTROLE+BASELAL+25+A+55+F+ADV120235089656900014&utm_term=9+mentiras+sobre+consultorio120235352409600014&utm_id=120235089656490014&fbclid=PAZXh0bgNhZW0BMABhZGlkAassQPidLz5zcnRjBmFwcF9pZA8xMjQwMjQ1NzQyODc0MTQAAadRt5hPt_DhFQqQkl6PiY4mhA5FGX4sgA4XpHOzL_gMQDpnsV8vvgxovFR3nw_aem_09czuWM7fszqH-snwHwlew","fields[url][raw_value]":"https://meuconsultoriointeligente.com/plano-liberta?utm_source=ig&utm_medium=Instagram_Feed&utm_campaign=%5BVENDAS%5D+PLANO+QUE+LIBERTA%7C120235089656490014&utm_content=%5BCONTROLE%5D+BASE%2FLAL+25+A+55+F+%2BADV%7C120235089656900014&utm_term=9+mentiras+sobre+consultorio%7C120235352409600014&utm_id=120235089656490014&fbclid=PAZXh0bgNhZW0BMABhZGlkAassQPidLz5zcnRjBmFwcF9pZA8xMjQwMjQ1NzQyODc0MTQAAadRt5hPt_DhFQqQkl6PiY4mhA5FGX4sgA4XpHOzL_gMQDpnsV8vvgxovFR3nw_aem_09czuWM7fszqH-snwHwlew","fields[url][required]":"0","fields[url_dominio][id]":"url_dominio","fields[url_dominio][type]":"hidden","fields[url_dominio][title]":"url_dominio","fields[url_dominio][value]":"https://meuconsultoriointeligente.com","fields[url_dominio][raw_value]":"https://meuconsultoriointeligente.com","fields[url_dominio][required]":"0","fields[url_path][id]":"url_path","fields[url_path][type]":"hidden","fields[url_path][title]":"url_path","fields[url_path][value]":"/plano-liberta","fields[url_path][raw_value]":"/plano-liberta","fields[url_path][required]":"0","fields[url_parametros][id]":"url_parametros","fields[url_parametros][type]":"hidden","fields[url_parametros][title]":"url_parametros","fields[url_parametros][value]":"?utm_source=ig&utm_medium=Instagram_Feed&utm_campaign=VENDAS+PLANO+QUE+LIBERTA120235089656490014&utm_content=CONTROLE+BASELAL+25+A+55+F+ADV120235089656900014&utm_term=9+mentiras+sobre+consultorio120235352409600014&utm_id=120235089656490014&fbclid=PAZXh0bgNhZW0BMABhZGlkAassQPidLz5zcnRjBmFwcF9pZA8xMjQwMjQ1NzQyODc0MTQAAadRt5hPt_DhFQqQkl6PiY4mhA5FGX4sgA4XpHOzL_gMQDpnsV8vvgxovFR3nw_aem_09czuWM7fszqH-snwHwlew","fields[url_parametros][raw_value]":"?utm_source=ig&utm_medium=Instagram_Feed&utm_campaign=%5BVENDAS%5D+PLANO+QUE+LIBERTA%7C120235089656490014&utm_content=%5BCONTROLE%5D+BASE%2FLAL+25+A+55+F+%2BADV%7C120235089656900014&utm_term=9+mentiras+sobre+consultorio%7C120235352409600014&utm_id=120235089656490014&fbclid=PAZXh0bgNhZW0BMABhZGlkAassQPidLz5zcnRjBmFwcF9pZA8xMjQwMjQ1NzQyODc0MTQAAadRt5hPt_DhFQqQkl6PiY4mhA5FGX4sgA4XpHOzL_gMQDpnsV8vvgxovFR3nw_aem_09czuWM7fszqH-snwHwlew","fields[url_parametros][required]":"0","fields[utm_source][id]":"utm_source","fields[utm_source][type]":"hidden","fields[utm_source][title]":"utm_source","fields[utm_source][value]":"ig","fields[utm_source][raw_value]":"ig","fields[utm_source][required]":"0","fields[utm_medium][id]":"utm_medium","fields[utm_medium][type]":"hidden","fields[utm_medium][title]":"utm_medium","fields[utm_medium][value]":"Instagram_Feed","fields[utm_medium][raw_value]":"Instagram_Feed","fields[utm_medium][required]":"0","fields[utm_campaign][id]":"utm_campaign","fields[utm_campaign][type]":"hidden","fields[utm_campaign][title]":"utm_campaign","fields[utm_campaign][value]":"[VENDAS] PLANO QUE LIBERTA|120235089656490014","fields[utm_campaign][raw_value]":"[VENDAS] PLANO QUE LIBERTA|120235089656490014","fields[utm_campaign][required]":"0","fields[utm_content][id]":"utm_content","fields[utm_content][type]":"hidden","fields[utm_content][title]":"utm_content","fields[utm_content][value]":"[CONTROLE] BASE/LAL 25 A 55 F +ADV|120235089656900014","fields[utm_content][raw_value]":"[CONTROLE] BASE/LAL 25 A 55 F +ADV|120235089656900014","fields[utm_content][required]":"0","fields[utm_term][id]":"utm_term","fields[utm_term][type]":"hidden","fields[utm_term][title]":"utm_term","fields[utm_term][value]":"9 mentiras sobre consultorio|120235352409600014","fields[utm_term][raw_value]":"9 mentiras sobre consultorio|120235352409600014","fields[utm_term][required]":"0","fields[sck][id]":"sck","fields[sck][type]":"hidden","fields[sck][title]":"sck","fields[sck][value]":"55a56b95c8e016290cb00d5431be52bb","fields[sck][raw_value]":"55a56b95c8e016290cb00d5431be52bb","fields[sck][required]":"0","fields[field_a8cd2be][id]":"field_a8cd2be","fields[field_a8cd2be][type]":"html","fields[field_a8cd2be][title]":"validacao_telefone","fields[field_a8cd2be][value]":"","fields[field_a8cd2be][raw_value]":"","fields[field_a8cd2be][required]":"0"},"webhookUrl":"https://webhook.digitalfocus.click/webhook/bc2509f0-9e83-4906-bc09-3c694fd9905c","executionMode":"production"}}]},"versionId":"5dbf6f92-868d-4704-a7e6-0156e49b1b64","activeVersionId":"5dbf6f92-868d-4704-a7e6-0156e49b1b64","triggerCount":15,"shared":[{"updatedAt":"2026-03-06T18:53:45.883Z","createdAt":"2026-03-06T18:53:45.883Z","role":"workflow:owner","workflowId":"jMdR9KKoQD46poI8","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-03-06T19:05:18.519Z","createdAt":"2026-03-06T19:04:42.142Z","versionId":"5dbf6f92-868d-4704-a7e6-0156e49b1b64","workflowId":"jMdR9KKoQD46poI8","nodes":[{"parameters":{"content":"# CHECKOUT","height":672,"width":1156},"type":"n8n-nodes-base.stickyNote","position":[-2480,32],"typeVersion":1,"id":"69e03c17-6dfe-420f-9663-e2c26e9fe4cf","name":"Sticky Note12"},{"parameters":{"httpMethod":"POST","path":"bc2509f0-9e83-4906-bc09-3c694fd9905c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2384,160],"id":"231f1eaa-015a-49da-a27a-af48fe7b763e","name":"Checkout - Plano que liberta","webhookId":"bc2509f0-9e83-4906-bc09-3c694fd9905c"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Nome":"={{ $json.body['fields[nome][value]'] }}","Email":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","URL domínio":"={{ $json.body['fields[url_dominio][value]'] }}","URL path":"={{ $json.body['fields[url_path][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2144,160],"id":"b7bca8d9-6051-4f9f-ac69-30aa95e9fa51","name":"Adiciona cadastro lead","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields5').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Edit Fields5').item.json.email }}","URL domínio":"https://meuconsultoriointeligente.com","URL path":"/plano-liberta-entrevista"},"matchingColumns":[],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL domínio","displayName":"URL domínio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL path","displayName":"URL path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1728,2128],"id":"5a57e442-9704-4a5d-9a98-ea2cffd6d553","name":"Adiciona cadastro lead11","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2288,1968],"id":"557c7752-52aa-4c11-ae72-8ad6fc4060df","name":"Busca cadastro5","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"f5d742d1-fb52-4407-9e33-16de58c4c9eb","name":"id_sheet","value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","type":"string"},{"id":"4aed2e37-b204-4818-bafe-059f0d05ba7e","name":"email","value":"={{ $json.body['fields[email][value]'] }}","type":"string"},{"id":"e283e551-15c8-4cc0-b894-93e912bf86e2","name":"tempo_acompanha","value":"={{ $json.body['fields[tempo_acompanha][value]'] }}","type":"string"},{"id":"40867a9e-0e8b-45c1-867b-0778f242ec49","name":"profissao","value":"={{ $json.body['fields[profissao][value]'] }}","type":"string"},{"id":"1497d7e4-f525-4695-893b-7010a9db44cf","name":"tempo_formado","value":"={{ $json.body['fields[tempo_formado][value]'] }}","type":"string"},{"id":"45414bda-55ef-4c97-ad88-2565a265f31d","name":"situacao","value":"={{ $json.body['fields[situacao][value]'] }}","type":"string"},{"id":"071b012e-81dc-4a42-b55a-538aa94d32cf","name":"incomodo","value":"={{ $json.body['fields[incomodo][value]'] }}","type":"string"},{"id":"2fcbda8e-57cd-4d71-b0f0-9c007037aefa","name":"consultas_mes","value":"={{ $json.body['fields[consultas][value]'] }}","type":"string"},{"id":"781114a0-9d96-46ff-ad35-62d5bf0a4772","name":"horas_plantoes","value":"={{ $json.body['fields[plantoes][value]'] }}","type":"string"},{"id":"49f1505b-d759-48ab-b8e7-f64de1b5a026","name":"renda","value":"={{ $json.body['fields[renda][value]'] }}","type":"string"},{"id":"f7c7caf4-0469-4f05-8405-285d9190d92d","name":"interesse_mentoria","value":"={{ $json.body['fields[interesse][value]'] }}","type":"string"},{"id":"b552917f-8f0c-44da-80ae-a3e6709a827b","name":"preco_consulta","value":"={{ $json.body['fields[preco_consulta][value]'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2544,1968],"id":"4daa769e-1042-4e8c-9de5-c4fe14219ee9","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2032,1968],"id":"0c79f12c-50b8-4a5b-810c-8980803bad61","name":"If5"},{"parameters":{"content":"# ENTREVISTA","height":1196,"width":2528},"type":"n8n-nodes-base.stickyNote","position":[-2960,1616],"typeVersion":1,"id":"39071260-9a77-4a9f-9170-a31cf6873900","name":"Sticky Note14"},{"parameters":{"httpMethod":"POST","path":"6402483d-524e-4ad5-a9c2-d4607a88e88e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2848,1968],"id":"c40c661e-92b2-4d54-a90c-c7fe9b4c154a","name":"Cadastro Wordpress5","webhookId":"6402483d-524e-4ad5-a9c2-d4607a88e88e"},{"parameters":{"content":"# COMPRA APROVADA\n","height":672,"width":1460},"type":"n8n-nodes-base.stickyNote","position":[-2480,800],"typeVersion":1,"id":"f5451192-cf8b-413e-b263-9aa5fba5e896","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"3a1f401a-6479-4d2a-9a09-0e2cfbd4235b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2384,928],"id":"cb905146-5cec-4c9f-8dfd-e6f33c7e707d","name":"Aprovada - Plano que liberta","webhookId":"3a1f401a-6479-4d2a-9a09-0e2cfbd4235b"},{"parameters":{"email":"={{ $json.body['fields[email][value]'] }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"6","value":"={{ $if($('Checkout - Plano que liberta').item.json.body['fields[medico][value]'] = 'y','Médico(a)','') }}"}]},"firstName":"={{ $json.body['fields[nome][value]'].split(\" \").first() }}","lastName":"={{ $json.body['fields[nome][value]'].split(\" \").slice(1).join(\" \") }}","phone":"={{ $json.body['fields[telefone][value]'] }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2128,448],"id":"e8147679-b8d9-4e0b-8c05-6a03f9121cd2","name":"Create a contact","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":14,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1840,448],"id":"5f8a46a5-fd35-4f44-8026-8c5451f0c154","name":"Add a contact to a list","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"38","contactId":"={{ $('Create a contact').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1552,448],"id":"b07ec603-bff6-49e1-bc49-153803ac6d87","name":"Add a contact tag","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"email":"={{ $json.body.Customer.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"30","value":"={{ $json.body.Commissions.product_base_price / 100}}"}]},"firstName":"={{ $json.body.Customer.first_name }}","lastName":"={{ $json.body.Customer.full_name.split(\" \").slice(1).join(\" \") }}","phone":"={{ $json.body.Customer.mobile }}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2096,928],"id":"14317cc2-b6a2-48ce-bea8-fd2212b61251","name":"Create a contact1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":14,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1856,928],"id":"a7be52d6-8dc3-48e5-9d9a-9e1674aa1d53","name":"Add a contact to a list1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"39","contactId":"={{ $('Create a contact1').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1616,928],"id":"43954528-2d28-4694-9455-c8b378b7c3af","name":"Add a contact tag1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b943973b-7e93-4c90-80e3-fa7294407f3a","leftValue":"={{ $('Aprovada - Plano que liberta').item.json.body.Product.product_offer_name }}","rightValue":"Order bump VIP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1408,928],"id":"35e2ffe0-b7db-4aae-aef6-32602d139de9","name":"Filter"},{"parameters":{"resource":"contactTag","tagId":"41","contactId":"={{ $('Create a contact1').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1216,928],"id":"92231d06-39fa-4fa9-a873-11a1372ac928","name":"Add a contact tag2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body.Customer.mobile }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"boas_vindas_plano_liberta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,1184],"id":"faa73129-f6f4-4b2d-b1ec-7714a11acbd0","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b943973b-7e93-4c90-80e3-fa7294407f3a","leftValue":"={{ $('Aprovada - Plano que liberta').item.json.body.Product.product_offer_name }}","rightValue":"Order bump VIP","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2096,1184],"id":"28f6183b-fdaa-431a-a865-32c62af5d2f5","name":"Filter1"},{"parameters":{"content":"# ABANDONO","height":368,"width":644},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"18ce6db2-3218-47c6-9263-88ec57fb5e49","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"1098a420-4c33-4f8c-a351-56f9655f0307","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,128],"id":"1512ee27-6a59-4817-8608-3f19f0608dfd","name":"Webhook","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"abandono_plano_liberta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,128],"id":"bb80d3d4-0942-45bc-8703-92df223d34ff","name":"HTTP Request2"},{"parameters":{"email":"={{ $('Edit Fields5').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"6","value":"={{ $('Edit Fields5').item.json.profissao }}"},{"field":"19","value":"={{ $('Edit Fields5').item.json.situacao }}"},{"field":"13","value":"={{ $('Edit Fields5').item.json.tempo_formado }}"},{"field":"22","value":"={{ $('Edit Fields5').item.json.consultas_mes }}"},{"field":"23","value":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}"},{"field":"20","value":"={{ $('Edit Fields5').item.json.horas_plantoes }}"},{"field":"9","value":"={{ $('Edit Fields5').item.json.renda }}"},{"field":"11","value":"={{ $('Edit Fields5').item.json.incomodo }}"},{"field":"10","value":"={{ $('Edit Fields5').item.json.preco_consulta }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1728,2352],"id":"e1c7aeee-7dd9-4ce6-95fb-636f62162b62","name":"Create a contact2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactList","listId":14,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1456,2352],"id":"8a2e1e82-e7bd-447a-9769-d0fd8e72e954","name":"Add a contact to a list2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"38","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1728,2592],"id":"aaaa7257-6c70-40ed-a2f4-2beab17f3b32","name":"Add a contact tag3","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"42","contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-672,1712],"id":"d2d22bcd-65fa-4864-87ce-0787d417354f","name":"Add a contact tag4","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"42","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1456,2592],"id":"408c041f-5ee0-496f-bc8a-19860094d772","name":"Add a contact tag5","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"resource":"contactTag","tagId":"39","contactId":"={{ $('Create a contact2').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1152,2592],"id":"a61ccb38-d6aa-4893-9931-c3560621c55e","name":"Add a contact tag6","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"email":"={{ $('Edit Fields5').item.json.email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"6","value":"={{ $('Edit Fields5').item.json.profissao }}"},{"field":"19","value":"={{ $('Edit Fields5').item.json.situacao }}"},{"field":"13","value":"={{ $('Edit Fields5').item.json.tempo_formado }}"},{"field":"22","value":"={{ $('Edit Fields5').item.json.consultas_mes }}"},{"field":"23","value":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}"},{"field":"20","value":"={{ $('Edit Fields5').item.json.horas_plantoes }}"},{"field":"9","value":"={{ $('Edit Fields5').item.json.renda }}"},{"field":"11","value":"={{ $('Edit Fields5').item.json.incomodo }}"},{"field":"10","value":"={{ $('Edit Fields5').item.json.preco_consulta }}"}]}}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-976,1712],"id":"e612198b-c45d-4227-9fe4-b8bfe856555f","name":"Create a contact4","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"activeCampaignApi":{"id":"5offhZaqy5czb4wd","name":"https://meuconsultoriointeligente.api-us1.com"}}},{"parameters":{"content":"# É AMANHÃ","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,448],"typeVersion":1,"id":"5957c248-83ce-43b1-93e5-fcc9355b7314","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-amanha","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[880,576],"id":"6e544d78-83ec-4610-a620-8858a1b33fd3","name":"Webhook1","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.body['contact[phone]'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"lembrete_amanha\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\", \n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": {\n              \"link\": \"https://meuconsultoriointeligente.com/wp-content/uploads/2026/01/E-AMANHA-SEM-DATA.png\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,576],"id":"11519dd7-b179-43ae-8816-602b050478e8","name":"HTTP Request3"},{"parameters":{"content":"# É HOJE","height":368,"width":660},"type":"n8n-nodes-base.stickyNote","position":[784,0],"typeVersion":1,"id":"5be103ca-ff1f-4a71-a24e-a86bc97aa946","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-hoje","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[864,128],"id":"f123b5cd-2876-400f-abe3-208e60a0d178","name":"Webhook2","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.body['contact[phone]'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"lembrete_hoje\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\", \n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": {\n              \"link\": \"https://meuconsultoriointeligente.com/wp-content/uploads/2026/01/E-HOJE-SEM-DATA.png\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,128],"id":"7ecefec2-d576-4a14-84c7-a03adcb30f07","name":"HTTP Request4"},{"parameters":{"content":"# AO VIVO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,944],"typeVersion":1,"id":"124917c0-8fec-4b09-b51c-29f9799dc87b","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-ao-vivo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[96,1072],"id":"86546646-4d91-4f6b-b7e3-914594e81d0b","name":"Webhook3","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.body['contact[phone]'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"reuniao_vivo\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\", \n        \"parameters\": [\n          {\n            \"type\": \"video\",\n            \"video\": {\n              \"link\": \"https://meuconsultoriointeligente.com/video-ao-vivo-natalia\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,1072],"id":"870947cf-329d-43b0-8ade-61fe7ddb1c35","name":"HTTP Request6"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"plano_vivo_2\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,1536],"id":"52038dd0-2353-4250-bb6b-37234c03457a","name":"HTTP Request7"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-atrasado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,1536],"id":"6fac74c6-c4d4-46f9-847b-7bf11089bc75","name":"Webhook4","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# ATRASADO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,1392],"typeVersion":1,"id":"c0fa0968-f7b2-465b-8b6b-b4d9d8065e1e","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"pre_pitch\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,2000],"id":"d54bc390-63e5-43c4-82d6-533fd2a176ff","name":"HTTP Request8"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-pre-pitch","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,2000],"id":"52eb8b25-29e5-49c1-936d-ae09ecbbaa5e","name":"Webhook5","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# PRE-PITCH ","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,1856],"typeVersion":1,"id":"d14c54ab-0cc6-433c-8146-3059bf2e06fa","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"oferta_curta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,2480],"id":"c4305e64-d687-4e10-a264-723769e075bb","name":"HTTP Request9"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-oferta-curta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,2480],"id":"951c690d-65c7-4536-a0bd-00d167df3568","name":"Webhook6","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# OFERTA CURTA","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,2336],"typeVersion":1,"id":"432efe01-86b1-4b44-8882-5897b7779d25","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"zoom_qa\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1056],"id":"c42d6c4b-7485-4fe6-a185-d9369338927d","name":"HTTP Request10"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-sessao-black","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,1056],"id":"42580640-fb86-4e1d-bd0e-0b066e3e1b5e","name":"Webhook7","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# SESSÃO BLACK","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,912],"typeVersion":1,"id":"bd5c4835-9151-4755-9ba1-c3ace7a94f45","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"oferta_completa\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,2448],"id":"cc1a2675-fe7e-4788-8030-4d720ee7b43b","name":"HTTP Request11"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-oferta-completa","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,2448],"id":"bca17f17-f1a4-493a-a48f-1c2fd4fba881","name":"Webhook8","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# OFERTA COMPLETA","height":368,"width":644},"type":"n8n-nodes-base.stickyNote","position":[800,2304],"typeVersion":1,"id":"a6f98cc1-f00a-456d-b0e0-40f925214326","name":"Sticky Note9"},{"parameters":{"content":"# CONVITE INDIVIDUAL","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[16,480],"typeVersion":1,"id":"4449f71b-8f65-4c1e-8afe-4c3fca6d1b75","name":"Sticky Note10"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-convite-individual","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[96,608],"id":"8db92a08-f594-44c4-80ef-f27ebc85c934","name":"Webhook9","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"convite_plano_liberta\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,608],"id":"521f3dc1-0e1b-412c-95ba-fb6698ca32f8","name":"HTTP Request14"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"retorno_intervalo\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1968],"id":"f907c12b-3cac-4f73-a936-b56d574f31a3","name":"HTTP Request15"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-retorno-intervalo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,1968],"id":"62a05a3b-0f85-4e37-85aa-2800e4e45b8c","name":"Webhook10","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# RETORNO INTERVALO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,1824],"typeVersion":1,"id":"df3e4f53-561a-4d8c-9847-84fcd17de887","name":"Sticky Note11"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/864434140079317/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAxeLkfrZBt0BQk73ndUP76kX8GrwuOh8TVxL5aWFwiu3mnJuTQRrrHDyemeb20VAfLcUcVaJaXEMn51rmZCtwXj5NFmGmb2oAqZCteEIYPqcZCenp2MZAwm0nlBR18ncgAIV1RQVBPV7XR3No3Gm1CPhcCfp5iNGMUaiRXBNMMIPhn4ZCXYqk1EgBFTnECbSu"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $json.body['contact[phone]'] }}\",\n    \"type\": \"template\",\n    \"template\": {\n      \"name\": \"rp2\", \n      \"language\": {\n        \"code\": \"pt_BR\"\n      }\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1504],"id":"d666d447-863e-44bb-a582-11ad50d7c04d","name":"HTTP Request16"},{"parameters":{"httpMethod":"POST","path":"plano-liberta-aviso-replay-liberado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[896,1504],"id":"6595e755-b5d3-498d-9640-8af8afdc561f","name":"Webhook11","webhookId":"1098a420-4c33-4f8c-a351-56f9655f0307"},{"parameters":{"content":"# REPLAY LIBERADO","height":368,"width":628},"type":"n8n-nodes-base.stickyNote","position":[800,1360],"typeVersion":1,"id":"581a0f44-db8b-415f-80d1-2524477c46be","name":"Sticky Note13"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields5').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Edit Fields5').item.json.email }}","Qual sua especialidade/área de atuação?":"={{ $('Edit Fields5').item.json.profissao }}","Pré-qualificação":"={{ $('Edit Fields5').item.json.situacao }}","O que mais te incomoda na sua situação profissional atual?":"={{ $('Edit Fields5').item.json.incomodo }}","Há quanto tempo atua como profissional de saúde?":"={{ $('Edit Fields5').item.json.tempo_formado }}","Quantas consultas faz por mês?":"={{ $('Edit Fields5').item.json.consultas_mes }}","Faixa de faturamento":"={{ $('Edit Fields5').item.json.renda }}","Há quanto tempo você acompanha a Dra. Natália Daniela?":"={{ $('Edit Fields5').item.json.tempo_acompanha }}","Quantas horas você dedica a plantões/regime de horas por semana?":"={{ $('Edit Fields5').item.json.horas_plantoes }}","Interesse na mentoria":"={{ $('Edit Fields5').item.json.interesse_mentoria }}","Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}","Qual o valor da sua consulta?":"={{ $('Edit Fields5').item.json.preco_consulta }}"},"matchingColumns":["Email"],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pré-qualificação","displayName":"Pré-qualificação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seu @ do instagram","displayName":"Seu @ do instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual sua especialidade/área de atuação?","displayName":"Qual sua especialidade/área de atuação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sua situação atual de atendimento:","displayName":"Sua situação atual de atendimento:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica a plantões?","displayName":"Quantas horas por semana você dedica a plantões?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica ao consultório?","displayName":"Quantas horas por semana você dedica ao consultório?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que mais te incomoda na sua situação profissional atual?","displayName":"O que mais te incomoda na sua situação profissional atual?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","displayName":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o prazo limite que você se deu para resolver essa situação?","displayName":"Qual é o prazo limite que você se deu para resolver essa situação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","displayName":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo atua como profissional de saúde?","displayName":"Há quanto tempo atua como profissional de saúde?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas consultas faz por mês?","displayName":"Quantas consultas faz por mês?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o valor da sua consulta?","displayName":"Qual o valor da sua consulta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faixa de faturamento","displayName":"Faixa de faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","displayName":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas você dedica a plantões/regime de horas por semana?","displayName":"Quantas horas você dedica a plantões/regime de horas por semana?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesse na mentoria","displayName":"Interesse na mentoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo você acompanha a Dra. Natália Daniela?","displayName":"Há quanto tempo você acompanha a Dra. Natália Daniela?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1456,2128],"id":"5f2f7e59-dcca-40cd-a8b8-d3007bb1e03c","name":"Adiciona qualificação1","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g","mode":"list","cachedResultName":"Dados Funis - Natália Daniela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $('Edit Fields5').item.json.email }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1728,1728],"id":"40b33fe8-7db2-4754-a1ee-ebf82e14e2f1","name":"Busca qualificação","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08f012eb-77d0-4bc0-8407-e6333738aa79","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1472,1728],"id":"e5445ccd-274b-4932-835f-165b099051fd","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields5').item.json.id_sheet }}","mode":"id"},"sheetName":{"__rl":true,"value":1638440998,"mode":"list","cachedResultName":"Qualificação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QKe9JITIdJ_Us53yp4s7ra0AqvUSMRj2CiVm4KDXm_g/edit#gid=1638440998"},"columns":{"mappingMode":"defineBelow","value":{"Data Evento":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Edit Fields5').item.json.email }}","Qual sua especialidade/área de atuação?":"={{ $('Edit Fields5').item.json.profissao }}","Pré-qualificação":"={{ $('Edit Fields5').item.json.situacao }}","O que mais te incomoda na sua situação profissional atual?":"={{ $('Edit Fields5').item.json.incomodo }}","Há quanto tempo atua como profissional de saúde?":"={{ $('Edit Fields5').item.json.tempo_formado }}","Quantas consultas faz por mês?":"={{ $('Edit Fields5').item.json.consultas_mes }}","Faixa de faturamento":"={{ $('Edit Fields5').item.json.renda }}","Há quanto tempo você acompanha a Dra. Natália Daniela?":"={{ $('Edit Fields5').item.json.tempo_acompanha }}","Quantas horas você dedica a plantões/regime de horas por semana?":"={{ $('Edit Fields5').item.json.horas_plantoes }}","Interesse na mentoria":"={{ $('Edit Fields5').item.json.interesse_mentoria }}","Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?":"={{ $if($('Edit Fields5').item.json.horas_plantoes = 'Não faço plantões', 'Não', 'Sim') }}","Qual o valor da sua consulta?":"={{ $('Edit Fields5').item.json.preco_consulta }}"},"matchingColumns":["Email"],"schema":[{"id":"Data Evento","displayName":"Data Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pré-qualificação","displayName":"Pré-qualificação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seu @ do instagram","displayName":"Seu @ do instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual sua especialidade/área de atuação?","displayName":"Qual sua especialidade/área de atuação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sua situação atual de atendimento:","displayName":"Sua situação atual de atendimento:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica a plantões?","displayName":"Quantas horas por semana você dedica a plantões?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas por semana você dedica ao consultório?","displayName":"Quantas horas por semana você dedica ao consultório?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que mais te incomoda na sua situação profissional atual?","displayName":"O que mais te incomoda na sua situação profissional atual?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","displayName":"Se você pudesse conquistar apenas um objetivo nos próximos 3-6 meses, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o prazo limite que você se deu para resolver essa situação?","displayName":"Qual é o prazo limite que você se deu para resolver essa situação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","displayName":"Se você tivesse a certeza de que aumentaria sua renda médica em 3-6 meses, quanto investiria hoje para isso acontecer?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo atua como profissional de saúde?","displayName":"Há quanto tempo atua como profissional de saúde?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas consultas faz por mês?","displayName":"Quantas consultas faz por mês?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o valor da sua consulta?","displayName":"Qual o valor da sua consulta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faixa de faturamento","displayName":"Faixa de faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","displayName":"Você realiza plantões ou trabalha em regime de horas em hospitais/clínicas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantas horas você dedica a plantões/regime de horas por semana?","displayName":"Quantas horas você dedica a plantões/regime de horas por semana?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesse na mentoria","displayName":"Interesse na mentoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo você acompanha a Dra. Natália Daniela?","displayName":"Há quanto tempo você acompanha a Dra. Natália Daniela?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1232,1952],"id":"7fe1a57d-d964-437e-8c28-cd222254e688","name":"Adiciona qualificação","credentials":{"googleSheetsOAuth2Api":{"id":"3uRjhyWHk0iePiXn","name":"timesquadpro@gmail.com"}}}],"connections":{"Checkout - Plano que liberta":{"main":[[{"node":"Adiciona cadastro lead","type":"main","index":0},{"node":"Create a contact","type":"main","index":0}]]},"Adiciona cadastro lead11":{"main":[[{"node":"Adiciona qualificação1","type":"main","index":0}]]},"Busca cadastro5":{"main":[[{"node":"If5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Busca cadastro5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Busca qualificação","type":"main","index":0}],[{"node":"Adiciona cadastro lead11","type":"main","index":0}]]},"Cadastro Wordpress5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Aprovada - Plano que liberta":{"main":[[{"node":"Create a contact1","type":"main","index":0},{"node":"Filter1","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Add a contact to a list","type":"main","index":0}]]},"Add a contact to a list":{"main":[[{"node":"Add a contact tag","type":"main","index":0}]]},"Create a contact1":{"main":[[{"node":"Add a contact to a list1","type":"main","index":0}]]},"Add a contact to a list1":{"main":[[{"node":"Add a contact tag1","type":"main","index":0}]]},"Add a contact tag1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Add a contact tag2","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Create a contact2":{"main":[[{"node":"Add a contact to a list2","type":"main","index":0}]]},"Add a contact to a list2":{"main":[[{"node":"Add a contact tag3","type":"main","index":0}]]},"Add a contact tag3":{"main":[[{"node":"Add a contact tag5","type":"main","index":0}]]},"Add a contact tag5":{"main":[[{"node":"Add a contact tag6","type":"main","index":0}]]},"Create a contact4":{"main":[[{"node":"Add a contact tag4","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Webhook4":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Webhook5":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Webhook6":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Webhook7":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"Webhook8":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"Webhook9":{"main":[[{"node":"HTTP Request14","type":"main","index":0}]]},"Webhook10":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"Webhook11":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"Adiciona qualificação1":{"main":[[{"node":"Create a contact2","type":"main","index":0}]]},"Busca qualificação":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a contact4","type":"main","index":0}],[{"node":"Adiciona qualificação","type":"main","index":0}]]},"Adiciona qualificação":{"main":[[{"node":"Create a contact4","type":"main","index":0}]]}},"authors":"Time Squad","name":"Version 5dbf6f92","description":"","autosaved":true},"tags":[]}