backup-n8n-workflows-88DUMHW8oi6SFHBC.json
{"updatedAt":"2026-03-06T20:02:11.312Z","createdAt":"2026-03-06T19:49:32.669Z","id":"88DUMHW8oi6SFHBC","name":"Backup n8n workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"8b4b946b-0350-4119-857e-d3987ff8e3c2","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"0897c5ad-ed79-4fcd-a95d-0f5a6d6cfdb0","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[448,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0cfaf8ed-8dbe-4d9d-9917-1d23662023ee","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,416]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/timesquadpro","mode":"url"},"repository":{"__rl":true,"value":"bkp-n8n","mode":"list","cachedResultName":"bkp-n8n","cachedResultUrl":"https://github.com/timesquadpro/bkp-n8n"},"filePath":"="},"id":"34edf6f1-2d79-468c-9711-e4df091d8d49","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[848,416],"alwaysOutputData":true,"webhookId":"1614f533-adb7-4263-9eb5-cd2e446447b6","credentials":{"githubOAuth2Api":{"id":"5oGoYz80yR4Yd9Rc","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"c2323574-3687-4981-b3d4-e28a27098aaf","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,416]},{"parameters":{"filters":{},"requestOptions":{}},"id":"3f507d7b-3a6f-4456-8906-54d55c955bdd","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1360,416],"credentials":{"n8nApi":{"id":"WRynunuMuIZmFzz9","name":"n8n account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"eedebf3a-d1c2-40a1-98e6-a2351eb13ddd","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,416]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $('Retrieve workflows [N8N]').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows [N8N]').item.json.id }}.{{\"json\"}}"}]}},"id":"fb9d959a-4fe6-4cb7-baaf-52c9ac2172f5","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,416]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/timesquadpro","mode":"url"},"repository":{"__rl":true,"value":"bkp-n8n","mode":"list","cachedResultName":"bkp-n8n","cachedResultUrl":"https://github.com/timesquadpro/bkp-n8n"},"filePath":"={{ $('Retrieve workflows [N8N]').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows [N8N]').item.json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"3449d208-f49d-4124-a22e-56b86daa39c1","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2112,160],"webhookId":"0d140710-d498-4d2a-a76d-fa912a6b1bd2","credentials":{"githubOAuth2Api":{"id":"5oGoYz80yR4Yd9Rc","name":"timesquadpro@gmail.com"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/timesquadpro","mode":"url"},"repository":{"__rl":true,"mode":"list","value":"bkp-n8n"},"filePath":"={{ $('Retrieve workflows [N8N]').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows [N8N]').item.json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"ee8693d0-e3ca-4109-9695-53d91a2ec04e","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2112,464],"webhookId":"9732b981-7cba-41a5-ad7e-c5e1e518902a","credentials":{"githubOAuth2Api":{"id":"5oGoYz80yR4Yd9Rc","name":"timesquadpro@gmail.com"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":59}]}},"id":"785939ce-537e-45ae-a621-f55b3d130d74","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[16,416],"typeVersion":1.2},{"parameters":{},"id":"9d90812a-eb2d-4bf2-93b4-c836cd3cc30f","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,208]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8d580dd3-9389-4449-a6cc-eef9456d2720","activeVersionId":"8d580dd3-9389-4449-a6cc-eef9456d2720","triggerCount":1,"shared":[{"updatedAt":"2026-03-06T19:49:32.669Z","createdAt":"2026-03-06T19:49:32.669Z","role":"workflow:owner","workflowId":"88DUMHW8oi6SFHBC","projectId":"Hmdj10S2UmldCQEM"}],"activeVersion":{"updatedAt":"2026-03-06T20:02:19.849Z","createdAt":"2026-03-06T20:02:11.313Z","versionId":"8d580dd3-9389-4449-a6cc-eef9456d2720","workflowId":"88DUMHW8oi6SFHBC","nodes":[{"parameters":{"options":{}},"id":"8b4b946b-0350-4119-857e-d3987ff8e3c2","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"0897c5ad-ed79-4fcd-a95d-0f5a6d6cfdb0","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[448,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0cfaf8ed-8dbe-4d9d-9917-1d23662023ee","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,416]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/timesquadpro","mode":"url"},"repository":{"__rl":true,"value":"bkp-n8n","mode":"list","cachedResultName":"bkp-n8n","cachedResultUrl":"https://github.com/timesquadpro/bkp-n8n"},"filePath":"="},"id":"34edf6f1-2d79-468c-9711-e4df091d8d49","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[848,416],"alwaysOutputData":true,"webhookId":"1614f533-adb7-4263-9eb5-cd2e446447b6","credentials":{"githubOAuth2Api":{"id":"5oGoYz80yR4Yd9Rc","name":"timesquadpro@gmail.com"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"c2323574-3687-4981-b3d4-e28a27098aaf","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,416]},{"parameters":{"filters":{},"requestOptions":{}},"id":"3f507d7b-3a6f-4456-8906-54d55c955bdd","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1360,416],"credentials":{"n8nApi":{"id":"WRynunuMuIZmFzz9","name":"n8n account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"eedebf3a-d1c2-40a1-98e6-a2351eb13ddd","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,416]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $('Retrieve workflows [N8N]').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows [N8N]').item.json.id }}.{{\"json\"}}"}]}},"id":"fb9d959a-4fe6-4cb7-baaf-52c9ac2172f5","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,416]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/timesquadpro","mode":"url"},"repository":{"__rl":true,"value":"bkp-n8n","mode":"list","cachedResultName":"bkp-n8n","cachedResultUrl":"https://github.com/timesquadpro/bkp-n8n"},"filePath":"={{ $('Retrieve workflows [N8N]').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows [N8N]').item.json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"3449d208-f49d-4124-a22e-56b86daa39c1","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2112,160],"webhookId":"0d140710-d498-4d2a-a76d-fa912a6b1bd2","credentials":{"githubOAuth2Api":{"id":"5oGoYz80yR4Yd9Rc","name":"timesquadpro@gmail.com"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/timesquadpro","mode":"url"},"repository":{"__rl":true,"mode":"list","value":"bkp-n8n"},"filePath":"={{ $('Retrieve workflows [N8N]').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows [N8N]').item.json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"ee8693d0-e3ca-4109-9695-53d91a2ec04e","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2112,464],"webhookId":"9732b981-7cba-41a5-ad7e-c5e1e518902a","credentials":{"githubOAuth2Api":{"id":"5oGoYz80yR4Yd9Rc","name":"timesquadpro@gmail.com"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":59}]}},"id":"785939ce-537e-45ae-a621-f55b3d130d74","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[16,416],"typeVersion":1.2},{"parameters":{},"id":"9d90812a-eb2d-4bf2-93b4-c836cd3cc30f","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,208]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"authors":"Time Squad","name":"Version 8d580dd3","description":"","autosaved":true},"tags":[]}